<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/2001_Contributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2001 Indivdual Contributions**

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [567 kB]
Hit:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,324 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,799 kB]
Get:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [717 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [921 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [600 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,760 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:25 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.8 kB]
Fetched 13.6 MB in 5s (2,691 kB/s)
Reading package lists... Done

In [2]:
import findspark
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-14 14:02:40--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  5.44MB/s    in 0.2s

2021-09-14 14:02:41 (5.44 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [4]:
# Start Spark session
#from pyspark.sql import SparkSession
#from pyspark.sql.functions import col
#spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Individual+Contributions+2001+(UF).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Individual+Contributions+2001+(UF).csv"), sep=",", header=True)
df.show()

+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|           DATE|REFUNDDATE|NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|CITY|STATE|  ZIP|       OCCUPATION|             EMPNAME|EMPSTRNO|        EMPSTRNAME| EMPCITY|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2001|       5|   579|       P|     Hughes|  Michael|     B|        H|    10|     ABC|  null|      null|P0009-05|  8/8/2001 0:00|      null|null|   IND| null|   null|     null|        M|  NY|   NY|10034|             null|                null|    null|              null|    null|    null|  10|       10|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   559|       P|     Wooten|   Donald|     T|        H|    10|       D|  null|      null|P0001-01| 8/31/2001 0:00|      null|null|  OTHR| null|   null|     null|     null|null| null| null|SOCIAL CLUB OWNER|       THE ELITE ARK|      48|       WORTMAN AVE|BROOKLYN|      NY|   1|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    RENTO|    null|     null|     N|   null|      null|
|    2001|       5|    C6|       P|    Fabozzi|   Albert|  null|        H|     6|     ABC|  null|      null|P0003-08|  8/1/2000 0:00|      null|null|  CORP| null|   null|     null|     null|null| null| null|             null|MYOPTIC S DIVISIO...|      82|CHRISTOPHER STREET|NEW YORK|      NY| 100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0007-09|  7/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  25|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0007-10|  7/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null| 100|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0001-08| 3/20/2001 0:00|      null|null|  UNKN| null|   null|     null|        X|null| null| null|             null|                null|    null|              null|    null|    null| 260|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0001-05| 2/20/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null| 300|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|    MJ|       P|   Martinez|     Juan|     D|        H|     9|     ABC|  null|      null|P0001-10|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   448|       P|    Ciafone|     John|     J|        H|    10|     ABC|  null|      null|P0003-04|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0002-06| 4/24/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|1040|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0003-01| 4/24/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|       NOT AVAILABLE|    null|              null|    null|    null| 250|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   553|       P|Atwood King|Elizabeth|  null|        H|     9|     ABC|  null|      null|P0002-01| 7/13/2001 0:00|      null|null|   IND| null|   null|     null|        K|null| null| null|             null|                null|    null|              null|    null|    null|  45|       45|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0005-07|10/12/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|DISTRICT 15 INTER...|    1455|       MAIN AVENUE| CLIFTON|      NJ| 200|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0005-08|10/20/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|EUREKA LODGE NO 4...|   91-31|QUEENS BLVD RM 406|ELMHURST|      NY| 100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0006-01|10/13/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|DIST 15 INTERN L ...|    1455|       MAIN AVENUE| CLIFTON|      NJ| 150|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   232|       P|     Weprin|    David|     I|        H|     8|     ABC|  null|      null|P0001-06|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   553|       P|Atwood King|Elizabeth|  null|        H|     8|     ABC|  null|      null|P0007-10|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  50|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|    F5|       P|    Montano|  Armando|  null|        H|    15|     ABC|  null|      null|P0001-01| 10/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  25|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   232|       P|     Weprin|    David|     I|        H|    12|     ABC|  null|      null|P0001-04| 8/23/2001 0:00|      null|null| PCOMP| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   334|       P|  Gallagher|   Dennis|     P|        H|    11|     ABC|  null|      null|P0006-01| 9/12/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|  COVILLA ETHELRIDGE|     180|      CABRINI BLVD|NEW YORK|      NY| 200|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [7]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'CANDMI', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','INTERMNO', 'REFUNDDATE', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+------+--------+-----------+---------+------+---------------+----+------+---------+----+-----+-----+--------+----+---------+--------+----------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|CANDMI|           DATE|NAME|C_CODE|BOROUGHCD|CITY|STATE|  ZIP|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+------+--------+-----------+---------+------+---------------+----+------+---------+----+-----+-----+--------+----+---------+--------+----------+
|    2001|       5|   579|       P|     Hughes|  Michael|     B|  8/8/2001 0:00|null|   IND|        M|  NY|   NY|10034|    null|  10|       10|       0|         2|
|    2001|       5|   559|       P|     Wooten|   Donald|     T| 8/31/2001 0:00|null|  OTHR|     null|null| null| null|      NY|   1|        0|       0|         0|
|    2001|       5|    C6|       P|    Fabozzi|   Albert|  null|  8/1/2000 0:00|null|  CORP|     null|null| null| null|      NY| 100|        0|       0|         2|
|    2001|       2|   366|       P|      Colon|   Willie|  null|  7/5/2001 0:00|null|  UNKN|     null|null| null| null|    null|  25|        0|       0|         0|
|    2001|       2|   366|       P|      Colon|   Willie|  null|  7/5/2001 0:00|null|  UNKN|     null|null| null| null|    null| 100|        0|       0|         0|
|    2001|       2|   366|       P|      Colon|   Willie|  null| 3/20/2001 0:00|null|  UNKN|        X|null| null| null|    null| 260|        0|       0|         0|
|    2001|       2|   366|       P|      Colon|   Willie|  null| 2/20/2001 0:00|null|  UNKN|     null|null| null| null|    null| 300|        0|       0|         0|
|    2001|       5|    MJ|       P|   Martinez|     Juan|     D|           null|null|  UNKN|     null|null| null| null|    null|   0|        0|       0|         0|
|    2001|       5|   448|       P|    Ciafone|     John|     J|           null|null|  UNKN|     null|null| null| null|    null|   0|        0|       0|         0|
|    2001|       2|   366|       P|      Colon|   Willie|  null| 4/24/2001 0:00|null|   IND|     null|null| null| null|    null|1040|        0|       0|         0|
|    2001|       2|   366|       P|      Colon|   Willie|  null| 4/24/2001 0:00|null|   IND|     null|null| null| null|    null| 250|        0|       0|         0|
|    2001|       5|   553|       P|Atwood King|Elizabeth|  null| 7/13/2001 0:00|null|   IND|        K|null| null| null|    null|  45|       45|       0|         2|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|10/12/1999 0:00|null|  EMPO|     null|null| null| null|      NJ| 200|        0|       0|         2|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|10/20/1999 0:00|null|  EMPO|     null|null| null| null|      NY| 100|        0|       0|         2|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|10/13/1999 0:00|null|  EMPO|     null|null| null| null|      NJ| 150|        0|       0|         2|
|    2001|       5|   232|       P|     Weprin|    David|     I|           null|null|  UNKN|     null|null| null| null|    null|   0|        0|       0|         0|
|    2001|       5|   553|       P|Atwood King|Elizabeth|  null|           null|null|  UNKN|     null|null| null| null|    null|  50|        0|       0|         2|
|    2001|       5|    F5|       P|    Montano|  Armando|  null| 10/5/2001 0:00|null|  UNKN|     null|null| null| null|    null|  25|        0|       0|         0|
|    2001|       5|   232|       P|     Weprin|    David|     I| 8/23/2001 0:00|null| PCOMP|     null|null| null| null|    null|   0|        0|       0|         0|
|    2001|       5|   334|       P|  Gallagher|   Dennis|     P| 9/12/2001 0:00|null|   IND|     null|null| null| null|      NY| 200|        0|       0|         2|
+--------+--------+------+--------+-----------+---------+------+---------------+----+------+---------+----+-----+-----+--------+----+---------+--------+----------+
only showing top 20 rows

In [8]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('CANDID', 'string'),
 ('CANCLASS', 'string'),
 ('CANDLAST', 'string'),
 ('CANDFIRST', 'string'),
 ('CANDMI', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [ ]:
#Combine the Candidate first and last name columns

In [9]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributerType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod")


df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CANDID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CANDLAST: string (nullable = true)
 |-- CANDFIRST: string (nullable = true)
 |-- CANDMI: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [10]:
#Drop the null candidateID values
#df2 = df1.na.drop(subset=['CandidateID']).show()

In [11]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [12]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
df2 = df1.withColumn("Election", df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn('Date', func(col('Date')))
df2.printSchema()

AnalysisException: ignored

In [ ]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributerType', regexp_replace('ContributerType', 'CAN', 'Candidate')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'CORP', 'Corporation')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'IND', 'Individual')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'ORG', 'Orgainization')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'SPO', 'Spouse')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'OTHR', 'Other')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PART', 'Individual')) \

In [ ]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [ ]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [ ]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

In [ ]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

In [ ]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

In [ ]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [ ]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_indiv_2001_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_indiv_2001_df.show()

In [ ]:
#Export to Clean CSV
clean_indiv_2001_df.toPandas().to_csv("Clean_Indivdual_2001.csv", header=True)

## **2001 Committee Contributions**

In [ ]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Committee+Contributions+2001+(X).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Committee+Contributions+2001+(X).csv"), sep=",", header=True)
df.show()

In [ ]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','REFUNDDATE','INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

In [ ]:
# check data types
df.dtypes

In [ ]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributerType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod") 

df1.printSchema()

In [ ]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [ ]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
df2 = df1.withColumn("Election",df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn('Date', func(col('Date')))
df2.printSchema()

In [ ]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributerType', regexp_replace('ContributerType', 'CAN', 'Candidate')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'CORP', 'Corporation')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'IND', 'Individual')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'ORG', 'Orgainization')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'SPO', 'Spouse')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'OTHR', 'Other')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PART', 'Individual')) \

In [ ]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [ ]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [ ]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

In [ ]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

In [ ]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

In [ ]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [ ]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_comm_2001_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_comm_2001_df.show()

In [ ]:
#Export to new CSV
clean_comm_2017_df.toPandas().to_csv("Clean_Committee_2001.csv", header=True)

In [ ]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "******",
          "driver":"org.postgresql.Driver"}

In [ ]:
# Write DataFrame to active_user table in RDS
clean_indiv_2017_df.write.jdbc(url=jdbc_url, table='individual_2017', mode=mode, properties=config)

In [ ]:
# Write DataFrame to active_user table in RDS
clean_comm_2017_df.write.jdbc(url=jdbc_url, table='committee_2017', mode=mode, properties=config)