<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/2009_Contributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2013 Indivdual Contributions**

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [700 kB]
Hit:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,796 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,295 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,755 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [594 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [919 kB]
Fetched 11.5 MB in 6s (1,857 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-07 18:53:53--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  6.05MB/s    in 0.2s

2021-09-07 18:53:54 (6.05 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Individual+Contributions+2009+(UF).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Individual+Contributions+2009+(UF).csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+-------------+---------+------+--------+------+----------+--------+---------+----------+------------------+------+-----+-------+---------+---------+---------+-----+-----+--------------------+-------------------+--------+--------------------+----------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|    RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|     DATE|REFUNDDATE|              NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|     CITY|STATE|  ZIP|          OCCUPATION|            EMPNAME|EMPSTRNO|          EMPSTRNAME|         EMPCITY|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+-------------+---------+------+--------+------+----------+--------+---------+----------+------------------+------+-----+-------+---------+---------+---------+-----+-----+--------------------+-------------------+--------+--------------------+----------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000020|1/22/2009|      null|     Morris, Blake|   IND| null|   null|     null|        K| Brooklyn|   NY|11226|            Attorney|      Self-employed|    null|                null|        Brooklyn|      NY| 100|      100|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000022| 2/3/2009|      null|     Pikttch, Ruth|   IND| null|   null|     null|        K| Brooklyn|   NY|11214|             Retired|               null|    null|                null|        Brooklyn|      NY|  50|       50|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000024|1/22/2009|      null| Goldstein, Benita|   IND| null|   null|     null|        M| New York|   NY|10021|      Office Manager|  Mirrors by Jordan|   38-27|         28th Street|Long Island City|      NY|  40|       40|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000025|11/6/2008|      null|     GOODWIN, GWEN|   CAN| null|   null|     null|        M| New York|   NY|10029|      Make-up Artist|      Self-employed|    null|                null|        New York|      NY|  25|        0|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000035|2/26/2009|      null|   Anderson, Peter|   IND| null|   null|     null|        M| New York|   NY|10037|      Letter Carrier|U.S. Postal Service|     421|          8th Avenue|        New York|      NY|  40|       40|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000041|11/6/2008|      null|     GOODWIN, GWEN|   CAN| null|   null|     null|        M| New York|   NY|10029|      Make-up Artist|      Self-employed|    null|                null|        New York|      NY|  25|        0|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000048|3/28/2009|      null|     Perez, Andrew|   IND| null|   null|     null|        M| New York|   NY|10028|         Sales Clerk|        Barney's NY|     660|      Madison Avenue|        New York|      NY|  10|       10|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000050| 5/4/2009|      null|    Rodriguez, Ana|   IND| null|   null|     null|        M| New York|   NY|10029|        Floor Person|       CVS Pharmacy|    1500|    Lexington Avenue|        New York|      NY|  15|       15|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000052|4/14/2009|      null|  Bryant, Robert A|   IND| null|   null|     null|        Z|Hillcrest|   NY|10977|         Firefighter|            Retired|    null|                null|            null|    null| 100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000054|3/16/2009|      null| Reinert, Pamela A|   IND| null|   null|     null|        M| New York|   NY|10029|                null|            Retired|    null|                null|            null|    null| 250|      175|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000059| 5/4/2009|      null|Palmieri, Pasquale|   IND| null|   null|     null|        M| New York|   NY|10035|            Landlord|      Self-employed|    null|                null|        New York|      NY| 500|      175|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000061| 5/2/2009|      null|       Bruno, Jo C|   IND| null|   null|     null|        M| New York|   NY|10017|             Teacher|            Retired|    null|                null|            null|    null|  25|       25|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000073|5/14/2009|      null|    Epstein, Lorie|   IND| null|   null|     null|        M| New York|   NY|10128|             Teacher|            Retired|    null|                null|            null|    null|  10|       10|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000081|5/23/2009|      null|   BROWN, FRANCINE|   IND| null|   null|     null|        M| New York|   NY|10037|    PERSONAL TRAINER|          92 St.  Y|    null|975 LEXINGTON AVENUE|        New York|      NY|  20|       20|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000083|5/23/2009|      null|    ASHANTE, OMEGA|   IND| null|   null|     null|        K| Brooklyn|   NY|11226|            MUSICIAN|      SELF EMPLOYED|    null|                null|            null|    null|  10|       10|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000085|5/23/2009|      null| Reinert, Pamela A|   IND| null|   null|     null|        M| New York|   NY|10029|                null|            Retired|    null|                null|            null|    null|  20|        0|     250|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000087|5/23/2009|      null|      SOLER, JAMES|   IND| null|   null|     null|        M| New York|   NY|10029|                null|            RETIRED|    null|                null|            null|    null|  50|       50|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000089|5/23/2009|      null|   DELUCA, ANTHONY|   IND| null|   null|     null|        M| New York|   NY|10025|ART FABRICATION /...|      SELF-EMPLOYED|    null|                null|        New York|      NY|  25|       25|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000092|5/23/2009|      null|  BERKLEY, CARLTON|   IND| null|   null|     null|        M| New York|   NY|10035|            SECURITY|   JOHN JAY COLLEGE|     899|         10TH AVENUE|        New York|      NY|  40|       40|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000095|5/13/2009|      null|        KOCH, ERIC|   IND| null|   null|     null|        M| New York|   NY|10033|                null|            RETIRED|    null|                null|            null|    null|  20|       20|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+-------+--------+-------------+---------+------+--------+------+----------+--------+---------+----------+------------------+------+-----+-------+---------+---------+---------+-----+-----+--------------------+-------------------+--------+--------------------+----------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [5]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','REFUNDDATE','INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+-------------+---------+------------------+------+---------+---------+-----+-----+--------+----+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|    RECIPNAME|     DATE|              NAME|C_CODE|BOROUGHCD|     CITY|STATE|  ZIP|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+-------------+---------+------------------+------+---------+---------+-----+-----+--------+----+---------+--------+----------+
|    2009|       5|   1009|       P|Goodwin, Gwen|1/22/2009|     Morris, Blake|   IND|        K| Brooklyn|   NY|11226|      NY| 100|      100|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen| 2/3/2009|     Pikttch, Ruth|   IND|        K| Brooklyn|   NY|11214|      NY|  50|       50|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|1/22/2009| Goldstein, Benita|   IND|        M| New York|   NY|10021|      NY|  40|       40|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|11/6/2008|     GOODWIN, GWEN|   CAN|        M| New York|   NY|10029|      NY|  25|        0|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|2/26/2009|   Anderson, Peter|   IND|        M| New York|   NY|10037|      NY|  40|       40|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|11/6/2008|     GOODWIN, GWEN|   CAN|        M| New York|   NY|10029|      NY|  25|        0|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|3/28/2009|     Perez, Andrew|   IND|        M| New York|   NY|10028|      NY|  10|       10|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen| 5/4/2009|    Rodriguez, Ana|   IND|        M| New York|   NY|10029|      NY|  15|       15|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|4/14/2009|  Bryant, Robert A|   IND|        Z|Hillcrest|   NY|10977|    null| 100|        0|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|3/16/2009| Reinert, Pamela A|   IND|        M| New York|   NY|10029|    null| 250|      175|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen| 5/4/2009|Palmieri, Pasquale|   IND|        M| New York|   NY|10035|      NY| 500|      175|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen| 5/2/2009|       Bruno, Jo C|   IND|        M| New York|   NY|10017|    null|  25|       25|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/14/2009|    Epstein, Lorie|   IND|        M| New York|   NY|10128|    null|  10|       10|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|   BROWN, FRANCINE|   IND|        M| New York|   NY|10037|      NY|  20|       20|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|    ASHANTE, OMEGA|   IND|        K| Brooklyn|   NY|11226|    null|  10|       10|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009| Reinert, Pamela A|   IND|        M| New York|   NY|10029|    null|  20|        0|     250|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|      SOLER, JAMES|   IND|        M| New York|   NY|10029|    null|  50|       50|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|   DELUCA, ANTHONY|   IND|        M| New York|   NY|10025|      NY|  25|       25|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|  BERKLEY, CARLTON|   IND|        M| New York|   NY|10035|      NY|  40|       40|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/13/2009|        KOCH, ERIC|   IND|        M| New York|   NY|10033|    null|  20|       20|       0|         2|
+--------+--------+-------+--------+-------------+---------+------------------+------+---------+---------+-----+-----+--------+----+---------+--------+----------+
only showing top 20 rows

In [6]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [7]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributerType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod") 

df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [8]:
# changing datatypes of columns
df2 = df1 \
  .withColumn("Election",df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn("Date", df1["Date"].cast("Date")) \
  
df2.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- MatchAmt: float (nullable = true)
 |-- PrevAmt: float (nullable = true)
 |-- PayMethod: string (nullable = true)

In [9]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributerType', regexp_replace('ContributerType', 'CAN', 'Candidate')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'CORP', 'Corporation')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'IND', 'Individual')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'ORG', 'Orgainization')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'SPO', 'Spouse')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'OTHR', 'Other')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PART', 'Individual')) \

In [10]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [11]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [12]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

+--------+--------+-----------+--------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|Date|                Name|ContributerType|BoroughName|         City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|  PayMethod|
+--------+--------+-----------+--------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+
|    2009|       1|       1266|       P|Joiner-Eiland, Ty...|null|   Eiland, Tyrrell L|      Candidate|      Other| Port Chester|   NY|  10573|               NY|   9.0|     0.0|    0.0|       Cash|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|               NY| 200.0|     0.0|    0.0|       Cash|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|               NY|  46.1|     0.0|    0.0|    Unknown|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|             null|-200.0|     0.0|    0.0|    Unknown|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|       null|    Nesconset|   NY|  11767|             null| 575.7|     0.0|    0.0|    Unknown|
|    2009|       1|       1317|       P|        Talen, Billy|null|      Talen, William|      Candidate|   Brooklyn|     Brooklyn|   NY|  11218|               NY| 500.0|   175.0|    0.0|      Check|
|    2009|       1|       1317|       P|        Talen, Billy|null|     Mattera, Gloria|     Individual|   Brooklyn|     Brooklyn|   NY|  11215|               NY| 175.0|   175.0|    0.0|      Check|
|    2009|       1|       1317|       P|        Talen, Billy|null|        Read, Mark W|     Individual|   Brooklyn|     Brooklyn|   NY|  11238|               NY| 175.0|   175.0|    0.0|      Check|
|    2009|       1|       1317|       P|        Talen, Billy|null|  Emperor, Michael D|     Individual|   Brooklyn|     Brooklyn|   NY|  11209|               NY| 175.0|   175.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|  DeFilippo, Michael|     Individual|      Other|       Newark|   NJ|   7101|               NY|  20.0|     0.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|       Baker, Brandy|     Individual|      Other|    Baltimore|   MD|  21218|               MD| 100.0|     0.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null| Mirarchi, Elizabeth|     Individual|  Manhattan|     New York|   NY|  10031|               NY|  10.0|    10.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|  Emperor, Michael D|     Individual|   Brooklyn|     Brooklyn|   NY|  11209|               NY|   5.0|     0.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|Oman-Reagan, Michael|     Individual|   Brooklyn|     Brooklyn|   NY|  11211|               NY|  50.0|    50.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|       Brown, Hilary|     Individual|      Other|      Orlando|   FL|  32806|               FL|  50.0|     0.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|     White, Jennifer|     Individual|   Brooklyn|     Brooklyn|   NY|  11206|               NY|  10.0|    10.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|       Hoenig, Myles|     Individual|      Other|    Baltimore|   MD|  21218|               MD|  25.0|     0.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|        Barnes, Mark|     Individual|      Other|San Francisco|   CA|  94108|               CA|  50.0|     0.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|        Lawton, Sean|     Individual|      Other|    Arlington|   VA|  22206|               VA| 200.0|     0.0|    0.0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|null|            Talen, W|     Individual|      Other|   Northfield|   MN|  55057|               MN| 175.0|     0.0|    0.0|Credit Card|
+--------+--------+-----------+--------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+
only showing top 20 rows

In [13]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [14]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

+--------+-----------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+
|Election|CandidateID|       CandidateName|Date|                Name|ContributerType|BoroughName|         City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|  PayMethod|
+--------+-----------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+
|    2009|       1266|Joiner-Eiland, Ty...|null|   Eiland, Tyrrell L|      Candidate|      Other| Port Chester|   NY|  10573|               NY|   9.0|     0.0|    0.0|       Cash|
|    2009|       1286|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|               NY| 200.0|     0.0|    0.0|       Cash|
|    2009|       1286|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|               NY|  46.1|     0.0|    0.0|    Unknown|
|    2009|       1286|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|             null|-200.0|     0.0|    0.0|    Unknown|
|    2009|       1286|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|       null|    Nesconset|   NY|  11767|             null| 575.7|     0.0|    0.0|    Unknown|
|    2009|       1317|        Talen, Billy|null|      Talen, William|      Candidate|   Brooklyn|     Brooklyn|   NY|  11218|               NY| 500.0|   175.0|    0.0|      Check|
|    2009|       1317|        Talen, Billy|null|     Mattera, Gloria|     Individual|   Brooklyn|     Brooklyn|   NY|  11215|               NY| 175.0|   175.0|    0.0|      Check|
|    2009|       1317|        Talen, Billy|null|        Read, Mark W|     Individual|   Brooklyn|     Brooklyn|   NY|  11238|               NY| 175.0|   175.0|    0.0|      Check|
|    2009|       1317|        Talen, Billy|null|  Emperor, Michael D|     Individual|   Brooklyn|     Brooklyn|   NY|  11209|               NY| 175.0|   175.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|  DeFilippo, Michael|     Individual|      Other|       Newark|   NJ|   7101|               NY|  20.0|     0.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|       Baker, Brandy|     Individual|      Other|    Baltimore|   MD|  21218|               MD| 100.0|     0.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null| Mirarchi, Elizabeth|     Individual|  Manhattan|     New York|   NY|  10031|               NY|  10.0|    10.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|  Emperor, Michael D|     Individual|   Brooklyn|     Brooklyn|   NY|  11209|               NY|   5.0|     0.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|Oman-Reagan, Michael|     Individual|   Brooklyn|     Brooklyn|   NY|  11211|               NY|  50.0|    50.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|       Brown, Hilary|     Individual|      Other|      Orlando|   FL|  32806|               FL|  50.0|     0.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|     White, Jennifer|     Individual|   Brooklyn|     Brooklyn|   NY|  11206|               NY|  10.0|    10.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|       Hoenig, Myles|     Individual|      Other|    Baltimore|   MD|  21218|               MD|  25.0|     0.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|        Barnes, Mark|     Individual|      Other|San Francisco|   CA|  94108|               CA|  50.0|     0.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|        Lawton, Sean|     Individual|      Other|    Arlington|   VA|  22206|               VA| 200.0|     0.0|    0.0|Credit Card|
|    2009|       1317|        Talen, Billy|null|            Talen, W|     Individual|      Other|   Northfield|   MN|  55057|               MN| 175.0|     0.0|    0.0|Credit Card|
+--------+-----------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+
only showing top 20 rows

In [15]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
df8 = df7.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
df8.show()

+--------+-----------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
|Election|CandidateID|       CandidateName|Date|                Name|ContributerType|BoroughName|         City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|  PayMethod|TotalAmount|
+--------+-----------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
|    2009|       1266|Joiner-Eiland, Ty...|null|   Eiland, Tyrrell L|      Candidate|      Other| Port Chester|   NY|  10573|               NY|   9.0|     0.0|    0.0|       Cash|        9.0|
|    2009|       1286|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|               NY| 200.0|     0.0|    0.0|       Cash|      200.0|
|    2009|       1286|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|               NY|  46.1|     0.0|    0.0|    Unknown|       46.1|
|    2009|       1286|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|      Other|    Nesconset|   NY|  11767|             null|-200.0|     0.0|    0.0|    Unknown|     -200.0|
|    2009|       1286|Coenen, Jr., Kevin P|null|     Coenen, Kevin P|      Candidate|       null|    Nesconset|   NY|  11767|             null| 575.7|     0.0|    0.0|    Unknown|      575.7|
|    2009|       1317|        Talen, Billy|null|      Talen, William|      Candidate|   Brooklyn|     Brooklyn|   NY|  11218|               NY| 500.0|   175.0|    0.0|      Check|      675.0|
|    2009|       1317|        Talen, Billy|null|     Mattera, Gloria|     Individual|   Brooklyn|     Brooklyn|   NY|  11215|               NY| 175.0|   175.0|    0.0|      Check|      350.0|
|    2009|       1317|        Talen, Billy|null|        Read, Mark W|     Individual|   Brooklyn|     Brooklyn|   NY|  11238|               NY| 175.0|   175.0|    0.0|      Check|      350.0|
|    2009|       1317|        Talen, Billy|null|  Emperor, Michael D|     Individual|   Brooklyn|     Brooklyn|   NY|  11209|               NY| 175.0|   175.0|    0.0|Credit Card|      350.0|
|    2009|       1317|        Talen, Billy|null|  DeFilippo, Michael|     Individual|      Other|       Newark|   NJ|   7101|               NY|  20.0|     0.0|    0.0|Credit Card|       20.0|
|    2009|       1317|        Talen, Billy|null|       Baker, Brandy|     Individual|      Other|    Baltimore|   MD|  21218|               MD| 100.0|     0.0|    0.0|Credit Card|      100.0|
|    2009|       1317|        Talen, Billy|null| Mirarchi, Elizabeth|     Individual|  Manhattan|     New York|   NY|  10031|               NY|  10.0|    10.0|    0.0|Credit Card|       20.0|
|    2009|       1317|        Talen, Billy|null|  Emperor, Michael D|     Individual|   Brooklyn|     Brooklyn|   NY|  11209|               NY|   5.0|     0.0|    0.0|Credit Card|        5.0|
|    2009|       1317|        Talen, Billy|null|Oman-Reagan, Michael|     Individual|   Brooklyn|     Brooklyn|   NY|  11211|               NY|  50.0|    50.0|    0.0|Credit Card|      100.0|
|    2009|       1317|        Talen, Billy|null|       Brown, Hilary|     Individual|      Other|      Orlando|   FL|  32806|               FL|  50.0|     0.0|    0.0|Credit Card|       50.0|
|    2009|       1317|        Talen, Billy|null|     White, Jennifer|     Individual|   Brooklyn|     Brooklyn|   NY|  11206|               NY|  10.0|    10.0|    0.0|Credit Card|       20.0|
|    2009|       1317|        Talen, Billy|null|       Hoenig, Myles|     Individual|      Other|    Baltimore|   MD|  21218|               MD|  25.0|     0.0|    0.0|Credit Card|       25.0|
|    2009|       1317|        Talen, Billy|null|        Barnes, Mark|     Individual|      Other|San Francisco|   CA|  94108|               CA|  50.0|     0.0|    0.0|Credit Card|       50.0|
|    2009|       1317|        Talen, Billy|null|        Lawton, Sean|     Individual|      Other|    Arlington|   VA|  22206|               VA| 200.0|     0.0|    0.0|Credit Card|      200.0|
|    2009|       1317|        Talen, Billy|null|            Talen, W|     Individual|      Other|   Northfield|   MN|  55057|               MN| 175.0|     0.0|    0.0|Credit Card|      175.0|
+--------+-----------+--------------------+----+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
only showing top 20 rows

## **2013 Committee Contributions**

In [16]:
#import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
#os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
#!apt-get update
#!apt-get install openjdk-11-jdk-headless -qq > /dev/null
#!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
#!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
#!pip install -q findspark

# Set Environment Variables
#import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
#os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
#import findspark
#findspark.init()

In [17]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
#!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

In [18]:
# Start Spark session
#0from pyspark.sql import SparkSession
#from pyspark.sql.functions import col
#spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [19]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Committee+Contributions+2009+(X).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Committee+Contributions+2009+(X).csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+----------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|           RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|      DATE|REFUNDDATE|                NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|      CITY|STATE|  ZIP|OCCUPATION|EMPNAME|EMPSTRNO|EMPSTRNAME|EMPCITY|EMPSTATE| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+----------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     4|     ABC|  null|      null|R0012964| 12/1/2007|      null|1 Christopher Rea...|   LLC| null|   null|     null|        M|  New York|   NY|10014|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     1|     ABC|  null|      null|R0001965|  6/3/2006|      null|1199 SEIU NYS Pol...| PCOMP| null|   null|     null|        M|  New York|   NY|10036|      null|   null|    null|      null|   null|    null| 4950|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     4|     ABC|  null|      null|R0001623|10/29/2007|      null|126th Place Realt...|   LLC| null|   null|     null|        Q|  Flushing|   NY|11368|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0003504|11/18/2006|      null|126th Place Realt...|   LLC| null|   null|     null|        Q|    Queens|   NY|11368|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     2|     ABC|  null|      null|R0000537| 10/5/2006|      null|151-45 Sixth Rd W...|   LLC| null|   null|     null|        M|  New York|   NY|10022|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     2|     ABC|  null|      null|R0000871|11/20/2006|      null|151-45 Sixth Rd W...|   LLC| null|   null|     null|        M|  New York|   NY|10022|      null|   null|    null|      null|   null|    null|  500|        0|     500|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0003386|11/11/2006|      null|21st Century Part...|  PART| null|   null|     null|        Z|    Dallas|   TX|75201|      null|   null|    null|      null|   null|    null| 3000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     4|     ABC|  null|      null|R0012362| 10/6/2007|      null|         225 Oak LLC|   LLC| null|   null|     null|        M|  New York|   NY|10028|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     1|     ABC|  null|      null|R0002123|  6/9/2006|      null|260-261 Madison A...|   LLC| null|   null|     null|     null|  New York|   NY| null|      null|   null|    null|      null|   null|    null| 5000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|       M|  null|      null|R0002671|  6/9/2006| 7/12/2006|260-261 Madison A...|   LLC| null|   null|     null|     null|  New York|   NY| null|      null|   null|    null|      null|   null|    null|  -50|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|        2|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     4|     ABC|  null|      null|R0001381| 9/18/2007|      null|346 West 46th Rea...|   LLC| null|   null|     null|        M|  New York|   NY|10036|      null|   null|    null|      null|   null|    null| 2000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     3|     ABC|  null|      null|R0001271| 6/25/2007|      null|34th Avenue Realt...|   LLC| null|   null|     null|        Q|  Flushing|   NY|11368|      null|   null|    null|      null|   null|    null|  250|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     4|     ABC|  null|      null|R0001621|10/29/2007|      null|34th Avenue Realt...|   LLC| null|   null|     null|        Q|  Flushing|   NY|11368|      null|   null|    null|      null|   null|    null|  500|        0|     250|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     4|     ABC|  null|      null|R0012364| 10/6/2007|      null|39-08 103rd Stree...|   LLC| null|   null|     null|        M|  New York|   NY|10030|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0002928| 10/7/2006|      null|      53 West 46 LLC|   LLC| null|   null|     null|        Z|Louisville|   KY|40220|      null|   null|    null|      null|   null|    null| 2000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0003547|11/23/2006|      null|      53 West 46 LLC|   LLC| null|   null|     null|        Z|Louisville|   KY|40220|      null|   null|    null|      null|   null|    null| 4000|        0|    2000|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|       M|  null|      null|R0003548|11/23/2006|12/20/2006|      53 West 46 LLC|   LLC| null|   null|     null|        Z|Louisville|   KY|40220|      null|   null|    null|      null|   null|    null|-1050|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|        2|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     2|     ABC|  null|      null|R0000685|10/16/2006|      null|      53 West 46 LLC|   LLC| null|   null|     null|        Z|Louisville|   KY|40220|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     1|     ABC|  null|      null|R0002167| 6/17/2006|      null|  ABO Build-PAC Inc.| PCOMP| null|   null|     null|        M|  New York|   NY|10038|      null|   null|    null|      null|   null|    null| 2500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0003368| 11/4/2006|      null|ACEC New York Cit...| PCOMP| null|   null|     null|        M|  New York|   NY|10165|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+----------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [20]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','REFUNDDATE','INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+--------------------+----------+--------------------+------+---------+----------+-----+-----+--------+-----+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|           RECIPNAME|      DATE|                NAME|C_CODE|BOROUGHCD|      CITY|STATE|  ZIP|EMPSTATE| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+--------------------+----------+--------------------+------+---------+----------+-----+-----+--------+-----+---------+--------+----------+
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 12/1/2007|1 Christopher Rea...|   LLC|        M|  New York|   NY|10014|    null| 1000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|  6/3/2006|1199 SEIU NYS Pol...| PCOMP|        M|  New York|   NY|10036|    null| 4950|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony|10/29/2007|126th Place Realt...|   LLC|        Q|  Flushing|   NY|11368|    null|  500|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|11/18/2006|126th Place Realt...|   LLC|        Q|    Queens|   NY|11368|    null| 1000|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony| 10/5/2006|151-45 Sixth Rd W...|   LLC|        M|  New York|   NY|10022|    null|  500|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony|11/20/2006|151-45 Sixth Rd W...|   LLC|        M|  New York|   NY|10022|    null|  500|        0|     500|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|11/11/2006|21st Century Part...|  PART|        Z|    Dallas|   TX|75201|    null| 3000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 10/6/2007|         225 Oak LLC|   LLC|        M|  New York|   NY|10028|    null| 1000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|  6/9/2006|260-261 Madison A...|   LLC|     null|  New York|   NY| null|    null| 5000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|  6/9/2006|260-261 Madison A...|   LLC|     null|  New York|   NY| null|    null|  -50|        0|       0|         0|
|    2009|       1|     51|       P|        Avella, Tony| 9/18/2007|346 West 46th Rea...|   LLC|        M|  New York|   NY|10036|    null| 2000|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony| 6/25/2007|34th Avenue Realt...|   LLC|        Q|  Flushing|   NY|11368|    null|  250|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony|10/29/2007|34th Avenue Realt...|   LLC|        Q|  Flushing|   NY|11368|    null|  500|        0|     250|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 10/6/2007|39-08 103rd Stree...|   LLC|        M|  New York|   NY|10030|    null| 1000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 10/7/2006|      53 West 46 LLC|   LLC|        Z|Louisville|   KY|40220|    null| 2000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|11/23/2006|      53 West 46 LLC|   LLC|        Z|Louisville|   KY|40220|    null| 4000|        0|    2000|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|11/23/2006|      53 West 46 LLC|   LLC|        Z|Louisville|   KY|40220|    null|-1050|        0|       0|         0|
|    2009|       1|     51|       P|        Avella, Tony|10/16/2006|      53 West 46 LLC|   LLC|        Z|Louisville|   KY|40220|    null| 1000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 6/17/2006|  ABO Build-PAC Inc.| PCOMP|        M|  New York|   NY|10038|    null| 2500|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 11/4/2006|ACEC New York Cit...| PCOMP|        M|  New York|   NY|10165|    null| 1000|        0|       0|         2|
+--------+--------+-------+--------+--------------------+----------+--------------------+------+---------+----------+-----+-----+--------+-----+---------+--------+----------+
only showing top 20 rows

In [21]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [22]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributerType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod") 

df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [23]:
# changing datatypes of columns
df2 = df1 \
  .withColumn("Election",df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn("Date", df1["Date"].cast("Date")) \
  
df2.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- MatchAmt: float (nullable = true)
 |-- PrevAmt: float (nullable = true)
 |-- PayMethod: string (nullable = true)

In [24]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributerType', regexp_replace('ContributerType', 'CAN', 'Candidate')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'CORP', 'Corporation')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'IND', 'Individual')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'ORG', 'Orgainization')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'SPO', 'Spouse')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'OTHR', 'Other')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PART', 'Individual')) \

In [25]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [26]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [27]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

+--------+--------+-----------+--------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|Date|                Name|     ContributerType|BoroughName|      City|State|ZipCode|ContributionState| Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|1 Christopher Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10014|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|1199 SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null| 4950.0|     0.0|    0.0|    Check|
|    2009|       1|         51|       P|        Avella, Tony|null|126th Place Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|126th Place Realt...|Limited Liability...|     Queens|    Queens|   NY|  11368|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|       1|         51|       P|        Avella, Tony|null|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|    0.0|    Check|
|    2009|       1|         51|       P|        Avella, Tony|null|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|  500.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|21st Century Part...|          Individual|      Other|    Dallas|   TX|  75201|             null| 3000.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|         225 Oak LLC|Limited Liability...|  Manhattan|  New York|   NY|  10028|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null| 5000.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null|  -50.0|     0.0|    0.0|  Unknown|
|    2009|       1|         51|       P|        Avella, Tony|null|346 West 46th Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10036|             null| 2000.0|     0.0|    0.0|    Check|
|    2009|       1|         51|       P|        Avella, Tony|null|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  250.0|     0.0|    0.0|    Check|
|    2009|       1|         51|       P|        Avella, Tony|null|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|  250.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|39-08 103rd Stree...|Limited Liability...|  Manhattan|  New York|   NY|  10030|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 2000.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 4000.0|     0.0| 2000.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null|-1050.0|     0.0|    0.0|  Unknown|
|    2009|       1|         51|       P|        Avella, Tony|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|  ABO Build-PAC Inc.|Political Action ...|  Manhattan|  New York|   NY|  10038|             null| 2500.0|     0.0|    0.0|    Check|
|    2009|       1|        260|       P|Thompson, Jr., Wi...|null|ACEC New York Cit...|Political Action ...|  Manhattan|  New York|   NY|  10165|             null| 1000.0|     0.0|    0.0|    Check|
+--------+--------+-----------+--------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
only showing top 20 rows

In [28]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [29]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

+--------+-----------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
|Election|CandidateID|       CandidateName|Date|                Name|     ContributerType|BoroughName|      City|State|ZipCode|ContributionState| Amount|MatchAmt|PrevAmt|PayMethod|
+--------+-----------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
|    2009|        260|Thompson, Jr., Wi...|null|1 Christopher Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10014|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|1199 SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null| 4950.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|null|126th Place Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|126th Place Realt...|Limited Liability...|     Queens|    Queens|   NY|  11368|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|null|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|null|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|  500.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|21st Century Part...|          Individual|      Other|    Dallas|   TX|  75201|             null| 3000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|         225 Oak LLC|Limited Liability...|  Manhattan|  New York|   NY|  10028|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null| 5000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null|  -50.0|     0.0|    0.0|  Unknown|
|    2009|         51|        Avella, Tony|null|346 West 46th Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10036|             null| 2000.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|null|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  250.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|null|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|  250.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|39-08 103rd Stree...|Limited Liability...|  Manhattan|  New York|   NY|  10030|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 2000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 4000.0|     0.0| 2000.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null|-1050.0|     0.0|    0.0|  Unknown|
|    2009|         51|        Avella, Tony|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|  ABO Build-PAC Inc.|Political Action ...|  Manhattan|  New York|   NY|  10038|             null| 2500.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|null|ACEC New York Cit...|Political Action ...|  Manhattan|  New York|   NY|  10165|             null| 1000.0|     0.0|    0.0|    Check|
+--------+-----------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
only showing top 20 rows

In [30]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
df8 = df7.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
df8.show()

+--------+-----------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+-----------+
|Election|CandidateID|       CandidateName|Date|                Name|     ContributerType|BoroughName|      City|State|ZipCode|ContributionState| Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+-----------+
|    2009|        260|Thompson, Jr., Wi...|null|1 Christopher Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10014|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|null|1199 SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null| 4950.0|     0.0|    0.0|    Check|     4950.0|
|    2009|         51|        Avella, Tony|null|126th Place Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|    0.0|    Check|      500.0|
|    2009|        260|Thompson, Jr., Wi...|null|126th Place Realt...|Limited Liability...|     Queens|    Queens|   NY|  11368|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|         51|        Avella, Tony|null|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|    0.0|    Check|      500.0|
|    2009|         51|        Avella, Tony|null|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|  500.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|null|21st Century Part...|          Individual|      Other|    Dallas|   TX|  75201|             null| 3000.0|     0.0|    0.0|    Check|     3000.0|
|    2009|        260|Thompson, Jr., Wi...|null|         225 Oak LLC|Limited Liability...|  Manhattan|  New York|   NY|  10028|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|null|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null| 5000.0|     0.0|    0.0|    Check|     5000.0|
|    2009|        260|Thompson, Jr., Wi...|null|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null|  -50.0|     0.0|    0.0|  Unknown|      -50.0|
|    2009|         51|        Avella, Tony|null|346 West 46th Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10036|             null| 2000.0|     0.0|    0.0|    Check|     2000.0|
|    2009|         51|        Avella, Tony|null|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  250.0|     0.0|    0.0|    Check|      250.0|
|    2009|         51|        Avella, Tony|null|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|  250.0|    Check|      750.0|
|    2009|        260|Thompson, Jr., Wi...|null|39-08 103rd Stree...|Limited Liability...|  Manhattan|  New York|   NY|  10030|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 2000.0|     0.0|    0.0|    Check|     2000.0|
|    2009|        260|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 4000.0|     0.0| 2000.0|    Check|     6000.0|
|    2009|        260|Thompson, Jr., Wi...|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null|-1050.0|     0.0|    0.0|  Unknown|    -1050.0|
|    2009|         51|        Avella, Tony|null|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|null|  ABO Build-PAC Inc.|Political Action ...|  Manhattan|  New York|   NY|  10038|             null| 2500.0|     0.0|    0.0|    Check|     2500.0|
|    2009|        260|Thompson, Jr., Wi...|null|ACEC New York Cit...|Political Action ...|  Manhattan|  New York|   NY|  10165|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
+--------+-----------+--------------------+----+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+-----------+
only showing top 20 rows