<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/2009_Contributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2009 Indivdual Contributions**

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,324 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [567 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Hit:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:19 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [717 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,799 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,760 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [921 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [600 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:25 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.8 kB]
Fetched 13.6 MB in 5s (2,894 kB/s)
Reading package lists... Done

In [2]:
import findspark
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-14 02:49:16--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-09-14 02:49:16 (6.57 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [4]:
# Start Spark session
#from pyspark.sql import SparkSession
#from pyspark.sql.functions import col
#spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Individual+Contributions+2009+(UF).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Individual+Contributions+2009+(UF).csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+-------------+---------+------+--------+------+----------+--------+---------+----------+------------------+------+-----+-------+---------+---------+---------+-----+-----+--------------------+-------------------+--------+--------------------+----------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|    RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|     DATE|REFUNDDATE|              NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|     CITY|STATE|  ZIP|          OCCUPATION|            EMPNAME|EMPSTRNO|          EMPSTRNAME|         EMPCITY|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+-------------+---------+------+--------+------+----------+--------+---------+----------+------------------+------+-----+-------+---------+---------+---------+-----+-----+--------------------+-------------------+--------+--------------------+----------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000020|1/22/2009|      null|     Morris, Blake|   IND| null|   null|     null|        K| Brooklyn|   NY|11226|            Attorney|      Self-employed|    null|                null|        Brooklyn|      NY| 100|      100|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000022| 2/3/2009|      null|     Pikttch, Ruth|   IND| null|   null|     null|        K| Brooklyn|   NY|11214|             Retired|               null|    null|                null|        Brooklyn|      NY|  50|       50|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000024|1/22/2009|      null| Goldstein, Benita|   IND| null|   null|     null|        M| New York|   NY|10021|      Office Manager|  Mirrors by Jordan|   38-27|         28th Street|Long Island City|      NY|  40|       40|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000025|11/6/2008|      null|     GOODWIN, GWEN|   CAN| null|   null|     null|        M| New York|   NY|10029|      Make-up Artist|      Self-employed|    null|                null|        New York|      NY|  25|        0|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000035|2/26/2009|      null|   Anderson, Peter|   IND| null|   null|     null|        M| New York|   NY|10037|      Letter Carrier|U.S. Postal Service|     421|          8th Avenue|        New York|      NY|  40|       40|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     7|     ABC|  null|      null|R0000041|11/6/2008|      null|     GOODWIN, GWEN|   CAN| null|   null|     null|        M| New York|   NY|10029|      Make-up Artist|      Self-employed|    null|                null|        New York|      NY|  25|        0|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000048|3/28/2009|      null|     Perez, Andrew|   IND| null|   null|     null|        M| New York|   NY|10028|         Sales Clerk|        Barney's NY|     660|      Madison Avenue|        New York|      NY|  10|       10|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000050| 5/4/2009|      null|    Rodriguez, Ana|   IND| null|   null|     null|        M| New York|   NY|10029|        Floor Person|       CVS Pharmacy|    1500|    Lexington Avenue|        New York|      NY|  15|       15|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000052|4/14/2009|      null|  Bryant, Robert A|   IND| null|   null|     null|        Z|Hillcrest|   NY|10977|         Firefighter|            Retired|    null|                null|            null|    null| 100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000054|3/16/2009|      null| Reinert, Pamela A|   IND| null|   null|     null|        M| New York|   NY|10029|                null|            Retired|    null|                null|            null|    null| 250|      175|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000059| 5/4/2009|      null|Palmieri, Pasquale|   IND| null|   null|     null|        M| New York|   NY|10035|            Landlord|      Self-employed|    null|                null|        New York|      NY| 500|      175|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     8|     ABC|  null|      null|R0000061| 5/2/2009|      null|       Bruno, Jo C|   IND| null|   null|     null|        M| New York|   NY|10017|             Teacher|            Retired|    null|                null|            null|    null|  25|       25|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000073|5/14/2009|      null|    Epstein, Lorie|   IND| null|   null|     null|        M| New York|   NY|10128|             Teacher|            Retired|    null|                null|            null|    null|  10|       10|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000081|5/23/2009|      null|   BROWN, FRANCINE|   IND| null|   null|     null|        M| New York|   NY|10037|    PERSONAL TRAINER|          92 St.  Y|    null|975 LEXINGTON AVENUE|        New York|      NY|  20|       20|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000083|5/23/2009|      null|    ASHANTE, OMEGA|   IND| null|   null|     null|        K| Brooklyn|   NY|11226|            MUSICIAN|      SELF EMPLOYED|    null|                null|            null|    null|  10|       10|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000085|5/23/2009|      null| Reinert, Pamela A|   IND| null|   null|     null|        M| New York|   NY|10029|                null|            Retired|    null|                null|            null|    null|  20|        0|     250|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000087|5/23/2009|      null|      SOLER, JAMES|   IND| null|   null|     null|        M| New York|   NY|10029|                null|            RETIRED|    null|                null|            null|    null|  50|       50|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000089|5/23/2009|      null|   DELUCA, ANTHONY|   IND| null|   null|     null|        M| New York|   NY|10025|ART FABRICATION /...|      SELF-EMPLOYED|    null|                null|        New York|      NY|  25|       25|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000092|5/23/2009|      null|  BERKLEY, CARLTON|   IND| null|   null|     null|        M| New York|   NY|10035|            SECURITY|   JOHN JAY COLLEGE|     899|         10TH AVENUE|        New York|      NY|  40|       40|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       5|   1009|       P|Goodwin, Gwen|        H|     9|     ABC|  null|      null|R0000095|5/13/2009|      null|        KOCH, ERIC|   IND| null|   null|     null|        M| New York|   NY|10033|                null|            RETIRED|    null|                null|            null|    null|  20|       20|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+-------+--------+-------------+---------+------+--------+------+----------+--------+---------+----------+------------------+------+-----+-------+---------+---------+---------+-----+-----+--------------------+-------------------+--------+--------------------+----------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [7]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','INTERMNO', 'REFUNDDATE', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+-------------+---------+------------------+------+---------+---------+-----+-----+--------+----+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|    RECIPNAME|     DATE|              NAME|C_CODE|BOROUGHCD|     CITY|STATE|  ZIP|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+-------------+---------+------------------+------+---------+---------+-----+-----+--------+----+---------+--------+----------+
|    2009|       5|   1009|       P|Goodwin, Gwen|1/22/2009|     Morris, Blake|   IND|        K| Brooklyn|   NY|11226|      NY| 100|      100|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen| 2/3/2009|     Pikttch, Ruth|   IND|        K| Brooklyn|   NY|11214|      NY|  50|       50|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|1/22/2009| Goldstein, Benita|   IND|        M| New York|   NY|10021|      NY|  40|       40|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|11/6/2008|     GOODWIN, GWEN|   CAN|        M| New York|   NY|10029|      NY|  25|        0|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|2/26/2009|   Anderson, Peter|   IND|        M| New York|   NY|10037|      NY|  40|       40|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|11/6/2008|     GOODWIN, GWEN|   CAN|        M| New York|   NY|10029|      NY|  25|        0|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|3/28/2009|     Perez, Andrew|   IND|        M| New York|   NY|10028|      NY|  10|       10|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen| 5/4/2009|    Rodriguez, Ana|   IND|        M| New York|   NY|10029|      NY|  15|       15|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|4/14/2009|  Bryant, Robert A|   IND|        Z|Hillcrest|   NY|10977|    null| 100|        0|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|3/16/2009| Reinert, Pamela A|   IND|        M| New York|   NY|10029|    null| 250|      175|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen| 5/4/2009|Palmieri, Pasquale|   IND|        M| New York|   NY|10035|      NY| 500|      175|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen| 5/2/2009|       Bruno, Jo C|   IND|        M| New York|   NY|10017|    null|  25|       25|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/14/2009|    Epstein, Lorie|   IND|        M| New York|   NY|10128|    null|  10|       10|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|   BROWN, FRANCINE|   IND|        M| New York|   NY|10037|      NY|  20|       20|       0|         2|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|    ASHANTE, OMEGA|   IND|        K| Brooklyn|   NY|11226|    null|  10|       10|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009| Reinert, Pamela A|   IND|        M| New York|   NY|10029|    null|  20|        0|     250|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|      SOLER, JAMES|   IND|        M| New York|   NY|10029|    null|  50|       50|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|   DELUCA, ANTHONY|   IND|        M| New York|   NY|10025|      NY|  25|       25|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/23/2009|  BERKLEY, CARLTON|   IND|        M| New York|   NY|10035|      NY|  40|       40|       0|         1|
|    2009|       5|   1009|       P|Goodwin, Gwen|5/13/2009|        KOCH, ERIC|   IND|        M| New York|   NY|10033|    null|  20|       20|       0|         2|
+--------+--------+-------+--------+-------------+---------+------------------+------+---------+---------+-----+-----+--------+----+---------+--------+----------+
only showing top 20 rows

In [8]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [9]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributerType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod")


df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [10]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [11]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
df2 = df1.withColumn("Election", df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn('Date', func(col('Date')))
df2.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- MatchAmt: float (nullable = true)
 |-- PrevAmt: float (nullable = true)
 |-- PayMethod: string (nullable = true)

In [12]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributerType', regexp_replace('ContributerType', 'CAN', 'Candidate')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'CORP', 'Corporation')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'IND', 'Individual')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'ORG', 'Orgainization')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'SPO', 'Spouse')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'OTHR', 'Other')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PART', 'Individual')) \

In [13]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [14]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [15]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

PythonException: ignored

In [ ]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

In [ ]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

In [ ]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [ ]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_indiv_2009_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_indiv_2009_df.show()

In [ ]:
#Export to Clean CSV
clean_indiv_2009_df.toPandas().to_csv("Clean_Indivdual_2009.csv", header=True)

## **2009 Committee Contributions**

In [ ]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Committee+Contributions+2009+(X).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Committee+Contributions+2009+(X).csv"), sep=",", header=True)
df.show()

In [ ]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','REFUNDDATE','INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

In [ ]:
# check data types
df.dtypes

In [ ]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributerType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod") 

df1.printSchema()

In [ ]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [ ]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
df2 = df1.withColumn("Election",df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn('Date', func(col('Date')))
df2.printSchema()

In [ ]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributerType', regexp_replace('ContributerType', 'CAN', 'Candidate')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'CORP', 'Corporation')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'IND', 'Individual')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'ORG', 'Orgainization')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'SPO', 'Spouse')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'OTHR', 'Other')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PART', 'Individual')) \

In [ ]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [ ]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [ ]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

In [ ]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

In [ ]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

In [ ]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [ ]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_comm_2009_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_comm_2009_df.show()

In [ ]:
#Export to new CSV
clean_comm_2009_df.toPandas().to_csv("Clean_Committee_2009.csv", header=True)

In [ ]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "*******",
          "driver":"org.postgresql.Driver"}

In [ ]:
# Write DataFrame to active_user table in RDS
#clean_indiv_2009_df.write.jdbc(url=jdbc_url, table='individual_2009', mode=mode, properties=config)

In [ ]:
# Write DataFrame to active_user table in RDS
#clean_comm_2009_df.write.jdbc(url=jdbc_url, table='committee_2009', mode=mode, properties=config)