<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/Expenditures_2009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,326 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,800 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,761 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [921 kB]
Fetched 11.7 MB in 4s (2,722 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-19 01:42:40--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-09-19 01:42:40 (6.55 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/2009_expenditure.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("2009_expenditure.csv"), sep=",", header=True)
df.show()

+--------+--------+------+--------+--------+--------------+------+---------+------+--------+------+----------+--------+-------------------+-------------------+--------------------+------+-------+-----+-------------+---------+------------+-----+-----+----------+-------+---------+----------------+--------------------+--------+------+-------+
|ELECTION|OFFICECD|CANDID|CANCLASS|CANDLAST|     CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|           INV_DATE|               DATE|                NAME|C_CODE|ORG_IND|STRNO|      STRNAME|APARTMENT|        CITY|STATE|  ZIP|PAY_METHOD|   AMNT|PURPOSECD|         PURPOSE|             EXPLAIN|EXEMPTCD|RR_IND|SEG_IND|
+--------+--------+------+--------+--------+--------------+------+---------+------+--------+------+----------+--------+-------------------+-------------------+--------------------+------+-------+-----+-------------+---------+------------+-----+-----+----------+-------+---------+----------------+--------------------+--------+------+-------+
|    2009|       5|   821|       P|   Vacca|         James|  null|        I|    15|       F|  null|      null|R0002981|10/26/2009 00:00:00| 11/1/2009 00:00:00|:Parkview Sports ...|  CORP|      Y| 5973|     Broadway|     null|       Bronx|   NY|10471|      Full|1235.00|    OTHER|Other: explntion|             Tshirts|    null|     N|      N|
|    2009|       5|  1164|       P|  Lander|          Brad|     S|        H|     6|       F|  null|      null|R0001319| 12/2/2008 00:00:00|  1/9/2009 00:00:00|            @dvocacy|  CORP|      Y| 1001|G Streeet, NW|     null|  Washington|   DC|20001|      Full| 649.39|    CMAIL|    Campgn Mlngs|    e-mail addresses|    null|     N|      N|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  null|        H|     5|       F|  null|      null|R0000278| 3/27/2008 00:00:00| 3/27/2008 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y|  701|     Lee Road|     null|Chesterbrook|   PA|19087|      Full|  17.47|    OFFCE| Office Expenses|    Internet Hosting|    null|     N|      N|
|    2009|       5|  1246|       P| Leandre|       Jacques|     M|        H|    11|       F|  null|      null|R0001470| 7/31/2009 00:00:00|  8/3/2009 00:00:00| 1 & 1 Internet Inc.|  OTHR|      Y|  701|     Lee Road|      300|Chesterbrook|   PA|19087|      Full|  29.97|    OTHER|Other: explntion| Internet Domain Fee|    null|     N|      N|
|    2009|       5|   405|       P|Hackshaw|          Rock|     H|        H|    13|       F|  null|      null|R0001370| 9/23/2009 00:00:00| 9/23/2009 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y| null|         null|     null|        null| null| null|      Full|  29.97|    PROFL|    Prof. Srvcs.|             website|    null|     N|      N|
|    2009|       5|  1232|       P|    Rice|        Jerome|     L|        H|    10|       F|  null|      null|R0000765|  4/2/2009 00:00:00|  4/2/2009 00:00:00| 1 & 1 Internet Inc.|  OTHR|      Y|  701|     Lee Road|      300|Chesterbrook|   PA|19087|      Full|  29.94|    OTHER|Other: explntion|  committee web site|    null|     N|      N|
|    2009|       5|  1246|       P| Leandre|       Jacques|     M|        H|     9|       F|  null|      null|R0001258| 1/15/2009 00:00:00| 1/15/2009 00:00:00| 1 & 1 Internet Inc.|  OTHR|      Y|  701|     Lee Road|      300|Chesterbrook|   PA|19087|      Full|  29.97|    OTHER|Other: explntion|        Website host|    null|     N|      N|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  null|        H|     8|       F|  null|      null|R0000660| 3/22/2009 00:00:00| 3/27/2009 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y|  701|     Lee Road|     null|Chesterbrook|   PA|19087|      Full|  29.97|    OTHER|Other: explntion|         Web hosting|    null|     N|      N|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  null|        H|     8|       F|  null|      null|R0000697| 3/27/2009 00:00:00| 3/27/2009 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y|  701|     Lee Road|     null|Chesterbrook|   PA|19087|      Full|  29.97|    OTHER|Other: explntion|         Web Hosting|    null|     N|      N|
|    2009|       5|   405|       P|Hackshaw|          Rock|     H|        H|     9|       F|  null|      null|R0000715| 6/26/2009 00:00:00| 6/26/2009 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y| null|         null|     null|        null| null| null|      Full|  29.97|    LITER|     Campgn Lit.|    website building|    null|     N|      N|
|    2009|       5|  1232|       P|    Rice|        Jerome|     L|        H|     6|       F|  null|      null|R0000113|  8/9/2008 00:00:00| 8/14/2008 00:00:00| 1 & 1 Internet Inc.|  OTHR|      Y|  701|     Lee Road|      300|Chesterbrook|   PA|19087|      Full|  29.94|    OTHER|Other: explntion|       Internet Site|    null|     N|      N|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  null|        H|     5|       F|  null|      null|R0000295| 6/26/2008 00:00:00| 6/26/2008 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y|  701|     Lee Road|     null|Chesterbrook|   PA|19087|      Full|  17.47|    OTHER|Other: explntion|    Internet Hosting|    null|     N|      N|
|    2009|       5|  1246|       P| Leandre|       Jacques|     M|        H|     8|       F|  null|      null|R0000925| 4/28/2009 00:00:00|  5/4/2009 00:00:00| 1 & 1 Internet Inc.|  OTHR|      Y|  701|     Lee Road|      300|Chesterbrook|   PA|19087|      Full|  29.97|    OTHER|Other: explntion|         Website Fee|    null|     N|      N|
|    2009|       5|  1246|       P| Leandre|       Jacques|     M|        H|     7|       F|  null|      null|R0000798|  2/3/2009 00:00:00|  2/3/2009 00:00:00| 1 & 1 Internet Inc.|  OTHR|      Y|  701|     Lee Road|      300|Chesterbrook|   PA|19087|      Full|  29.97|    OTHER|Other: explntion| Online Contrib. Ser|    null|     N|      N|
|    2009|       5|  1246|       P| Leandre|       Jacques|     M|        H|     6|       F|  null|      null|R0000531| 11/3/2008 00:00:00| 11/3/2008 00:00:00| 1 & 1 Internet Inc.|  OTHR|      Y|  701|     Lee Road|      300|Chesterbrook|   PA|19087|      Full|  29.97|    PROFL|    Prof. Srvcs.| Internet Domain Fee|    null|     N|      N|
|    2009|       5|   405|       P|Hackshaw|          Rock|     H|        H|    16|       F|  null|      null|R0001492|12/24/2009 00:00:00|12/24/2009 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y| null|         null|     null|        null| null| null|      Full|  29.97|    PROFL|    Prof. Srvcs.|             Website|    null|     N|      N|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  null|        H|     6|       F|  null|      null|R0000443| 9/26/2008 00:00:00| 9/26/2008 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y|  701|     Lee Road|     null|Chesterbrook|   PA|19087|      Full|  17.47|    OTHER|Other: explntion|            Internet|    null|     N|      N|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  null|        H|     6|       F|  null|      null|R0000445|12/26/2008 00:00:00|12/26/2008 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y|  701|     Lee Road|     null|Chesterbrook|   PA|19087|      Full|  78.97|    OTHER|Other: explntion|            Internet|    null|     N|      N|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  null|        H|     3|       F|  null|      null|R0000088|  3/5/2007 00:00:00|  3/5/2007 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y|  701|     Lee Road|     null|Chesterbrook|   PA|19087|     Final|   6.00|    OTHER|Other: explntion|Register internet do|    null|     N|      N|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  null|        H|     4|       F|  null|      null|R0000172|12/23/2007 00:00:00|12/23/2007 00:00:00| 1 & 1 Internet Inc.|  CORP|      Y|  701|     Lee Road|     null|Chesterbrook|   PA|19087|      Full|  66.47|    OTHER|Other: explntion|        Website Host|    null|     N|      N|
+--------+--------+------+--------+--------+--------------+------+---------+------+--------+------+----------+--------+-------------------+-------------------+--------------------+------+-------+-----+-------------+---------+------------+-----+-----+----------+-------+---------+----------------+--------------------+--------+------+-------+
only showing top 20 rows

In [5]:
df.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CANDLAST',
 'CANDFIRST',
 'CANDMI',
 'COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'DATE',
 'NAME',
 'C_CODE',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
 'CITY',
 'STATE',
 'ZIP',
 'PAY_METHOD',
 'AMNT',
 'PURPOSECD',
 'PURPOSE',
 'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND']

In [6]:
# Remove multiple columns
list = ['CANDMI','COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'DATE',
 'NAME',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
  'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND',
 'PAY_METHOD'] 
df = df.drop(*list)
df.show()

+--------+--------+------+--------+--------+--------------+------+------------+-----+-----+-------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|CANDLAST|     CANDFIRST|C_CODE|        CITY|STATE|  ZIP|   AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+--------+--------------+------+------------+-----+-----+-------+---------+----------------+
|    2009|       5|   821|       P|   Vacca|         James|  CORP|       Bronx|   NY|10471|1235.00|    OTHER|Other: explntion|
|    2009|       5|  1164|       P|  Lander|          Brad|  CORP|  Washington|   DC|20001| 649.39|    CMAIL|    Campgn Mlngs|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  17.47|    OFFCE| Office Expenses|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|   405|       P|Hackshaw|          Rock|  CORP|        null| null| null|  29.97|    PROFL|    Prof. Srvcs.|
|    2009|       5|  1232|       P|    Rice|        Jerome|  OTHR|Chesterbrook|   PA|19087|  29.94|    OTHER|Other: explntion|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|   405|       P|Hackshaw|          Rock|  CORP|        null| null| null|  29.97|    LITER|     Campgn Lit.|
|    2009|       5|  1232|       P|    Rice|        Jerome|  OTHR|Chesterbrook|   PA|19087|  29.94|    OTHER|Other: explntion|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  17.47|    OTHER|Other: explntion|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    PROFL|    Prof. Srvcs.|
|    2009|       5|   405|       P|Hackshaw|          Rock|  CORP|        null| null| null|  29.97|    PROFL|    Prof. Srvcs.|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  17.47|    OTHER|Other: explntion|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  78.97|    OTHER|Other: explntion|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|   6.00|    OTHER|Other: explntion|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  66.47|    OTHER|Other: explntion|
+--------+--------+------+--------+--------+--------------+------+------------+-----+-----+-------+---------+----------------+
only showing top 20 rows

In [7]:
#Combine the Candidate first and last name columns
from pyspark.sql.functions import concat_ws
df2 = df.withColumn("CandidateName", concat_ws(",","CANDFIRST",'CANDLAST'))
df2.show()

+--------+--------+------+--------+--------+--------------+------+------------+-----+-----+-------+---------+----------------+--------------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|CANDLAST|     CANDFIRST|C_CODE|        CITY|STATE|  ZIP|   AMNT|PURPOSECD|         PURPOSE|       CandidateName|
+--------+--------+------+--------+--------+--------------+------+------------+-----+-----+-------+---------+----------------+--------------------+
|    2009|       5|   821|       P|   Vacca|         James|  CORP|       Bronx|   NY|10471|1235.00|    OTHER|Other: explntion|         James,Vacca|
|    2009|       5|  1164|       P|  Lander|          Brad|  CORP|  Washington|   DC|20001| 649.39|    CMAIL|    Campgn Mlngs|         Brad,Lander|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  17.47|    OFFCE| Office Expenses|Steven Anthony,Behar|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|     Jacques,Leandre|
|    2009|       5|   405|       P|Hackshaw|          Rock|  CORP|        null| null| null|  29.97|    PROFL|    Prof. Srvcs.|       Rock,Hackshaw|
|    2009|       5|  1232|       P|    Rice|        Jerome|  OTHR|Chesterbrook|   PA|19087|  29.94|    OTHER|Other: explntion|         Jerome,Rice|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|     Jacques,Leandre|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|Steven Anthony,Behar|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|Steven Anthony,Behar|
|    2009|       5|   405|       P|Hackshaw|          Rock|  CORP|        null| null| null|  29.97|    LITER|     Campgn Lit.|       Rock,Hackshaw|
|    2009|       5|  1232|       P|    Rice|        Jerome|  OTHR|Chesterbrook|   PA|19087|  29.94|    OTHER|Other: explntion|         Jerome,Rice|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  17.47|    OTHER|Other: explntion|Steven Anthony,Behar|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|     Jacques,Leandre|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|     Jacques,Leandre|
|    2009|       5|  1246|       P| Leandre|       Jacques|  OTHR|Chesterbrook|   PA|19087|  29.97|    PROFL|    Prof. Srvcs.|     Jacques,Leandre|
|    2009|       5|   405|       P|Hackshaw|          Rock|  CORP|        null| null| null|  29.97|    PROFL|    Prof. Srvcs.|       Rock,Hackshaw|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  17.47|    OTHER|Other: explntion|Steven Anthony,Behar|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  78.97|    OTHER|Other: explntion|Steven Anthony,Behar|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|   6.00|    OTHER|Other: explntion|Steven Anthony,Behar|
|    2009|       5|    60|       P|   Behar|Steven Anthony|  CORP|Chesterbrook|   PA|19087|  66.47|    OTHER|Other: explntion|Steven Anthony,Behar|
+--------+--------+------+--------+--------+--------------+------+------------+-----+-----+-------+---------+----------------+--------------------+
only showing top 20 rows

In [8]:
#Rearrange column order
df3=df2.select('ELECTION','OFFICECD', 'CANDID', 'CANCLASS', 'CandidateName', 'CANDLAST', 'CANDFIRST','C_CODE', 'CITY', 'STATE',  'ZIP', 'AMNT', 'PURPOSECD', 'PURPOSE')

In [9]:
#Drop OFFICECD and CANCLASS
list1 = ['CANDLAST', 'CANDFIRST'] 
df4 = df3.drop(*list1)
df4.show()

+--------+--------+------+--------+--------------------+------+------------+-----+-----+-------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|       CandidateName|C_CODE|        CITY|STATE|  ZIP|   AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+--------------------+------+------------+-----+-----+-------+---------+----------------+
|    2009|       5|   821|       P|         James,Vacca|  CORP|       Bronx|   NY|10471|1235.00|    OTHER|Other: explntion|
|    2009|       5|  1164|       P|         Brad,Lander|  CORP|  Washington|   DC|20001| 649.39|    CMAIL|    Campgn Mlngs|
|    2009|       5|    60|       P|Steven Anthony,Behar|  CORP|Chesterbrook|   PA|19087|  17.47|    OFFCE| Office Expenses|
|    2009|       5|  1246|       P|     Jacques,Leandre|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|   405|       P|       Rock,Hackshaw|  CORP|        null| null| null|  29.97|    PROFL|    Prof. Srvcs.|
|    2009|       5|  1232|       P|         Jerome,Rice|  OTHR|Chesterbrook|   PA|19087|  29.94|    OTHER|Other: explntion|
|    2009|       5|  1246|       P|     Jacques,Leandre|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|    60|       P|Steven Anthony,Behar|  CORP|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|    60|       P|Steven Anthony,Behar|  CORP|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|   405|       P|       Rock,Hackshaw|  CORP|        null| null| null|  29.97|    LITER|     Campgn Lit.|
|    2009|       5|  1232|       P|         Jerome,Rice|  OTHR|Chesterbrook|   PA|19087|  29.94|    OTHER|Other: explntion|
|    2009|       5|    60|       P|Steven Anthony,Behar|  CORP|Chesterbrook|   PA|19087|  17.47|    OTHER|Other: explntion|
|    2009|       5|  1246|       P|     Jacques,Leandre|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|  1246|       P|     Jacques,Leandre|  OTHR|Chesterbrook|   PA|19087|  29.97|    OTHER|Other: explntion|
|    2009|       5|  1246|       P|     Jacques,Leandre|  OTHR|Chesterbrook|   PA|19087|  29.97|    PROFL|    Prof. Srvcs.|
|    2009|       5|   405|       P|       Rock,Hackshaw|  CORP|        null| null| null|  29.97|    PROFL|    Prof. Srvcs.|
|    2009|       5|    60|       P|Steven Anthony,Behar|  CORP|Chesterbrook|   PA|19087|  17.47|    OTHER|Other: explntion|
|    2009|       5|    60|       P|Steven Anthony,Behar|  CORP|Chesterbrook|   PA|19087|  78.97|    OTHER|Other: explntion|
|    2009|       5|    60|       P|Steven Anthony,Behar|  CORP|Chesterbrook|   PA|19087|   6.00|    OTHER|Other: explntion|
|    2009|       5|    60|       P|Steven Anthony,Behar|  CORP|Chesterbrook|   PA|19087|  66.47|    OTHER|Other: explntion|
+--------+--------+------+--------+--------------------+------+------------+-----+-----+-------+---------+----------------+
only showing top 20 rows

In [10]:
# check data types
df4.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('CANDID', 'string'),
 ('CANCLASS', 'string'),
 ('CandidateName', 'string'),
 ('C_CODE', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('AMNT', 'string'),
 ('PURPOSECD', 'string'),
 ('PURPOSE', 'string')]

In [11]:
df4.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CandidateName',
 'C_CODE',
 'CITY',
 'STATE',
 'ZIP',
 'AMNT',
 'PURPOSECD',
 'PURPOSE']

In [12]:
#Change column names
df5 = df4 \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("CANDID", "CandidateID") \
.withColumnRenamed("C_CODE", "ContributionType") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("PURPOSECD", "PurposeCode") \
.withColumnRenamed("PURPOSE", "Purpose") 

df5.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- ContributionType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [13]:
# changing datatypes of columns
df6 = df5 \
  .withColumn("Election",df5["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df5["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df5["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df5["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df5["Amount"].cast("Float")) \
  
df6.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- ContributionType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- Amount: float (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [14]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df7 = df6.withColumn("ContributionType", regexp_replace("ContributionType", 'CAN', 'Candidate')) \
  .withColumn('ContributionType', regexp_replace("ContributionType", 'CORP', 'Corporation')) \
  .withColumn('ContributionType', regexp_replace("ContributionType", 'EMPO', 'Labor Union')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'FAM', 'Candidate Family')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'IND', 'Individual')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMZ', 'Party Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'ORG', 'Orgainization')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'LLC', 'Limited Liability Company')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMP', 'Political Action Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'SPO', ' Candidates Spouse')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'OTHR', 'Other')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMC', 'Candidate Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PART', 'Individual')) \

In [15]:
#Change Purpose Code value names
from pyspark.sql.functions import regexp_replace
df8 = df7.withColumn('PurposeCode', regexp_replace('PurposeCode', 'ADVAN', 'Advance Repayment')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMAIL', 'Campaign Mail')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMISC', 'Miscellaneous')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CNTRB', 'Political Contributions')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'COMPL', 'Compliance Cost')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSL', 'Campaign Consultants')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSV', 'Constituent Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'FUNDR', 'Fundraising')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'INTER', 'Interest Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'LITER', 'Campaign Literature')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'NQUAL', 'Non Qualified Expenditures')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OFFCE', 'Office Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OTHER', 'Other')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PETIT', 'Petition Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POLLS', 'Polling Costs')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POSTA', 'Postal Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PRINT', 'Printing Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PROFL', 'Professional Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RADIO', 'Radio Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RENTO', 'Office Rent')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'TVADS', 'Television Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'UNKN', 'Unknown')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'VOTER', 'Voter Registration')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'WAGES', 'Campaign Workers Salaries')) \

In [16]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df9 = df8.filter((df6.OFFICECD=="1"))
df9.show()

+--------+--------+-----------+--------+--------------------+--------------------+-------------+-----+-------+-------+-----------+----------------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|    ContributionType|         City|State|ZipCode| Amount|PurposeCode|         Purpose|
+--------+--------+-----------+--------+--------------------+--------------------+-------------+-----+-------+-------+-----------+----------------+
|    2009|       1|        260|       P|William,Thompson,...|         Corporation|     New York|   NY|  10007|  38.55|      Other|Other: explntion|
|    2009|       1|        260|       P|William,Thompson,...|         Corporation|     New York|   NY|  10007|   49.0|      Other|Other: explntion|
|    2009|       1|       1286|       P|        Kevin,Coenen|Limited Liability...|     New York|   NY|  10106|   30.0|      Other|Other: explntion|
|    2009|       1|       1286|       P|        Kevin,Coenen|Limited Liability...|     New York|   NY|  10106|   30.0|      Other|Other: explntion|
|    2009|       1|        260|       P|William,Thompson,...|         Corporation|Beverly Hills|   CA|   null|   21.0|      Other|Other: explntion|
|    2009|       1|        260|       P|William,Thompson,...|         Corporation|     New York|   NY|  10022| 962.85|Fundraising|     Fundraising|
|    2009|       1|        260|       P|William,Thompson,...|         Corporation|     New York|   NY|  10022| 1905.0|Fundraising|     Fundraising|
|    2009|       1|        260|       P|William,Thompson,...|         Corporation|     New York|   NY|  10003|  600.0|Fundraising|     Fundraising|
|    2009|       1|        605|      NP|   Michael,Bloomberg|Limited Liability...|      Astoria|   NY|  11105|  150.0|      Other|Other: explntion|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234|-3800.0|       null|            null|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|       1|        605|      NP|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|       1|        605|      NP|   Michael,Bloomberg|Limited Liability...|        Bronx|   NY|  10461|-4000.0|       null|            null|
|    2009|       1|        605|      NP|   Michael,Bloomberg|Limited Liability...|        Bronx|   NY|  10461| 4000.0|Office Rent|     Office Rent|
+--------+--------+-----------+--------+--------------------+--------------------+-------------+-----+-------+-------+-----------+----------------+
only showing top 20 rows

In [17]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df9.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [18]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
Expenditures_2009_df = df9.drop(*list2)
Expenditures_2009_df.show()

+--------+-----------+--------------------+--------------------+-------------+-----+-------+-------+-----------+----------------+
|Election|CandidateID|       CandidateName|    ContributionType|         City|State|ZipCode| Amount|PurposeCode|         Purpose|
+--------+-----------+--------------------+--------------------+-------------+-----+-------+-------+-----------+----------------+
|    2009|        260|William,Thompson,...|         Corporation|     New York|   NY|  10007|  38.55|      Other|Other: explntion|
|    2009|        260|William,Thompson,...|         Corporation|     New York|   NY|  10007|   49.0|      Other|Other: explntion|
|    2009|       1286|        Kevin,Coenen|Limited Liability...|     New York|   NY|  10106|   30.0|      Other|Other: explntion|
|    2009|       1286|        Kevin,Coenen|Limited Liability...|     New York|   NY|  10106|   30.0|      Other|Other: explntion|
|    2009|        260|William,Thompson,...|         Corporation|Beverly Hills|   CA|   null|   21.0|      Other|Other: explntion|
|    2009|        260|William,Thompson,...|         Corporation|     New York|   NY|  10022| 962.85|Fundraising|     Fundraising|
|    2009|        260|William,Thompson,...|         Corporation|     New York|   NY|  10022| 1905.0|Fundraising|     Fundraising|
|    2009|        260|William,Thompson,...|         Corporation|     New York|   NY|  10003|  600.0|Fundraising|     Fundraising|
|    2009|        605|   Michael,Bloomberg|Limited Liability...|      Astoria|   NY|  11105|  150.0|      Other|Other: explntion|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234|-3800.0|       null|            null|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|        605|   Michael,Bloomberg|         Corporation|     Brooklyn|   NY|  11234| 3800.0|Office Rent|     Office Rent|
|    2009|        605|   Michael,Bloomberg|Limited Liability...|        Bronx|   NY|  10461|-4000.0|       null|            null|
|    2009|        605|   Michael,Bloomberg|Limited Liability...|        Bronx|   NY|  10461| 4000.0|Office Rent|     Office Rent|
+--------+-----------+--------------------+--------------------+-------------+-----+-------+-------+-----------+----------------+
only showing top 20 rows

In [19]:
#Export to new CSV
Expenditures_2009_df.toPandas().to_csv("Clean_Expenditures_2009.csv", header=True)

In [20]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "88888",
          "driver":"org.postgresql.Driver"}

In [21]:
# Write DataFrame to active_user table in RDS
#Expenditures_2009_df.write.jdbc(url=jdbc_url, table='expenditures_2009', mode=mode, properties=config)