<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/Expenditures_2013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [567 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,324 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,799 kB]
Get:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [717 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [921 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [600 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,760 kB]
Get:25 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.8 kB]
Fetched 13.6 MB in 7s (2,096 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-15 15:50:35--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-09-15 15:50:35 (6.64 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Expenditures+2013+(UF).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Expenditures+2013+(UF).csv"), sep=",", header=True)
df.show()

+--------+--------+------+--------+-------------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
|ELECTION|OFFICECD|CANDID|CANCLASS|     CANDLAST|CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|  INV_DATE|      DATE|                NAME|C_CODE|ORG_IND|STRNO|STRNAME|APARTMENT|        CITY|STATE|  ZIP|PAY_METHOD|  AMNT|PURPOSECD|         PURPOSE|             EXPLAIN|EXEMPTCD|RR_IND|SEG_IND|
+--------+--------+------+--------+-------------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
|    2013|       5|  1722|       P|     Similien|     Jean|     H|        H|     9|       F|  null|      null|R0000598| 5/25/2013| 5/25/2013|                null|  null|      Y| null|   null|     null|        null| null| null|   Unknown| 114.9|    OFFCE| Office Expenses|           INK&TONER|     ALA|     N|      N|
|    2013|       5|   716|       P|         King|   Erlene|     J|        K|    16|       N|  null|      null|R0000725|      null| 11/4/2013|            $.99 USA|  CORP|      Y| null|   null|     null|    Brooklyn|   NY|11210|      null|     4|    OFFCE| Office Expenses|  Construction Paper|    null|     N|      N|
|    2013|       1|  1752|       P| Laurel-Smith|  Abiodun|  null|        H|    13|       F|  null|      null|R0000257|  9/7/2013|  9/7/2013|07-Sam Ash-Main, ...|  CORP|      Y| null|   null|     null|    New York|   NY|10001|   Unknown| 54.43|    OFFCE| Office Expenses|          iPad clamp|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|    12|       F|  null|      null|R0003273| 9/11/2013| 9/14/2013|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|   Unknown| 20.97|    OTHER|Other: explntion|             Website|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|     5|       F|  null|      null|R0001836| 3/12/2012| 3/12/2012|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|      Full| 29.45|    OTHER|Other: explntion|        Web page fee|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|     5|       F|  null|      null|R0001921| 6/15/2012| 6/15/2012|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|      Full| 10.47|    LITER|     Campgn Lit.|        Website rent|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|     6|       F|  null|      null|R0001957| 9/11/2012| 9/12/2012|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|   Unknown| 10.47|    OTHER|Other: explntion|             Website|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|     6|       F|  null|      null|R0001974|12/11/2012|12/15/2012|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|   Unknown| 26.45|    PROFL|    Prof. Srvcs.|          Web rental|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|     7|       F|  null|      null|R0002192| 3/10/2013| 3/10/2013|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|   Unknown| 40.95|    PROFL|    Prof. Srvcs.|             Website|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|     9|       F|  null|      null|R0002346| 6/11/2013| 6/15/2013|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|   Unknown| 20.97|    CONSL| Campgn Consuls.|          Web rental|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|    16|       N|  null|      null|R0003345|      null|12/11/2013|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|      null| 50.95|    OTHER|Other: explntion|             website|    null|     N|      N|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|     A|        L|    16|       N|  null|      null|R0003346|      null|12/11/2013|   1 &1 INTERNET INC|  CORP|      Y| null|   null|     null|CHESTERBROOK|   PA|19087|      null| 50.95|    OTHER|Other: explntion|             website|    null|     N|      N|
|    2013|       1|   260|       P|Thompson, Jr.|  William|     C|        L|    10|       F|  null|      null|R0029259| 12/5/2011| 1/17/2012|1 Columbus Place ...|  CORP|      Y| null|   null|     null|    New York|   NY|10019|   Unknown|  19.8|    OTHER|Other: explntion|      Travel/Parking|    null|     N|      N|
|    2013|       5|    M2|       P|        Pabon|    Julio|  null|        H|    16|       F|  null|      null|R0001312|  4/3/2013|  4/3/2013|           1-2-Print|  OTHR|      Y| null|   null|     null| Schweinfurt|   UK| null|   Unknown|    82|    LITER|     Campgn Lit.|Printing for literat|    null|     N|      N|
|    2013|       5|  1204|       P|        Levin|  Stephen|     T|        J|     6|       F|  null|      null|R0000964|12/20/2012|12/20/2012|       1-800 Flowers|  CORP|      Y| null|   null|     null| Carle Place|   NY|11514|      Full| 59.86|    OTHER|Other: explntion|  Berevement Flowers|    null|     N|      N|
|    2013|       5|  1227|       P|     Williams|  Jumaane|     D|        J|     8|       F|  null|      null|R0001858| 3/11/2011| 3/11/2011|       1-800 Flowers|  CORP|      Y| null|   null|     null|   Ridgewood|   NY|11385|   Unknown|212.29|    OTHER|Other: explntion| Bereavement Flowers|    null|     N|      N|
|    2013|       1|    ED|      NP| Carrion, Jr.|   Adolfo|  null|        L|     8|       F|  null|      null|R0006052| 4/25/2013| 4/25/2013|       1-800-Flowers|  CORP|      Y| null|   null|     null| Carle Place|   NY|11514|   Unknown| 83.83|    OTHER|Other: explntion|     Funeral-flowers|    null|     N|      N|
|    2013|       4|   805|       P|       Lappin|  Jessica|     S|        J|    12|       F|  null|      null|R0006631| 9/12/2013| 9/16/2013|      1-800-GOT-JUNK|  CORP|      Y| null|   null|     null|    New York|   NY|10001|   Unknown| 977.7|    OFFCE| Office Expenses|            Cleanout|    null|     N|      N|
|    2013|       4|   399|       P|       Brewer|     Gale|     A|        M|    12|       F|  null|      null|R0004408| 9/13/2013| 9/13/2013|     1-800-GOT-JUNK?|  CORP|      Y| null|   null|     null|    New York|   NY|10001|   Unknown|977.64|    OFFCE| Office Expenses| Removal-paper, etc.|    null|     N|      N|
|    2013|       5|  1547|       P|    Barksdale|   Alicia|     D|        H|     7|       F|  null|      null|R0000291|  2/7/2013|  2/7/2013|      1-800-Printing|  CORP|      Y| null|   null|     null|    Brooklyn|   NY|11218|   Unknown|848.14|    LITER|     Campgn Lit.|            printing|    null|     N|      N|
+--------+--------+------+--------+-------------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
only showing top 20 rows

In [5]:
df.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CANDLAST',
 'CANDFIRST',
 'CANDMI',
 'COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'DATE',
 'NAME',
 'C_CODE',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
 'CITY',
 'STATE',
 'ZIP',
 'PAY_METHOD',
 'AMNT',
 'PURPOSECD',
 'PURPOSE',
 'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND']

In [6]:
# Remove multiple columns
list = ['CANDMI','COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'DATE',
 'NAME',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
  'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND',
 'PAY_METHOD'] 
df = df.drop(*list)
df.show()

+--------+--------+------+--------+-------------+---------+------+------------+-----+-----+------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|     CANDLAST|CANDFIRST|C_CODE|        CITY|STATE|  ZIP|  AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+-------------+---------+------+------------+-----+-----+------+---------+----------------+
|    2013|       5|  1722|       P|     Similien|     Jean|  null|        null| null| null| 114.9|    OFFCE| Office Expenses|
|    2013|       5|   716|       P|         King|   Erlene|  CORP|    Brooklyn|   NY|11210|     4|    OFFCE| Office Expenses|
|    2013|       1|  1752|       P| Laurel-Smith|  Abiodun|  CORP|    New York|   NY|10001| 54.43|    OFFCE| Office Expenses|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 20.97|    OTHER|Other: explntion|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 29.45|    OTHER|Other: explntion|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 10.47|    LITER|     Campgn Lit.|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 10.47|    OTHER|Other: explntion|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 26.45|    PROFL|    Prof. Srvcs.|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 40.95|    PROFL|    Prof. Srvcs.|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 20.97|    CONSL| Campgn Consuls.|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 50.95|    OTHER|Other: explntion|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 50.95|    OTHER|Other: explntion|
|    2013|       1|   260|       P|Thompson, Jr.|  William|  CORP|    New York|   NY|10019|  19.8|    OTHER|Other: explntion|
|    2013|       5|    M2|       P|        Pabon|    Julio|  OTHR| Schweinfurt|   UK| null|    82|    LITER|     Campgn Lit.|
|    2013|       5|  1204|       P|        Levin|  Stephen|  CORP| Carle Place|   NY|11514| 59.86|    OTHER|Other: explntion|
|    2013|       5|  1227|       P|     Williams|  Jumaane|  CORP|   Ridgewood|   NY|11385|212.29|    OTHER|Other: explntion|
|    2013|       1|    ED|      NP| Carrion, Jr.|   Adolfo|  CORP| Carle Place|   NY|11514| 83.83|    OTHER|Other: explntion|
|    2013|       4|   805|       P|       Lappin|  Jessica|  CORP|    New York|   NY|10001| 977.7|    OFFCE| Office Expenses|
|    2013|       4|   399|       P|       Brewer|     Gale|  CORP|    New York|   NY|10001|977.64|    OFFCE| Office Expenses|
|    2013|       5|  1547|       P|    Barksdale|   Alicia|  CORP|    Brooklyn|   NY|11218|848.14|    LITER|     Campgn Lit.|
+--------+--------+------+--------+-------------+---------+------+------------+-----+-----+------+---------+----------------+
only showing top 20 rows

In [7]:
#Combine the Candidate first and last name columns
from pyspark.sql.functions import concat_ws
df2 = df.withColumn("CandidateName", concat_ws(",","CANDFIRST",'CANDLAST'))
df2.show()

+--------+--------+------+--------+-------------+---------+------+------------+-----+-----+------+---------+----------------+--------------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|     CANDLAST|CANDFIRST|C_CODE|        CITY|STATE|  ZIP|  AMNT|PURPOSECD|         PURPOSE|       CandidateName|
+--------+--------+------+--------+-------------+---------+------+------------+-----+-----+------+---------+----------------+--------------------+
|    2013|       5|  1722|       P|     Similien|     Jean|  null|        null| null| null| 114.9|    OFFCE| Office Expenses|       Jean,Similien|
|    2013|       5|   716|       P|         King|   Erlene|  CORP|    Brooklyn|   NY|11210|     4|    OFFCE| Office Expenses|         Erlene,King|
|    2013|       1|  1752|       P| Laurel-Smith|  Abiodun|  CORP|    New York|   NY|10001| 54.43|    OFFCE| Office Expenses|Abiodun,Laurel-Smith|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 20.97|    OTHER|Other: explntion|    Ydanis,Rodriguez|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 29.45|    OTHER|Other: explntion|    Ydanis,Rodriguez|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 10.47|    LITER|     Campgn Lit.|    Ydanis,Rodriguez|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 10.47|    OTHER|Other: explntion|    Ydanis,Rodriguez|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 26.45|    PROFL|    Prof. Srvcs.|    Ydanis,Rodriguez|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 40.95|    PROFL|    Prof. Srvcs.|    Ydanis,Rodriguez|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 20.97|    CONSL| Campgn Consuls.|    Ydanis,Rodriguez|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 50.95|    OTHER|Other: explntion|    Ydanis,Rodriguez|
|    2013|       5|   353|       P|    Rodriguez|   Ydanis|  CORP|CHESTERBROOK|   PA|19087| 50.95|    OTHER|Other: explntion|    Ydanis,Rodriguez|
|    2013|       1|   260|       P|Thompson, Jr.|  William|  CORP|    New York|   NY|10019|  19.8|    OTHER|Other: explntion|William,Thompson,...|
|    2013|       5|    M2|       P|        Pabon|    Julio|  OTHR| Schweinfurt|   UK| null|    82|    LITER|     Campgn Lit.|         Julio,Pabon|
|    2013|       5|  1204|       P|        Levin|  Stephen|  CORP| Carle Place|   NY|11514| 59.86|    OTHER|Other: explntion|       Stephen,Levin|
|    2013|       5|  1227|       P|     Williams|  Jumaane|  CORP|   Ridgewood|   NY|11385|212.29|    OTHER|Other: explntion|    Jumaane,Williams|
|    2013|       1|    ED|      NP| Carrion, Jr.|   Adolfo|  CORP| Carle Place|   NY|11514| 83.83|    OTHER|Other: explntion| Adolfo,Carrion, Jr.|
|    2013|       4|   805|       P|       Lappin|  Jessica|  CORP|    New York|   NY|10001| 977.7|    OFFCE| Office Expenses|      Jessica,Lappin|
|    2013|       4|   399|       P|       Brewer|     Gale|  CORP|    New York|   NY|10001|977.64|    OFFCE| Office Expenses|         Gale,Brewer|
|    2013|       5|  1547|       P|    Barksdale|   Alicia|  CORP|    Brooklyn|   NY|11218|848.14|    LITER|     Campgn Lit.|    Alicia,Barksdale|
+--------+--------+------+--------+-------------+---------+------+------------+-----+-----+------+---------+----------------+--------------------+
only showing top 20 rows

In [8]:
#Rearrange column order
df3=df2.select('ELECTION','OFFICECD', 'CANDID', 'CANCLASS', 'CandidateName', 'CANDLAST', 'CANDFIRST','C_CODE', 'CITY', 'STATE',  'ZIP', 'AMNT', 'PURPOSECD', 'PURPOSE')

In [9]:
#Drop OFFICECD and CANCLASS
list1 = ['CANDLAST', 'CANDFIRST'] 
df4 = df3.drop(*list1)
df4.show()

+--------+--------+------+--------+--------------------+------+------------+-----+-----+------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|       CandidateName|C_CODE|        CITY|STATE|  ZIP|  AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+--------------------+------+------------+-----+-----+------+---------+----------------+
|    2013|       5|  1722|       P|       Jean,Similien|  null|        null| null| null| 114.9|    OFFCE| Office Expenses|
|    2013|       5|   716|       P|         Erlene,King|  CORP|    Brooklyn|   NY|11210|     4|    OFFCE| Office Expenses|
|    2013|       1|  1752|       P|Abiodun,Laurel-Smith|  CORP|    New York|   NY|10001| 54.43|    OFFCE| Office Expenses|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 20.97|    OTHER|Other: explntion|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 29.45|    OTHER|Other: explntion|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 10.47|    LITER|     Campgn Lit.|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 10.47|    OTHER|Other: explntion|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 26.45|    PROFL|    Prof. Srvcs.|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 40.95|    PROFL|    Prof. Srvcs.|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 20.97|    CONSL| Campgn Consuls.|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 50.95|    OTHER|Other: explntion|
|    2013|       5|   353|       P|    Ydanis,Rodriguez|  CORP|CHESTERBROOK|   PA|19087| 50.95|    OTHER|Other: explntion|
|    2013|       1|   260|       P|William,Thompson,...|  CORP|    New York|   NY|10019|  19.8|    OTHER|Other: explntion|
|    2013|       5|    M2|       P|         Julio,Pabon|  OTHR| Schweinfurt|   UK| null|    82|    LITER|     Campgn Lit.|
|    2013|       5|  1204|       P|       Stephen,Levin|  CORP| Carle Place|   NY|11514| 59.86|    OTHER|Other: explntion|
|    2013|       5|  1227|       P|    Jumaane,Williams|  CORP|   Ridgewood|   NY|11385|212.29|    OTHER|Other: explntion|
|    2013|       1|    ED|      NP| Adolfo,Carrion, Jr.|  CORP| Carle Place|   NY|11514| 83.83|    OTHER|Other: explntion|
|    2013|       4|   805|       P|      Jessica,Lappin|  CORP|    New York|   NY|10001| 977.7|    OFFCE| Office Expenses|
|    2013|       4|   399|       P|         Gale,Brewer|  CORP|    New York|   NY|10001|977.64|    OFFCE| Office Expenses|
|    2013|       5|  1547|       P|    Alicia,Barksdale|  CORP|    Brooklyn|   NY|11218|848.14|    LITER|     Campgn Lit.|
+--------+--------+------+--------+--------------------+------+------------+-----+-----+------+---------+----------------+
only showing top 20 rows

In [10]:
# check data types
df4.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('CANDID', 'string'),
 ('CANCLASS', 'string'),
 ('CandidateName', 'string'),
 ('C_CODE', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('AMNT', 'string'),
 ('PURPOSECD', 'string'),
 ('PURPOSE', 'string')]

In [11]:
df4.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CandidateName',
 'C_CODE',
 'CITY',
 'STATE',
 'ZIP',
 'AMNT',
 'PURPOSECD',
 'PURPOSE']

In [12]:
#Change column names
df5 = df4 \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("CANDID", "CandidateID") \
.withColumnRenamed("C_CODE", "ContributionType") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("PURPOSECD", "PurposeCode") \
.withColumnRenamed("PURPOSE", "Purpose") 

df5.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- ContributionType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [13]:
# changing datatypes of columns
df6 = df5 \
  .withColumn("Election",df5["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df5["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df5["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df5["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df5["Amount"].cast("Float")) \
  
df6.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- ContributionType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- Amount: float (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [14]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df7 = df6.withColumn("ContributionType", regexp_replace("ContributionType", 'CAN', 'Candidate')) \
  .withColumn('ContributionType', regexp_replace("ContributionType", 'CORP', 'Corporation')) \
  .withColumn('ContributionType', regexp_replace("ContributionType", 'EMPO', 'Labor Union')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'FAM', 'Candidate Family')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'IND', 'Individual')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMZ', 'Party Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'ORG', 'Orgainization')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'LLC', 'Limited Liability Company')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMP', 'Political Action Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'SPO', ' Candidates Spouse')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'OTHR', 'Other')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMC', 'Candidate Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PART', 'Individual')) \

In [15]:
#Change Purpose Code value names
from pyspark.sql.functions import regexp_replace
df8 = df7.withColumn('PurposeCode', regexp_replace('PurposeCode', 'ADVAN', 'Advance Repayment')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMAIL', 'Campaign Mail')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMISC', 'Miscellaneous')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CNTRB', 'Political Contributions')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'COMPL', 'Compliance Cost')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSL', 'Campaign Consultants')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSV', 'Constituent Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'FUNDR', 'Fundraising')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'INTER', 'Interest Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'LITER', 'Campaign Literature')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'NQUAL', 'Non Qualified Expenditures')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OFFCE', 'Office Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OTHER', 'Other')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PETIT', 'Petition Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POLLS', 'Polling Costs')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POSTA', 'Postal Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PRINT', 'Printing Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PROFL', 'Professional Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RADIO', 'Radio Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RENTO', 'Office Rent')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'TVADS', 'Television Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'UNKN', 'Unknown')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'VOTER', 'Voter Registration')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'WAGES', 'Campaign Workers Salaries')) \

In [16]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df9 = df8.filter((df6.OFFICECD=="1") & (df8.CANCLASS=="P"))
df9.show()

+--------+--------+-----------+--------+--------------------+--------------------+--------+-----+-------+--------+--------------------+----------------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|    ContributionType|    City|State|ZipCode|  Amount|         PurposeCode|         Purpose|
+--------+--------+-----------+--------+--------------------+--------------------+--------+-----+-------+--------+--------------------+----------------+
|    2013|       1|       1752|       P|Abiodun,Laurel-Smith|         Corporation|New York|   NY|  10001|   54.43|     Office Expenses| Office Expenses|
|    2013|       1|        260|       P|William,Thompson,...|         Corporation|New York|   NY|  10019|    19.8|               Other|Other: explntion|
|    2013|       1|       null|       P|            John,Liu|Limited Liability...|Flushing|   NY|  11355|   110.0|     Office Expenses| Office Expenses|
|    2013|       1|       null|       P|            John,Liu|Limited Liability...|Flushing|   NY|  11355|   250.0|         Fundraising|     Fundraising|
|    2013|       1|        260|       P|William,Thompson,...|Limited Liability...|New York|   NY|  10018|   57.01|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|Limited Liability...|New York|   NY|  10018|    39.0|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|Limited Liability...|New York|   NY|  10018|    64.0|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|Limited Liability...|New York|   NY|  10018|   93.02|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|Limited Liability...|New York|   NY|  10018|    79.0|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|Limited Liability...|New York|   NY|  10018|  512.04|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|         Corporation|New York|   NY|  10026|    46.0|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|         Corporation|New York|   NY|  10026|   88.72|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|         Corporation|New York|   NY|  10036|    22.0|               Other|Other: explntion|
|    2013|       1|        326|       P|      Bill,de Blasio|Political Action ...|New York|   NY|  10036|19084.25|               Other|Other: explntion|
|    2013|       1|        326|       P|      Bill,de Blasio|Political Action ...|New York|   NY|  10036|  168.31|Campaign Workers ...| Campgn Wrkrs $$|
|    2013|       1|        326|       P|      Bill,de Blasio|Political Action ...|New York|   NY|  10036|    60.0|Professional Serv...|    Prof. Srvcs.|
|    2013|       1|       null|       P|        Sal,Albanese|         Corporation|    null| null|   null|  122.39|     Office Expenses| Office Expenses|
|    2013|       1|       null|       P|        Sal,Albanese|         Corporation|    null| null|   null|    20.0|Professional Serv...|    Prof. Srvcs.|
|    2013|       1|        260|       P|William,Thompson,...|         Corporation|New York|   NY|  10019|    22.0|               Other|Other: explntion|
|    2013|       1|        260|       P|William,Thompson,...|         Corporation|New York|   NY|  10019|    34.0|               Other|Other: explntion|
+--------+--------+-----------+--------+--------------------+--------------------+--------+-----+-------+--------+--------------------+----------------+
only showing top 20 rows

In [17]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df9.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [18]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
Expenditures_2013_df = df9.drop(*list2)
Expenditures_2013_df.show()

+--------+-----------+--------------------+--------------------+--------+-----+-------+--------+--------------------+----------------+
|Election|CandidateID|       CandidateName|    ContributionType|    City|State|ZipCode|  Amount|         PurposeCode|         Purpose|
+--------+-----------+--------------------+--------------------+--------+-----+-------+--------+--------------------+----------------+
|    2013|       1752|Abiodun,Laurel-Smith|         Corporation|New York|   NY|  10001|   54.43|     Office Expenses| Office Expenses|
|    2013|        260|William,Thompson,...|         Corporation|New York|   NY|  10019|    19.8|               Other|Other: explntion|
|    2013|       null|            John,Liu|Limited Liability...|Flushing|   NY|  11355|   110.0|     Office Expenses| Office Expenses|
|    2013|       null|            John,Liu|Limited Liability...|Flushing|   NY|  11355|   250.0|         Fundraising|     Fundraising|
|    2013|        260|William,Thompson,...|Limited Liability...|New York|   NY|  10018|   57.01|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|Limited Liability...|New York|   NY|  10018|    39.0|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|Limited Liability...|New York|   NY|  10018|    64.0|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|Limited Liability...|New York|   NY|  10018|   93.02|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|Limited Liability...|New York|   NY|  10018|    79.0|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|Limited Liability...|New York|   NY|  10018|  512.04|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|         Corporation|New York|   NY|  10026|    46.0|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|         Corporation|New York|   NY|  10026|   88.72|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|         Corporation|New York|   NY|  10036|    22.0|               Other|Other: explntion|
|    2013|        326|      Bill,de Blasio|Political Action ...|New York|   NY|  10036|19084.25|               Other|Other: explntion|
|    2013|        326|      Bill,de Blasio|Political Action ...|New York|   NY|  10036|  168.31|Campaign Workers ...| Campgn Wrkrs $$|
|    2013|        326|      Bill,de Blasio|Political Action ...|New York|   NY|  10036|    60.0|Professional Serv...|    Prof. Srvcs.|
|    2013|       null|        Sal,Albanese|         Corporation|    null| null|   null|  122.39|     Office Expenses| Office Expenses|
|    2013|       null|        Sal,Albanese|         Corporation|    null| null|   null|    20.0|Professional Serv...|    Prof. Srvcs.|
|    2013|        260|William,Thompson,...|         Corporation|New York|   NY|  10019|    22.0|               Other|Other: explntion|
|    2013|        260|William,Thompson,...|         Corporation|New York|   NY|  10019|    34.0|               Other|Other: explntion|
+--------+-----------+--------------------+--------------------+--------+-----+-------+--------+--------------------+----------------+
only showing top 20 rows

In [19]:
#Export to new CSV
#Expenditures_2013_df.toPandas().to_csv("Clean_Expenditures_2013.csv", header=True)

In [20]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "88888",
          "driver":"org.postgresql.Driver"}

In [21]:
# Write DataFrame to active_user table in RDS
Expenditures_2013_df.write.jdbc(url=jdbc_url, table='expenditures_2013', mode=mode, properties=config)

Py4JJavaError: ignored