In [1]:
# Dependencies
import numpy as np
import pandas as pd
import requests

In [2]:
# Read the data
cont_data_df = pd.read_csv("./Resources/Clean_Committee_2017.csv", low_memory=False)
cont_data_df.head()

,Unnamed: 0,Election,CandidateID,CandidateName,Date,Name,ContributerType,BoroughName,City,State,ZipCode,ContributionState,Amount,MatchAmt,PrevAmt,PayMethod,TotalAmount
0,0,2017,326,"de Blasio, Bill",2017-09-09,1199/SEIU NYS Pol. Action Fund,Political Action Committee,Manhattan,New York,NY,10108.0,NaN,4950.0,0.0,0.0,Check,4950.0
1,1,2017,326,"de Blasio, Bill",2016-07-08,32BJ United ADF,Political Action Committee,Manhattan,New York,NY,10011.0,NaN,2500.0,0.0,0.0,Check,2500.0
2,2,2017,326,"de Blasio, Bill",2017-01-11,32BJ United ADF,Political Action Committee,Manhattan,New York,NY,10011.0,NaN,2450.0,0.0,2500.0,Check,4950.0
3,3,2017,326,"de Blasio, Bill",2017-09-11,ACEC New York City PAC,Political Action Committee,Manhattan,New York,NY,10018.0,NaN,4950.0,0.0,0.0,Check,4950.0
4,4,2017,326,"de Blasio, Bill",2017-08-07,AFSCME DC 1707 PAC,Political Action Committee,Manhattan,New York,NY,10013.0,NaN,500.0,0.0,0.0,Check,500.0

In [3]:
# Drop unnecessary columns
cont_data_df = cont_data_df.drop(['CandidateID', 'Date', 'ContributionState', 'ContributerType', 'PayMethod'], axis=1)
cont_data_df

,Unnamed: 0,Election,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount
0,0,2017,"de Blasio, Bill",1199/SEIU NYS Pol. Action Fund,Manhattan,New York,NY,10108.0,4950.0,0.0,0.0,4950.0
1,1,2017,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011.0,2500.0,0.0,0.0,2500.0
2,2,2017,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011.0,2450.0,0.0,2500.0,4950.0
3,3,2017,"de Blasio, Bill",ACEC New York City PAC,Manhattan,New York,NY,10018.0,4950.0,0.0,0.0,4950.0
4,4,2017,"de Blasio, Bill",AFSCME DC 1707 PAC,Manhattan,New York,NY,10013.0,500.0,0.0,0.0,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
211,211,2017,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006.0,4950.0,0.0,4950.0,9900.0
212,212,2017,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006.0,-4950.0,0.0,0.0,-4950.0
213,213,2017,"de Blasio, Bill","USW D-4 NY, NJ, DE, ME",Other,Cheektowaga,NY,14225.0,2500.0,0.0,0.0,2500.0
214,214,2017,"de Blasio, Bill",Van Bramer 2017,Manhattan,New York,NY,10016.0,4950.0,0.0,0.0,4950.0
215,215,2017,"de Blasio, Bill",Voice of Teachers for Educatio,Other,Latham,NY,12110.0,4950.0,0.0,0.0,4950.0

In [4]:
# Drop all blank columns
cont_data_df = cont_data_df.dropna()
cont_data_df

,Unnamed: 0,Election,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount
0,0,2017,"de Blasio, Bill",1199/SEIU NYS Pol. Action Fund,Manhattan,New York,NY,10108.0,4950.0,0.0,0.0,4950.0
1,1,2017,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011.0,2500.0,0.0,0.0,2500.0
2,2,2017,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011.0,2450.0,0.0,2500.0,4950.0
3,3,2017,"de Blasio, Bill",ACEC New York City PAC,Manhattan,New York,NY,10018.0,4950.0,0.0,0.0,4950.0
4,4,2017,"de Blasio, Bill",AFSCME DC 1707 PAC,Manhattan,New York,NY,10013.0,500.0,0.0,0.0,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
211,211,2017,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006.0,4950.0,0.0,4950.0,9900.0
212,212,2017,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006.0,-4950.0,0.0,0.0,-4950.0
213,213,2017,"de Blasio, Bill","USW D-4 NY, NJ, DE, ME",Other,Cheektowaga,NY,14225.0,2500.0,0.0,0.0,2500.0
214,214,2017,"de Blasio, Bill",Van Bramer 2017,Manhattan,New York,NY,10016.0,4950.0,0.0,0.0,4950.0
215,215,2017,"de Blasio, Bill",Voice of Teachers for Educatio,Other,Latham,NY,12110.0,4950.0,0.0,0.0,4950.0

In [5]:
# Regularize numerical columns
cont_data_df['ZipCode'] = cont_data_df['ZipCode'].dropna()
cont_data_df['ZipCode'] = cont_data_df['ZipCode'].round()
cont_data_df['Amount'] = cont_data_df['Amount'].round(2)
cont_data_df['MatchAmt'] = cont_data_df['MatchAmt'].round(2)
cont_data_df['PrevAmt'] = cont_data_df['PrevAmt'].round(2)
cont_data_df['TotalAmount'] = cont_data_df['TotalAmount'].round(2)
cont_data_df

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Unnamed: 0,Election,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount
0,0,2017,"de Blasio, Bill",1199/SEIU NYS Pol. Action Fund,Manhattan,New York,NY,10108.0,4950.0,0.0,0.0,4950.0
1,1,2017,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011.0,2500.0,0.0,0.0,2500.0
2,2,2017,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011.0,2450.0,0.0,2500.0,4950.0
3,3,2017,"de Blasio, Bill",ACEC New York City PAC,Manhattan,New York,NY,10018.0,4950.0,0.0,0.0,4950.0
4,4,2017,"de Blasio, Bill",AFSCME DC 1707 PAC,Manhattan,New York,NY,10013.0,500.0,0.0,0.0,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
211,211,2017,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006.0,4950.0,0.0,4950.0,9900.0
212,212,2017,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006.0,-4950.0,0.0,0.0,-4950.0
213,213,2017,"de Blasio, Bill","USW D-4 NY, NJ, DE, ME",Other,Cheektowaga,NY,14225.0,2500.0,0.0,0.0,2500.0
214,214,2017,"de Blasio, Bill",Van Bramer 2017,Manhattan,New York,NY,10016.0,4950.0,0.0,0.0,4950.0
215,215,2017,"de Blasio, Bill",Voice of Teachers for Educatio,Other,Latham,NY,12110.0,4950.0,0.0,0.0,4950.0

In [6]:
# Converting dollar amounts according to inflation (figures derived from https://www.usinflationcalculator.com/)
cont_data_df['ElectionTemp'] = cont_data_df['Election']
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2001, 'AdjustedAmount'] = cont_data_df['Amount']*1.55
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2005, 'AdjustedAmount'] = cont_data_df['Amount']*1.40
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2009, 'AdjustedAmount'] = cont_data_df['Amount']*1.28
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2013, 'AdjustedAmount'] = cont_data_df['Amount']*1.17
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2017, 'AdjustedAmount'] = cont_data_df['Amount']*1.11
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2021, 'AdjustedAmount'] = cont_data_df['Amount']*1.00

cont_data_df['ElectionTemp'] = cont_data_df['Election']
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2001, 'AdjustedMatchAmt'] = cont_data_df['MatchAmt']*1.55
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2005, 'AdjustedMatchAmt'] = cont_data_df['MatchAmt']*1.40
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2009, 'AdjustedMatchAmt'] = cont_data_df['MatchAmt']*1.28
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2013, 'AdjustedMatchAmt'] = cont_data_df['MatchAmt']*1.17
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2017, 'AdjustedMatchAmt'] = cont_data_df['MatchAmt']*1.11
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2021, 'AdjustedMatchAmt'] = cont_data_df['MatchAmt']*1.00

cont_data_df['ElectionTemp'] = cont_data_df['Election']
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2001, 'AdjustedPrevAmt'] = cont_data_df['PrevAmt']*1.55
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2005, 'AdjustedPrevAmt'] = cont_data_df['PrevAmt']*1.40
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2009, 'AdjustedPrevAmt'] = cont_data_df['PrevAmt']*1.28
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2013, 'AdjustedPrevAmt'] = cont_data_df['PrevAmt']*1.17
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2017, 'AdjustedPrevAmt'] = cont_data_df['PrevAmt']*1.11
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2021, 'AdjustedPrevAmt'] = cont_data_df['PrevAmt']*1.00

cont_data_df['ElectionTemp'] = cont_data_df['Election']
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2001, 'AdjustedTotalAmount'] = cont_data_df['TotalAmount']*1.55
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2005, 'AdjustedTotalAmount'] = cont_data_df['TotalAmount']*1.40
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2009, 'AdjustedTotalAmount'] = cont_data_df['TotalAmount']*1.28
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2013, 'AdjustedTotalAmount'] = cont_data_df['TotalAmount']*1.17
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2017, 'AdjustedTotalAmount'] = cont_data_df['TotalAmount']*1.11
cont_data_df.loc[cont_data_df['ElectionTemp'] == 2021, 'AdjustedTotalAmount'] = cont_data_df['TotalAmount']*1.00
cont_data_df

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Election,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount,ElectionTemp,AdjustedAmount,AdjustedMatchAmt,AdjustedPrevAmt,AdjustedTotalAmount
0,0,2017,"de Blasio, Bill",1199/SEIU NYS Pol. Action Fund,Manhattan,New York,NY,10108.0,4950.0,0.0,0.0,4950.0,2017,5494.5,0.0,0.0,5494.5
1,1,2017,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011.0,2500.0,0.0,0.0,2500.0,2017,2775.0,0.0,0.0,2775.0
2,2,2017,"de Blasio, Bill",32BJ United ADF,Manhattan,New York,NY,10011.0,2450.0,0.0,2500.0,4950.0,2017,2719.5,0.0,2775.0,5494.5
3,3,2017,"de Blasio, Bill",ACEC New York City PAC,Manhattan,New York,NY,10018.0,4950.0,0.0,0.0,4950.0,2017,5494.5,0.0,0.0,5494.5
4,4,2017,"de Blasio, Bill",AFSCME DC 1707 PAC,Manhattan,New York,NY,10013.0,500.0,0.0,0.0,500.0,2017,555.0,0.0,0.0,555.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,211,2017,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006.0,4950.0,0.0,4950.0,9900.0,2017,5494.5,0.0,5494.5,10989.0
212,212,2017,"de Blasio, Bill",United Food and Commercial Wor,Other,Washington,DC,20006.0,-4950.0,0.0,0.0,-4950.0,2017,-5494.5,0.0,0.0,-5494.5
213,213,2017,"de Blasio, Bill","USW D-4 NY, NJ, DE, ME",Other,Cheektowaga,NY,14225.0,2500.0,0.0,0.0,2500.0,2017,2775.0,0.0,0.0,2775.0
214,214,2017,"de Blasio, Bill",Van Bramer 2017,Manhattan,New York,NY,10016.0,4950.0,0.0,0.0,4950.0,2017,5494.5,0.0,0.0,5494.5
215,215,2017,"de Blasio, Bill",Voice of Teachers for Educatio,Other,Latham,NY,12110.0,4950.0,0.0,0.0,4950.0,2017,5494.5,0.0,0.0,5494.5

In [7]:
# Export cleaned data
cont_data_df.to_csv("./Resources/Clean_Committee_2017_Revised.csv", encoding='utf-8', index=False)

In [8]:
# Read the data for the next file
cont_data2_df = pd.read_csv("./Resources/Clean_Indivdual_2017.csv", low_memory=False)
cont_data2_df.head()

,Unnamed: 0,Election,CandidateID,CandidateName,Date,Name,ContributerType,BoroughName,City,State,ZipCode,ContributionState,Amount,MatchAmt,PrevAmt,PayMethod,TotalAmount
0,0,2017,326,"de Blasio, Bill",2017-08-07,"A Hayes, Melinda",Individual,Brooklyn,Brooklyn,NY,11213.0,NY,5.0,5.0,0.0,Credit Card,10.0
1,1,2017,2071,"Malliotakis, Nicole",2017-09-20,"Aalbue, Raymond",Individual,Brooklyn,Brooklyn,NY,11209.0,NaN,100.0,100.0,0.0,Credit Card,200.0
2,2,2017,2051,"Slattery, Collin",2017-06-01,"Aaron, Allen",Individual,Queens,Howard Beach,NY,11414.0,NaN,50.0,50.0,0.0,Credit Card,100.0
3,3,2017,326,"de Blasio, Bill",2017-10-23,"Aarons, Natasha",Individual,Manhattan,New York,NY,10027.0,NY,175.0,175.0,0.0,Credit Card,350.0
4,4,2017,326,"de Blasio, Bill",2016-05-08,"Ababio, Carol",Individual,Other,Riverview,FL,33579.0,NY,175.0,0.0,0.0,Credit Card,175.0

In [9]:
# Drop unnecessary columns
cont_data2_df = cont_data2_df.drop(['CandidateID', 'Date', 'ContributionState', 'ContributerType', 'PayMethod'], axis=1)
cont_data2_df

,Unnamed: 0,Election,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount
0,0,2017,"de Blasio, Bill","A Hayes, Melinda",Brooklyn,Brooklyn,NY,11213.0,5.0,5.0,0.0,10.0
1,1,2017,"Malliotakis, Nicole","Aalbue, Raymond",Brooklyn,Brooklyn,NY,11209.0,100.0,100.0,0.0,200.0
2,2,2017,"Slattery, Collin","Aaron, Allen",Queens,Howard Beach,NY,11414.0,50.0,50.0,0.0,100.0
3,3,2017,"de Blasio, Bill","Aarons, Natasha",Manhattan,New York,NY,10027.0,175.0,175.0,0.0,350.0
4,4,2017,"de Blasio, Bill","Ababio, Carol",Other,Riverview,FL,33579.0,175.0,0.0,0.0,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...
27442,27442,2017,"Malliotakis, Nicole","Zwerdling, Marc",Manhattan,New York,NY,10022.0,175.0,125.0,50.0,350.0
27443,27443,2017,"Malliotakis, Nicole","ZWERMAN, ANDREW",Manhattan,New York,NY,10016.0,50.0,50.0,0.0,100.0
27444,27444,2017,"de Blasio, Bill","Zwiebach, Peter",Queens,Astoria,NY,11105.0,50.0,50.0,0.0,100.0
27445,27445,2017,"de Blasio, Bill","Zyati, Abdessadeq",Brooklyn,Brooklyn,NY,11225.0,3.0,3.0,0.0,6.0
27446,27446,2017,"de Blasio, Bill","Zygnerski, Karen",Brooklyn,Brooklyn,NY,11229.0,25.0,25.0,0.0,50.0

In [10]:
# Regularize numerical columns
cont_data2_df['ZipCode'] = cont_data2_df['ZipCode'].dropna()
cont_data2_df['ZipCode'] = cont_data2_df['ZipCode'].round()
cont_data2_df['Amount'] = cont_data2_df['Amount'].round(2)
cont_data2_df['MatchAmt'] = cont_data2_df['MatchAmt'].round(2)
cont_data2_df['PrevAmt'] = cont_data2_df['PrevAmt'].round(2)
cont_data2_df['TotalAmount'] = cont_data2_df['TotalAmount'].round(2)
cont_data2_df

,Unnamed: 0,Election,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount
0,0,2017,"de Blasio, Bill","A Hayes, Melinda",Brooklyn,Brooklyn,NY,11213.0,5.0,5.0,0.0,10.0
1,1,2017,"Malliotakis, Nicole","Aalbue, Raymond",Brooklyn,Brooklyn,NY,11209.0,100.0,100.0,0.0,200.0
2,2,2017,"Slattery, Collin","Aaron, Allen",Queens,Howard Beach,NY,11414.0,50.0,50.0,0.0,100.0
3,3,2017,"de Blasio, Bill","Aarons, Natasha",Manhattan,New York,NY,10027.0,175.0,175.0,0.0,350.0
4,4,2017,"de Blasio, Bill","Ababio, Carol",Other,Riverview,FL,33579.0,175.0,0.0,0.0,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...
27442,27442,2017,"Malliotakis, Nicole","Zwerdling, Marc",Manhattan,New York,NY,10022.0,175.0,125.0,50.0,350.0
27443,27443,2017,"Malliotakis, Nicole","ZWERMAN, ANDREW",Manhattan,New York,NY,10016.0,50.0,50.0,0.0,100.0
27444,27444,2017,"de Blasio, Bill","Zwiebach, Peter",Queens,Astoria,NY,11105.0,50.0,50.0,0.0,100.0
27445,27445,2017,"de Blasio, Bill","Zyati, Abdessadeq",Brooklyn,Brooklyn,NY,11225.0,3.0,3.0,0.0,6.0
27446,27446,2017,"de Blasio, Bill","Zygnerski, Karen",Brooklyn,Brooklyn,NY,11229.0,25.0,25.0,0.0,50.0

In [11]:
# Converting dollar amounts according to inflation (figures derived from https://www.usinflationcalculator.com/)
cont_data2_df['ElectionTemp'] = cont_data2_df['Election']
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2001, 'AdjustedAmount'] = cont_data2_df['Amount']*1.55
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2005, 'AdjustedAmount'] = cont_data2_df['Amount']*1.40
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2009, 'AdjustedAmount'] = cont_data2_df['Amount']*1.28
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2013, 'AdjustedAmount'] = cont_data2_df['Amount']*1.17
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2017, 'AdjustedAmount'] = cont_data2_df['Amount']*1.11
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2021, 'AdjustedAmount'] = cont_data2_df['Amount']*1.00

cont_data2_df['ElectionTemp'] = cont_data2_df['Election']
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2001, 'AdjustedMatchAmt'] = cont_data2_df['MatchAmt']*1.55
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2005, 'AdjustedMatchAmt'] = cont_data2_df['MatchAmt']*1.40
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2009, 'AdjustedMatchAmt'] = cont_data2_df['MatchAmt']*1.28
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2013, 'AdjustedMatchAmt'] = cont_data2_df['MatchAmt']*1.17
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2017, 'AdjustedMatchAmt'] = cont_data2_df['MatchAmt']*1.11
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2021, 'AdjustedMatchAmt'] = cont_data2_df['MatchAmt']*1.00

cont_data2_df['ElectionTemp'] = cont_data2_df['Election']
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2001, 'AdjustedPrevAmt'] = cont_data2_df['PrevAmt']*1.55
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2005, 'AdjustedPrevAmt'] = cont_data2_df['PrevAmt']*1.40
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2009, 'AdjustedPrevAmt'] = cont_data2_df['PrevAmt']*1.28
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2013, 'AdjustedPrevAmt'] = cont_data2_df['PrevAmt']*1.17
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2017, 'AdjustedPrevAmt'] = cont_data2_df['PrevAmt']*1.11
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2021, 'AdjustedPrevAmt'] = cont_data2_df['PrevAmt']*1.00

cont_data2_df['ElectionTemp'] = cont_data2_df['Election']
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2001, 'AdjustedTotalAmount'] = cont_data2_df['TotalAmount']*1.55
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2005, 'AdjustedTotalAmount'] = cont_data2_df['TotalAmount']*1.40
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2009, 'AdjustedTotalAmount'] = cont_data2_df['TotalAmount']*1.28
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2013, 'AdjustedTotalAmount'] = cont_data2_df['TotalAmount']*1.17
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2017, 'AdjustedTotalAmount'] = cont_data2_df['TotalAmount']*1.11
cont_data2_df.loc[cont_data2_df['ElectionTemp'] == 2021, 'AdjustedTotalAmount'] = cont_data2_df['TotalAmount']*1.00
cont_data2_df

,Unnamed: 0,Election,CandidateName,Name,BoroughName,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount,ElectionTemp,AdjustedAmount,AdjustedMatchAmt,AdjustedPrevAmt,AdjustedTotalAmount
0,0,2017,"de Blasio, Bill","A Hayes, Melinda",Brooklyn,Brooklyn,NY,11213.0,5.0,5.0,0.0,10.0,2017,5.55,5.55,0.0,11.10
1,1,2017,"Malliotakis, Nicole","Aalbue, Raymond",Brooklyn,Brooklyn,NY,11209.0,100.0,100.0,0.0,200.0,2017,111.00,111.00,0.0,222.00
2,2,2017,"Slattery, Collin","Aaron, Allen",Queens,Howard Beach,NY,11414.0,50.0,50.0,0.0,100.0,2017,55.50,55.50,0.0,111.00
3,3,2017,"de Blasio, Bill","Aarons, Natasha",Manhattan,New York,NY,10027.0,175.0,175.0,0.0,350.0,2017,194.25,194.25,0.0,388.50
4,4,2017,"de Blasio, Bill","Ababio, Carol",Other,Riverview,FL,33579.0,175.0,0.0,0.0,175.0,2017,194.25,0.00,0.0,194.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27442,27442,2017,"Malliotakis, Nicole","Zwerdling, Marc",Manhattan,New York,NY,10022.0,175.0,125.0,50.0,350.0,2017,194.25,138.75,55.5,388.50
27443,27443,2017,"Malliotakis, Nicole","ZWERMAN, ANDREW",Manhattan,New York,NY,10016.0,50.0,50.0,0.0,100.0,2017,55.50,55.50,0.0,111.00
27444,27444,2017,"de Blasio, Bill","Zwiebach, Peter",Queens,Astoria,NY,11105.0,50.0,50.0,0.0,100.0,2017,55.50,55.50,0.0,111.00
27445,27445,2017,"de Blasio, Bill","Zyati, Abdessadeq",Brooklyn,Brooklyn,NY,11225.0,3.0,3.0,0.0,6.0,2017,3.33,3.33,0.0,6.66
27446,27446,2017,"de Blasio, Bill","Zygnerski, Karen",Brooklyn,Brooklyn,NY,11229.0,25.0,25.0,0.0,50.0,2017,27.75,27.75,0.0,55.50

In [12]:
# Export cleaned data
cont_data_df.to_csv("./Resources/Clean_Individual_2017_Revised.csv", encoding='utf-8', index=False)