<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/Expenditures_2005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,326 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [67.4 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,802 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [922 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,761 kB]
Fetched 11.8 MB in 5s (2,324 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-20 00:17:10--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-09-20 00:17:10 (6.54 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/2005_expenditure.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("2005_expenditure.csv"), sep=",", header=True)
df.show()

+--------+--------+------+--------+------------+---------+------+---------+------+--------+------+----------+--------+-------------------+-------------------+--------------------+------+-------+-----+--------------------+---------+--------------+-----+-----+----------+--------+---------+----------------+----------------+--------+------+-------+
|ELECTION|OFFICECD|CANDID|CANCLASS|    CANDLAST|CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|           INV_DATE|               DATE|                NAME|C_CODE|ORG_IND|STRNO|             STRNAME|APARTMENT|          CITY|STATE|  ZIP|PAY_METHOD|    AMNT|PURPOSECD|         PURPOSE|         EXPLAIN|EXEMPTCD|RR_IND|SEG_IND|
+--------+--------+------+--------+------------+---------+------+---------+------+--------+------+----------+--------+-------------------+-------------------+--------------------+------+-------+-----+--------------------+---------+--------------+-----+-----+----------+--------+---------+----------------+----------------+--------+------+-------+
|    2005|       4|   206|       P|     Manzano|   Carlos|  null|        K|     5|       F|  null|      null|R0002883| 5/23/2004 00:00:00| 5/23/2004 00:00:00|"1050" Restaurant...|  CORP|      Y|  735|        Tenth Avenue|     null|      New York|   NY|10019|     Final|  918.00|    FUNDR|     Fundraising|   Catered Event|    null|     N|      N|
|    2005|       4|    ED|       P|Carrion, Jr.|   Adolfo|  null|        J|     8|       F|  null|      null|R0005654| 4/25/2005 00:00:00| 4/25/2005 00:00:00|Somos El Futuro Inc.|  CORP|      Y|  355|      Lexington Ave.|    3RDFL|      New York|   NY|10017|     Final| 3200.00|    CNTRB| Polit Contribs.|   EVENT TICKETS|    null|     N|      N|
|    2005|       4|    ED|       P|Carrion, Jr.|   Adolfo|  null|        J|     5|       F|  null|      null|R0004585|  6/9/2004 00:00:00|  6/9/2004 00:00:00|Somos El Futuro Inc.|  CORP|      Y|  355|      Lexington Ave.|    3RDFL|      New York|   NY|10017|     Final| 1500.00|    OTHER|Other: explntion|   EVENT TICKETS|    null|     N|      N|
|    2005|       4|    BW|       P|   Moskowitz|      Eva|     S|        A|    10|       F|  null|      null|R0005335| 5/22/2005 00:00:00| 6/24/2005 00:00:00|   1-800-FLOWERS.com|  CORP|      Y| null|                null|     null|          null| null| null|     Final|   55.00|    OTHER|Other: explntion|         Flowers|    null|     N|      N|
|    2005|       5|   232|       P|      Weprin|    David|     I|        K|    17|       F|  null|      null|R0002854| 3/11/2005 00:00:00| 3/11/2005 00:00:00|   1-800-Flowers.Com|  CORP|      Y| null|                null|     null|            NY|   NY| null|     Final|  103.00|    OTHER|Other: explntion|    Flowers/Sick|    null|     N|      N|
|    2005|       5|   837|       P|    Nocerino|   Joseph|     R|        H|     8|       F|  null|      null|R0000332| 4/15/2005 00:00:00| 4/18/2005 00:00:00|    1-800-My-Buttons|  OTHR|      Y| 5703|   Red Bug Lake Road|      187|Winter Springs|   FL|32708|     Final|  210.00|    LITER|     Campgn Lit.|Campaign Buttons|    null|     N|      N|
|    2005|       5|   837|       P|    Nocerino|   Joseph|     R|        H|     8|       F|  null|      null|R0000222|  4/1/2005 00:00:00|  4/1/2005 00:00:00|    1-800-My-Buttons|  OTHR|      Y| 5703|   Red Bug Lake Road|      187|Winter Springs|   FL|32708|     Final|  538.00|    LITER|     Campgn Lit.|Campaign Buttons|    null|     N|      N|
|    2005|       5|   837|       P|    Nocerino|   Joseph|     R|        H|     8|       F|  null|      null|R0000233|  4/4/2005 00:00:00|  4/4/2005 00:00:00|    1-800-My-Buttons|  OTHR|      Y| 5703|   Red Bug Lake Road|      187|Winter Springs|   FL|32708|     Final|  372.00|    LITER|     Campgn Lit.|Campaign Buttons|    null|     N|      N|
|    2005|       5|   837|       P|    Nocerino|   Joseph|     R|        H|     8|       F|  null|      null|R0000366| 4/22/2005 00:00:00| 4/22/2005 00:00:00|    1-800-My-Buttons|  OTHR|      Y| 5703|   Red Bug Lake Road|      187|Winter Springs|   FL|32708|     Final|  373.00|    LITER|     Campgn Lit.|Campaign Buttons|    null|     N|      N|
|    2005|       1|    AY|       P|      Ferrer| Fernando|  null|        I|    17|       F|  null|      null|R0033156| 11/7/2005 00:00:00|12/19/2005 00:00:00|        101 Car Park|  CORP|      Y|  101|    West 23rd Street|     null|      New York|   NY|10011|     Final|   23.00|    OTHER|Other: explntion|         Parking|    null|     N|      N|
|    2005|       1|    AY|       P|      Ferrer| Fernando|  null|        I|    10|       F|  null|      null|R0017612| 4/25/2005 00:00:00| 5/20/2005 00:00:00|1010 6th Avenue G...|  CORP|      Y| 1010|Avenue of the Ame...|     null|      New York|   NY|10018|     Final|   35.00|    OTHER|Other: explntion|         Parking|    null|     N|      N|
|    2005|       2|   310|       P|      Siegel|   Norman|     H|        I|    17|       N|  null|      null|R0012355|               null|11/11/2005 00:00:00|           1010 WINS|  CORP|      Y|  888|          7th Avenue|     null|      New York|   NY|10106|      null|  222.00|    RADIO|      Radio Ads.|excessive refund|    null|     N|      N|
|    2005|       2|   310|       P|      Siegel|   Norman|     H|        I|    13|       F|  null|      null|R0008509|  9/8/2005 00:00:00|  9/8/2005 00:00:00|           1010 WINS|  CORP|      Y|  888|          7th Avenue|     null|      New York|   NY|10106|     Final| 7931.00|    RADIO|      Radio Ads.|    ads 9/9-9/11|    null|     N|      N|
|    2005|       2|   310|       P|      Siegel|   Norman|     H|        I|    17|       L|  null|      null|R0012244|  9/8/2005 00:00:00| 10/4/2005 00:00:00|           1010 WINS|  CORP|      Y|  888|          7th Avenue|     null|      New York|   NY|10106|      null|-1365.00|     null|            null|            null|    null|     N|      N|
|    2005|       5|   420|      NP|      Comrie|    Leroy|     G|        K|    15|       F|  null|      null|R0002849|10/20/2005 00:00:00|10/24/2005 00:00:00|1020 Park Plaza D...|  CORP|      Y| 1020|        Cadman Plaza|     null|      Brooklyn|   NY|11203|     Final|   25.00|    OFFCE| Office Expenses|           foods|    null|     N|      N|
|    2005|       5|   420|      NP|      Comrie|    Leroy|     G|        K|    16|       F|  null|      null|R0002930|10/26/2005 00:00:00|10/26/2005 00:00:00|1023 Mojito Cuban...|  CORP|      Y| null|                null|     null|      Brooklyn|   NY| null|     Final|   74.00|    OFFCE| Office Expenses|         meeting|    null|     N|      N|
|    2005|       5|   860|       P|        Doty|  Cynthia|     L|        H|    13|       F|  null|      null|R0000955| 9/13/2005 00:00:00| 9/13/2005 00:00:00| 107 West Restaurant|  OTHR|      Y| 2787|            Broadway|     null|      New York|   NY|10025|     Final|  483.00|    OTHER|Other: explntion|   Wrap-Up Party|    null|     N|      N|
|    2005|       2|   263|       P|     Gotbaum|    Betsy|     F|        J|    14|       F|  null|      null|R0009379| 8/23/2005 00:00:00| 8/23/2005 00:00:00|        109 CJK Corp|  OTHR|      Y|  109|    West 39th Street|     null|      New York|   NY|10018|     Final|    9.00|    OTHER|Other: explntion|       amex bill|    null|     N|      N|
|    2005|       2|   263|       P|     Gotbaum|    Betsy|     F|        J|    14|       F|  null|      null|R0009381| 8/23/2005 00:00:00| 8/23/2005 00:00:00|        109 CJK Corp|  OTHR|      Y|  109|    West 39th Street|     null|      New York|   NY|10018|     Final|   52.00|    OTHER|Other: explntion|       amex bill|    null|     N|      N|
|    2005|       2|   263|       P|     Gotbaum|    Betsy|     F|        J|    14|       F|  null|      null|R0009400| 8/26/2005 00:00:00| 8/26/2005 00:00:00|        109 CJK Corp|  OTHR|      Y|  109|    West 39th Street|     null|      New York|   NY|10018|     Final|   13.00|    OTHER|Other: explntion|       amex bill|    null|     N|      N|
+--------+--------+------+--------+------------+---------+------+---------+------+--------+------+----------+--------+-------------------+-------------------+--------------------+------+-------+-----+--------------------+---------+--------------+-----+-----+----------+--------+---------+----------------+----------------+--------+------+-------+
only showing top 20 rows

In [5]:
df.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CANDLAST',
 'CANDFIRST',
 'CANDMI',
 'COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'DATE',
 'NAME',
 'C_CODE',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
 'CITY',
 'STATE',
 'ZIP',
 'PAY_METHOD',
 'AMNT',
 'PURPOSECD',
 'PURPOSE',
 'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND']

In [6]:
# Remove multiple columns
list = ['CANDMI','COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'NAME',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
  'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND',
 'PAY_METHOD'] 
df = df.drop(*list)
df.show()

+--------+--------+------+--------+------------+---------+-------------------+------+--------------+-----+-----+--------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|    CANDLAST|CANDFIRST|               DATE|C_CODE|          CITY|STATE|  ZIP|    AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+------------+---------+-------------------+------+--------------+-----+-----+--------+---------+----------------+
|    2005|       4|   206|       P|     Manzano|   Carlos| 5/23/2004 00:00:00|  CORP|      New York|   NY|10019|  918.00|    FUNDR|     Fundraising|
|    2005|       4|    ED|       P|Carrion, Jr.|   Adolfo| 4/25/2005 00:00:00|  CORP|      New York|   NY|10017| 3200.00|    CNTRB| Polit Contribs.|
|    2005|       4|    ED|       P|Carrion, Jr.|   Adolfo|  6/9/2004 00:00:00|  CORP|      New York|   NY|10017| 1500.00|    OTHER|Other: explntion|
|    2005|       4|    BW|       P|   Moskowitz|      Eva| 6/24/2005 00:00:00|  CORP|          null| null| null|   55.00|    OTHER|Other: explntion|
|    2005|       5|   232|       P|      Weprin|    David| 3/11/2005 00:00:00|  CORP|            NY|   NY| null|  103.00|    OTHER|Other: explntion|
|    2005|       5|   837|       P|    Nocerino|   Joseph| 4/18/2005 00:00:00|  OTHR|Winter Springs|   FL|32708|  210.00|    LITER|     Campgn Lit.|
|    2005|       5|   837|       P|    Nocerino|   Joseph|  4/1/2005 00:00:00|  OTHR|Winter Springs|   FL|32708|  538.00|    LITER|     Campgn Lit.|
|    2005|       5|   837|       P|    Nocerino|   Joseph|  4/4/2005 00:00:00|  OTHR|Winter Springs|   FL|32708|  372.00|    LITER|     Campgn Lit.|
|    2005|       5|   837|       P|    Nocerino|   Joseph| 4/22/2005 00:00:00|  OTHR|Winter Springs|   FL|32708|  373.00|    LITER|     Campgn Lit.|
|    2005|       1|    AY|       P|      Ferrer| Fernando|12/19/2005 00:00:00|  CORP|      New York|   NY|10011|   23.00|    OTHER|Other: explntion|
|    2005|       1|    AY|       P|      Ferrer| Fernando| 5/20/2005 00:00:00|  CORP|      New York|   NY|10018|   35.00|    OTHER|Other: explntion|
|    2005|       2|   310|       P|      Siegel|   Norman|11/11/2005 00:00:00|  CORP|      New York|   NY|10106|  222.00|    RADIO|      Radio Ads.|
|    2005|       2|   310|       P|      Siegel|   Norman|  9/8/2005 00:00:00|  CORP|      New York|   NY|10106| 7931.00|    RADIO|      Radio Ads.|
|    2005|       2|   310|       P|      Siegel|   Norman| 10/4/2005 00:00:00|  CORP|      New York|   NY|10106|-1365.00|     null|            null|
|    2005|       5|   420|      NP|      Comrie|    Leroy|10/24/2005 00:00:00|  CORP|      Brooklyn|   NY|11203|   25.00|    OFFCE| Office Expenses|
|    2005|       5|   420|      NP|      Comrie|    Leroy|10/26/2005 00:00:00|  CORP|      Brooklyn|   NY| null|   74.00|    OFFCE| Office Expenses|
|    2005|       5|   860|       P|        Doty|  Cynthia| 9/13/2005 00:00:00|  OTHR|      New York|   NY|10025|  483.00|    OTHER|Other: explntion|
|    2005|       2|   263|       P|     Gotbaum|    Betsy| 8/23/2005 00:00:00|  OTHR|      New York|   NY|10018|    9.00|    OTHER|Other: explntion|
|    2005|       2|   263|       P|     Gotbaum|    Betsy| 8/23/2005 00:00:00|  OTHR|      New York|   NY|10018|   52.00|    OTHER|Other: explntion|
|    2005|       2|   263|       P|     Gotbaum|    Betsy| 8/26/2005 00:00:00|  OTHR|      New York|   NY|10018|   13.00|    OTHER|Other: explntion|
+--------+--------+------+--------+------------+---------+-------------------+------+--------------+-----+-----+--------+---------+----------------+
only showing top 20 rows

In [7]:
#Combine the Candidate first and last name columns
from pyspark.sql.functions import concat_ws
df2 = df.withColumn("CandidateName", concat_ws(",","CANDFIRST",'CANDLAST'))
df2.show()

+--------+--------+------+--------+------------+---------+-------------------+------+--------------+-----+-----+--------+---------+----------------+-------------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|    CANDLAST|CANDFIRST|               DATE|C_CODE|          CITY|STATE|  ZIP|    AMNT|PURPOSECD|         PURPOSE|      CandidateName|
+--------+--------+------+--------+------------+---------+-------------------+------+--------------+-----+-----+--------+---------+----------------+-------------------+
|    2005|       4|   206|       P|     Manzano|   Carlos| 5/23/2004 00:00:00|  CORP|      New York|   NY|10019|  918.00|    FUNDR|     Fundraising|     Carlos,Manzano|
|    2005|       4|    ED|       P|Carrion, Jr.|   Adolfo| 4/25/2005 00:00:00|  CORP|      New York|   NY|10017| 3200.00|    CNTRB| Polit Contribs.|Adolfo,Carrion, Jr.|
|    2005|       4|    ED|       P|Carrion, Jr.|   Adolfo|  6/9/2004 00:00:00|  CORP|      New York|   NY|10017| 1500.00|    OTHER|Other: explntion|Adolfo,Carrion, Jr.|
|    2005|       4|    BW|       P|   Moskowitz|      Eva| 6/24/2005 00:00:00|  CORP|          null| null| null|   55.00|    OTHER|Other: explntion|      Eva,Moskowitz|
|    2005|       5|   232|       P|      Weprin|    David| 3/11/2005 00:00:00|  CORP|            NY|   NY| null|  103.00|    OTHER|Other: explntion|       David,Weprin|
|    2005|       5|   837|       P|    Nocerino|   Joseph| 4/18/2005 00:00:00|  OTHR|Winter Springs|   FL|32708|  210.00|    LITER|     Campgn Lit.|    Joseph,Nocerino|
|    2005|       5|   837|       P|    Nocerino|   Joseph|  4/1/2005 00:00:00|  OTHR|Winter Springs|   FL|32708|  538.00|    LITER|     Campgn Lit.|    Joseph,Nocerino|
|    2005|       5|   837|       P|    Nocerino|   Joseph|  4/4/2005 00:00:00|  OTHR|Winter Springs|   FL|32708|  372.00|    LITER|     Campgn Lit.|    Joseph,Nocerino|
|    2005|       5|   837|       P|    Nocerino|   Joseph| 4/22/2005 00:00:00|  OTHR|Winter Springs|   FL|32708|  373.00|    LITER|     Campgn Lit.|    Joseph,Nocerino|
|    2005|       1|    AY|       P|      Ferrer| Fernando|12/19/2005 00:00:00|  CORP|      New York|   NY|10011|   23.00|    OTHER|Other: explntion|    Fernando,Ferrer|
|    2005|       1|    AY|       P|      Ferrer| Fernando| 5/20/2005 00:00:00|  CORP|      New York|   NY|10018|   35.00|    OTHER|Other: explntion|    Fernando,Ferrer|
|    2005|       2|   310|       P|      Siegel|   Norman|11/11/2005 00:00:00|  CORP|      New York|   NY|10106|  222.00|    RADIO|      Radio Ads.|      Norman,Siegel|
|    2005|       2|   310|       P|      Siegel|   Norman|  9/8/2005 00:00:00|  CORP|      New York|   NY|10106| 7931.00|    RADIO|      Radio Ads.|      Norman,Siegel|
|    2005|       2|   310|       P|      Siegel|   Norman| 10/4/2005 00:00:00|  CORP|      New York|   NY|10106|-1365.00|     null|            null|      Norman,Siegel|
|    2005|       5|   420|      NP|      Comrie|    Leroy|10/24/2005 00:00:00|  CORP|      Brooklyn|   NY|11203|   25.00|    OFFCE| Office Expenses|       Leroy,Comrie|
|    2005|       5|   420|      NP|      Comrie|    Leroy|10/26/2005 00:00:00|  CORP|      Brooklyn|   NY| null|   74.00|    OFFCE| Office Expenses|       Leroy,Comrie|
|    2005|       5|   860|       P|        Doty|  Cynthia| 9/13/2005 00:00:00|  OTHR|      New York|   NY|10025|  483.00|    OTHER|Other: explntion|       Cynthia,Doty|
|    2005|       2|   263|       P|     Gotbaum|    Betsy| 8/23/2005 00:00:00|  OTHR|      New York|   NY|10018|    9.00|    OTHER|Other: explntion|      Betsy,Gotbaum|
|    2005|       2|   263|       P|     Gotbaum|    Betsy| 8/23/2005 00:00:00|  OTHR|      New York|   NY|10018|   52.00|    OTHER|Other: explntion|      Betsy,Gotbaum|
|    2005|       2|   263|       P|     Gotbaum|    Betsy| 8/26/2005 00:00:00|  OTHR|      New York|   NY|10018|   13.00|    OTHER|Other: explntion|      Betsy,Gotbaum|
+--------+--------+------+--------+------------+---------+-------------------+------+--------------+-----+-----+--------+---------+----------------+-------------------+
only showing top 20 rows

In [8]:
#Rearrange column order
df3=df2.select('ELECTION','OFFICECD', 'CANDID', 'CANCLASS', 'CandidateName', 'CANDLAST', 'CANDFIRST','C_CODE', "DATE", 'CITY', 'STATE',  'ZIP', 'AMNT', 'PURPOSECD', 'PURPOSE')

In [9]:
#Drop OFFICECD and CANCLASS
list1 = ['CANDLAST', 'CANDFIRST'] 
df4 = df3.drop(*list1)
df4.show()

+--------+--------+------+--------+-------------------+------+-------------------+--------------+-----+-----+--------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|      CandidateName|C_CODE|               DATE|          CITY|STATE|  ZIP|    AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+-------------------+------+-------------------+--------------+-----+-----+--------+---------+----------------+
|    2005|       4|   206|       P|     Carlos,Manzano|  CORP| 5/23/2004 00:00:00|      New York|   NY|10019|  918.00|    FUNDR|     Fundraising|
|    2005|       4|    ED|       P|Adolfo,Carrion, Jr.|  CORP| 4/25/2005 00:00:00|      New York|   NY|10017| 3200.00|    CNTRB| Polit Contribs.|
|    2005|       4|    ED|       P|Adolfo,Carrion, Jr.|  CORP|  6/9/2004 00:00:00|      New York|   NY|10017| 1500.00|    OTHER|Other: explntion|
|    2005|       4|    BW|       P|      Eva,Moskowitz|  CORP| 6/24/2005 00:00:00|          null| null| null|   55.00|    OTHER|Other: explntion|
|    2005|       5|   232|       P|       David,Weprin|  CORP| 3/11/2005 00:00:00|            NY|   NY| null|  103.00|    OTHER|Other: explntion|
|    2005|       5|   837|       P|    Joseph,Nocerino|  OTHR| 4/18/2005 00:00:00|Winter Springs|   FL|32708|  210.00|    LITER|     Campgn Lit.|
|    2005|       5|   837|       P|    Joseph,Nocerino|  OTHR|  4/1/2005 00:00:00|Winter Springs|   FL|32708|  538.00|    LITER|     Campgn Lit.|
|    2005|       5|   837|       P|    Joseph,Nocerino|  OTHR|  4/4/2005 00:00:00|Winter Springs|   FL|32708|  372.00|    LITER|     Campgn Lit.|
|    2005|       5|   837|       P|    Joseph,Nocerino|  OTHR| 4/22/2005 00:00:00|Winter Springs|   FL|32708|  373.00|    LITER|     Campgn Lit.|
|    2005|       1|    AY|       P|    Fernando,Ferrer|  CORP|12/19/2005 00:00:00|      New York|   NY|10011|   23.00|    OTHER|Other: explntion|
|    2005|       1|    AY|       P|    Fernando,Ferrer|  CORP| 5/20/2005 00:00:00|      New York|   NY|10018|   35.00|    OTHER|Other: explntion|
|    2005|       2|   310|       P|      Norman,Siegel|  CORP|11/11/2005 00:00:00|      New York|   NY|10106|  222.00|    RADIO|      Radio Ads.|
|    2005|       2|   310|       P|      Norman,Siegel|  CORP|  9/8/2005 00:00:00|      New York|   NY|10106| 7931.00|    RADIO|      Radio Ads.|
|    2005|       2|   310|       P|      Norman,Siegel|  CORP| 10/4/2005 00:00:00|      New York|   NY|10106|-1365.00|     null|            null|
|    2005|       5|   420|      NP|       Leroy,Comrie|  CORP|10/24/2005 00:00:00|      Brooklyn|   NY|11203|   25.00|    OFFCE| Office Expenses|
|    2005|       5|   420|      NP|       Leroy,Comrie|  CORP|10/26/2005 00:00:00|      Brooklyn|   NY| null|   74.00|    OFFCE| Office Expenses|
|    2005|       5|   860|       P|       Cynthia,Doty|  OTHR| 9/13/2005 00:00:00|      New York|   NY|10025|  483.00|    OTHER|Other: explntion|
|    2005|       2|   263|       P|      Betsy,Gotbaum|  OTHR| 8/23/2005 00:00:00|      New York|   NY|10018|    9.00|    OTHER|Other: explntion|
|    2005|       2|   263|       P|      Betsy,Gotbaum|  OTHR| 8/23/2005 00:00:00|      New York|   NY|10018|   52.00|    OTHER|Other: explntion|
|    2005|       2|   263|       P|      Betsy,Gotbaum|  OTHR| 8/26/2005 00:00:00|      New York|   NY|10018|   13.00|    OTHER|Other: explntion|
+--------+--------+------+--------+-------------------+------+-------------------+--------------+-----+-----+--------+---------+----------------+
only showing top 20 rows

In [10]:
# check data types
df4.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('CANDID', 'string'),
 ('CANCLASS', 'string'),
 ('CandidateName', 'string'),
 ('C_CODE', 'string'),
 ('DATE', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('AMNT', 'string'),
 ('PURPOSECD', 'string'),
 ('PURPOSE', 'string')]

In [11]:
df4.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CandidateName',
 'C_CODE',
 'DATE',
 'CITY',
 'STATE',
 'ZIP',
 'AMNT',
 'PURPOSECD',
 'PURPOSE']

In [12]:
#Change column names
df5 = df4 \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("CANDID", "CandidateID") \
.withColumnRenamed("C_CODE", "ContributionType") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("PURPOSECD", "PurposeCode") \
.withColumnRenamed("PURPOSE", "Purpose") 

df5.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- ContributionType: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [13]:
# changing datatypes of columns
df6 = df5 \
  .withColumn("Election",df5["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df5["OFFICECD"].cast("Integer")) \
  .withColumn("ZipCode", df5["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df5["Amount"].cast("Integer")) \
  
df6.printSchema()

#Removed from above code as ID is INT and TEXT within CSV
#.withColumn("CandidateID", df5["CandidateID"].cast("Integer")) \

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- ContributionType: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- Amount: integer (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [14]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df7 = df6.withColumn("ContributionType", regexp_replace("ContributionType", 'CAN', 'Candidate')) \
  .withColumn('ContributionType', regexp_replace("ContributionType", 'CORP', 'Corporation')) \
  .withColumn('ContributionType', regexp_replace("ContributionType", 'EMPO', 'Labor Union')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'FAM', 'Candidate Family')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'IND', 'Individual')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMZ', 'Party Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'ORG', 'Orgainization')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'LLC', 'Limited Liability Company')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMP', 'Political Action Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'SPO', ' Candidates Spouse')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'OTHR', 'Other')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMC', 'Candidate Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PART', 'Individual')) \

In [15]:
#Change Purpose Code value names
from pyspark.sql.functions import regexp_replace
df8 = df7.withColumn('PurposeCode', regexp_replace('PurposeCode', 'ADVAN', 'Advance Repayment')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMAIL', 'Campaign Mail')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMISC', 'Miscellaneous')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CNTRB', 'Political Contributions')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'COMPL', 'Compliance Cost')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSL', 'Campaign Consultants')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSV', 'Constituent Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'FUNDR', 'Fundraising')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'INTER', 'Interest Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'LITER', 'Campaign Literature')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'NQUAL', 'Non Qualified Expenditures')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OFFCE', 'Office Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OTHER', 'Other')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PETIT', 'Petition Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POLLS', 'Polling Costs')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POSTA', 'Postal Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PRINT', 'Printing Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PROFL', 'Professional Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RADIO', 'Radio Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RENTO', 'Office Rent')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'TVADS', 'Television Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'UNKN', 'Unknown')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'VOTER', 'Voter Registration')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'WAGES', 'Campaign Workers Salaries')) \

In [16]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df9 = df8.filter((df8.OFFICECD=="1"))
df9.show()

+--------+--------+-----------+--------+-----------------+--------------------+-------------------+--------+-----+-------+------+---------------+----------------+
|Election|OFFICECD|CandidateID|CANCLASS|    CandidateName|    ContributionType|               Date|    City|State|ZipCode|Amount|    PurposeCode|         Purpose|
+--------+--------+-----------+--------+-----------------+--------------------+-------------------+--------+-----+-------+------+---------------+----------------+
|    2005|       1|         AY|       P|  Fernando,Ferrer|         Corporation|12/19/2005 00:00:00|New York|   NY|  10011|    23|          Other|Other: explntion|
|    2005|       1|         AY|       P|  Fernando,Ferrer|         Corporation| 5/20/2005 00:00:00|New York|   NY|  10018|    35|          Other|Other: explntion|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...| 2/23/2005 00:00:00|New York|   NY|  10021|  4660|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...| 2/23/2005 00:00:00|New York|   NY|  10021|  7363|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...| 2/23/2005 00:00:00|New York|   NY|  10021|   340|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...| 2/23/2005 00:00:00|New York|   NY|  10021|   537|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...| 11/1/2005 00:00:00|New York|   NY|  10021|  4048|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...|  7/6/2005 00:00:00|New York|   NY|  10021|  4015|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...|  6/9/2005 00:00:00|New York|   NY|  10021|  6220|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...| 5/25/2005 00:00:00|New York|   NY|  10021|  8004|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...|  8/3/2005 00:00:00|New York|   NY|  10021|  4058|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...| 9/12/2005 00:00:00|New York|   NY|  10021| 11985|    Office Rent|     Office Rent|
|    2005|       1|         BB|       P|   Anthony,Weiner|Limited Liability...|12/30/2005 00:00:00|New York|   NY|  10021| -3555|           null|            null|
|    2005|       1|         AY|       P|  Fernando,Ferrer|         Labor Union| 11/4/2005 00:00:00|New York|   NY|  10036|    40|    Office Rent|     Office Rent|
|    2005|       1|         AY|       P|  Fernando,Ferrer|         Labor Union|11/15/2005 00:00:00|New York|   NY|  10036|   800|          Other|Other: explntion|
|    2005|       1|        605|      NP|Michael,Bloomberg|Limited Liability...| 6/29/2005 00:00:00|New York|   NY|  10018|    90|Office Expenses| Office Expenses|
|    2005|       1|        605|      NP|Michael,Bloomberg|Limited Liability...|  9/9/2005 00:00:00|New York|   NY|  10018|    87|Office Expenses| Office Expenses|
|    2005|       1|         Y2|       P|A. Gifford,Miller|          Individual| 7/22/2005 00:00:00|New York|   NY|  10038|  4513|    Office Rent|     Office Rent|
|    2005|       1|         Y2|       P|A. Gifford,Miller|          Individual| 7/21/2005 00:00:00|New York|   NY|  10038|  2257|    Office Rent|     Office Rent|
|    2005|       1|         Y2|       P|A. Gifford,Miller|          Individual|  8/1/2005 00:00:00|New York|   NY|  10038|  1674|    Office Rent|     Office Rent|
+--------+--------+-----------+--------+-----------------+--------------------+-------------------+--------+-----+-------+------+---------------+----------------+
only showing top 20 rows

In [17]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df9.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [18]:

#Replace Replace 0 for null on only Amount column 
df10 = df9.na.fill(value=0,subset=["Amount"])

In [19]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
Expenditures_2005_df = df10.drop(*list2)
Expenditures_2005_df.show()

+--------+-----------+-----------------+--------------------+-------------------+--------+-----+-------+------+---------------+----------------+
|Election|CandidateID|    CandidateName|    ContributionType|               Date|    City|State|ZipCode|Amount|    PurposeCode|         Purpose|
+--------+-----------+-----------------+--------------------+-------------------+--------+-----+-------+------+---------------+----------------+
|    2005|         AY|  Fernando,Ferrer|         Corporation|12/19/2005 00:00:00|New York|   NY|  10011|    23|          Other|Other: explntion|
|    2005|         AY|  Fernando,Ferrer|         Corporation| 5/20/2005 00:00:00|New York|   NY|  10018|    35|          Other|Other: explntion|
|    2005|         BB|   Anthony,Weiner|Limited Liability...| 2/23/2005 00:00:00|New York|   NY|  10021|  4660|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...| 2/23/2005 00:00:00|New York|   NY|  10021|  7363|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...| 2/23/2005 00:00:00|New York|   NY|  10021|   340|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...| 2/23/2005 00:00:00|New York|   NY|  10021|   537|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...| 11/1/2005 00:00:00|New York|   NY|  10021|  4048|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...|  7/6/2005 00:00:00|New York|   NY|  10021|  4015|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...|  6/9/2005 00:00:00|New York|   NY|  10021|  6220|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...| 5/25/2005 00:00:00|New York|   NY|  10021|  8004|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...|  8/3/2005 00:00:00|New York|   NY|  10021|  4058|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...| 9/12/2005 00:00:00|New York|   NY|  10021| 11985|    Office Rent|     Office Rent|
|    2005|         BB|   Anthony,Weiner|Limited Liability...|12/30/2005 00:00:00|New York|   NY|  10021| -3555|           null|            null|
|    2005|         AY|  Fernando,Ferrer|         Labor Union| 11/4/2005 00:00:00|New York|   NY|  10036|    40|    Office Rent|     Office Rent|
|    2005|         AY|  Fernando,Ferrer|         Labor Union|11/15/2005 00:00:00|New York|   NY|  10036|   800|          Other|Other: explntion|
|    2005|        605|Michael,Bloomberg|Limited Liability...| 6/29/2005 00:00:00|New York|   NY|  10018|    90|Office Expenses| Office Expenses|
|    2005|        605|Michael,Bloomberg|Limited Liability...|  9/9/2005 00:00:00|New York|   NY|  10018|    87|Office Expenses| Office Expenses|
|    2005|         Y2|A. Gifford,Miller|          Individual| 7/22/2005 00:00:00|New York|   NY|  10038|  4513|    Office Rent|     Office Rent|
|    2005|         Y2|A. Gifford,Miller|          Individual| 7/21/2005 00:00:00|New York|   NY|  10038|  2257|    Office Rent|     Office Rent|
|    2005|         Y2|A. Gifford,Miller|          Individual|  8/1/2005 00:00:00|New York|   NY|  10038|  1674|    Office Rent|     Office Rent|
+--------+-----------+-----------------+--------------------+-------------------+--------+-----+-------+------+---------------+----------------+
only showing top 20 rows

In [20]:
#Export to new CSV
Expenditures_2005_df.toPandas().to_csv("Clean_Expenditures_2005.csv", header=True)

In [21]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "88888",
          "driver":"org.postgresql.Driver"}

In [22]:
# Write DataFrame to active_user table in RDS
#Expenditures_2009_df.write.jdbc(url=jdbc_url, table='expenditures_2009', mode=mode, properties=config)