<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/Expenditures_2017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,755 kB]
Fetched 5,120 kB in 3s (1,602 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-09 20:12:47--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.6’

postgresql-42.2.16. 100%[===================>] 979.38K  3.12MB/s    in 0.3s

2021-09-09 20:12:48 (3.12 MB/s) - ‘postgresql-42.2.16.jar.6’ saved [1002883/1002883]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Expenditures+2017.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Expenditures+2017.csv"), sep=",", header=True)
df.show()

+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+--------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|  INV_DATE|      DATE|                NAME|C_CODE|ORG_IND|STRNO|STRNAME|APARTMENT|          CITY|STATE|  ZIP|PAY_METHOD|  AMNT|PURPOSECD|         PURPOSE|             EXPLAIN|EXEMPTCD|RR_IND|SEG_IND|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+--------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
|    2017|       5|    D4|       P|   McMillan|    Jimmy|  null|        L|    16|       N|  null|      null|R0000161|      null| 2/26/2017|	Global Office Se...|   LLC|      Y| null|   null|     null| Lawrenceville|   GA|30045|      null|  4910|    OTHER|Other: explntion|   Website & Hosting|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|    10|       F|  null|      null|R0000801|  8/3/2017|  8/3/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 58.12|    PETIT| Petition Expns.|Gas gas for petition|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|    13|       F|  null|      null|R0000972| 9/30/2017| 9/30/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 36.51|    OTHER|Other: explntion|      canvassing Gas|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|    14|       F|  null|      null|R0001087| 10/7/2017| 10/7/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 35.99|    PETIT| Petition Expns.|        gas purchase|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|    14|       F|  null|      null|R0001291|10/18/2017|10/18/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown|  41.7|    PETIT| Petition Expns.|        gas purchase|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|     9|       F|  null|      null|R0000461| 6/20/2017| 6/20/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 59.57|    PETIT| Petition Expns.|Gas gas for petition|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|     9|       F|  null|      null|R0000494| 6/29/2017| 6/29/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 52.18|    PETIT| Petition Expns.|    Gas for petition|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    14|       F|  null|      null|R0001528|10/18/2017|10/18/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown|    25|    OTHER|Other: explntion|            Gas Card|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    14|       F|  null|      null|R0001530|10/18/2017|10/18/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown|    25|    OTHER|Other: explntion|            Gas Card|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    14|       F|  null|      null|R0001532|10/18/2017|10/18/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown|    25|    OTHER|Other: explntion|            Gas Card|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    14|       F|  null|      null|R0001534|10/18/2017|10/18/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown|    25|    OTHER|Other: explntion|            Gas Card|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    15|       F|  null|      null|R0001790| 11/2/2017| 11/2/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown| 32.76|    OTHER|Other: explntion|                 Gas|    null|     N|      N|
|    2017|       5|  1930|       P|     Rivera|  Carlina|     L|        H|    14|       F|  null|      null|R0006756|10/15/2017|10/15/2017|   1&1 Internet Inc.|  CORP|      Y| null|   null|     null|  Chesterbrook|   PA|19087|   Unknown| 40.17|    OFFCE| Office Expenses|         Domain Host|    null|     N|      N|
|    2017|       5|  1930|       P|     Rivera|  Carlina|     L|        H|     6|       F|  null|      null|R0001701|10/15/2016|10/15/2016|   1&1 Internet Inc.|  CORP|      Y| null|   null|     null|  Chesterbrook|   PA|19087|   Unknown| 20.17|    OFFCE| Office Expenses|         Domain Host|    null|     N|      N|
|    2017|       5|  1930|       P|     Rivera|  Carlina|     L|        H|     6|       F|  null|      null|R0001989|11/15/2016|11/18/2016|   1&1 Internet Inc.|  CORP|      Y| null|   null|     null|  Chesterbrook|   PA|19087|   Unknown| 11.17|    OFFCE| Office Expenses|         Domain Host|    null|     N|      N|
|    2017|       5|  1985|       P|    Beltzer|  Michael|  null|        H|     6|       F|  null|      null|R0000425| 12/8/2016|12/13/2016|   1&1 Internet Inc.|  CORP|      Y| null|   null|     null|  Chesterbrook|   PA|19087|   Unknown| 32.05|    PROFL|    Prof. Srvcs.|         Web Hosting|    null|     N|      N|
|    2017|       5|  2009|       P|    Hormeku|   Mawuli|     K|        H|     9|       F|  null|      null|R0000933| 6/19/2017| 6/19/2017|       1-800-Flowers|  CORP|      Y| null|   null|     null|          null| null| null|   Unknown| 87.06|    OTHER|Other: explntion|               Gifts|    null|     N|      N|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul|     J|        H|     8|       F|  null|      null|R0005483| 3/22/2017| 3/23/2017|    1-800Flowers.com|  CORP|      Y| null|   null|     null|   Carle Place|   NY|11514|   Unknown| 63.12|    OFFCE| Office Expenses|             Flowers|    null|     N|      N|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul|     J|        H|     8|       F|  null|      null|R0005991|  4/6/2017| 4/10/2017|10 St. James Parking|  CORP|      Y| null|   null|     null|        Boston|   MA| 2116|   Unknown|    30|    FUNDR|     Fundraising|     Parking BOS 4/6|    null|     N|      N|
|    2017|       1|   326|       P|  de Blasio|     Bill|  null|        P|    11|       F|  null|      null|R0080222| 7/21/2017| 8/14/2017|100 Chickens Prod...|  CORP|      Y| null|   null|     null|      Brooklyn|   NY|11201|   Unknown|518.72|    OFFCE| Office Expenses|           Utilities|    null|     N|      N|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+--------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
only showing top 20 rows

In [5]:
df.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CANDLAST',
 'CANDFIRST',
 'CANDMI',
 'COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'DATE',
 'NAME',
 'C_CODE',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
 'CITY',
 'STATE',
 'ZIP',
 'PAY_METHOD',
 'AMNT',
 'PURPOSECD',
 'PURPOSE',
 'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND']

In [6]:
# Remove multiple columns
list = ['CANDMI','COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'DATE',
 'NAME',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
  'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND',
 'PAY_METHOD'] 
df = df.drop(*list)
df.show()

+--------+--------+------+--------+-----------+---------+------+--------------+-----+-----+------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|C_CODE|          CITY|STATE|  ZIP|  AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+-----------+---------+------+--------------+-----+-----+------+---------+----------------+
|    2017|       5|    D4|       P|   McMillan|    Jimmy|   LLC| Lawrenceville|   GA|30045|  4910|    OTHER|Other: explntion|
|    2017|       5|  2077|       P|      Green|   Rupert|  OTHR|  Saint Albans|   NY|11412| 58.12|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|      Green|   Rupert|  OTHR|  Saint Albans|   NY|11412| 36.51|    OTHER|Other: explntion|
|    2017|       5|  2077|       P|      Green|   Rupert|  OTHR|  Saint Albans|   NY|11412| 35.99|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|      Green|   Rupert|  OTHR|  Saint Albans|   NY|11412|  41.7|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|      Green|   Rupert|  OTHR|  Saint Albans|   NY|11412| 59.57|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|      Green|   Rupert|  OTHR|  Saint Albans|   NY|11412| 52.18|    PETIT| Petition Expns.|
|    2017|       5|  1849|       P|  Concannon|   Joseph|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|  Concannon|   Joseph|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|  Concannon|   Joseph|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|  Concannon|   Joseph|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|  Concannon|   Joseph|  CORP|Queens Village|   NY|11427| 32.76|    OTHER|Other: explntion|
|    2017|       5|  1930|       P|     Rivera|  Carlina|  CORP|  Chesterbrook|   PA|19087| 40.17|    OFFCE| Office Expenses|
|    2017|       5|  1930|       P|     Rivera|  Carlina|  CORP|  Chesterbrook|   PA|19087| 20.17|    OFFCE| Office Expenses|
|    2017|       5|  1930|       P|     Rivera|  Carlina|  CORP|  Chesterbrook|   PA|19087| 11.17|    OFFCE| Office Expenses|
|    2017|       5|  1985|       P|    Beltzer|  Michael|  CORP|  Chesterbrook|   PA|19087| 32.05|    PROFL|    Prof. Srvcs.|
|    2017|       5|  2009|       P|    Hormeku|   Mawuli|  CORP|          null| null| null| 87.06|    OTHER|Other: explntion|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul|  CORP|   Carle Place|   NY|11514| 63.12|    OFFCE| Office Expenses|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul|  CORP|        Boston|   MA| 2116|    30|    FUNDR|     Fundraising|
|    2017|       1|   326|       P|  de Blasio|     Bill|  CORP|      Brooklyn|   NY|11201|518.72|    OFFCE| Office Expenses|
+--------+--------+------+--------+-----------+---------+------+--------------+-----+-----+------+---------+----------------+
only showing top 20 rows

In [7]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('CANDID', 'string'),
 ('CANCLASS', 'string'),
 ('CANDLAST', 'string'),
 ('CANDFIRST', 'string'),
 ('C_CODE', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('AMNT', 'string'),
 ('PURPOSECD', 'string'),
 ('PURPOSE', 'string')]

In [8]:
df.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CANDLAST',
 'CANDFIRST',
 'C_CODE',
 'CITY',
 'STATE',
 'ZIP',
 'AMNT',
 'PURPOSECD',
 'PURPOSE']

In [9]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("CANDID", "CandidateID") \
.withColumnRenamed("CANDLAST", "CandidateLastName") \
.withColumnRenamed('CANDFIRST', "CandidateFirstName") \
.withColumnRenamed("C_CODE", "ContributionType") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("PURPOSECD", "PurposeCode") \
.withColumnRenamed("PURPOSE", "Purpose") \
#.withColumnRenamed("PAY_METHOD", "PaymentMethod") 

df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateLastName: string (nullable = true)
 |-- CandidateFirstName: string (nullable = true)
 |-- ContributionType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [10]:
# changing datatypes of columns
df2 = df1 \
  .withColumn("Election",df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  
df2.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateLastName: string (nullable = true)
 |-- CandidateFirstName: string (nullable = true)
 |-- ContributionType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- Amount: float (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [11]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn("ContributionType", regexp_replace("ContributionType", 'CAN', 'Candidate')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'CORP', 'Corporation')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'EMPO', 'Labor Union')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'FAM', 'Candidate Family')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'IND', 'Individual')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMZ', 'Party Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'ORG', 'Orgainization')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'LLC', 'Limited Liability Company')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMP', 'Political Action Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'SPO', ' Candidates Spouse')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'OTHR', 'Other')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMC', 'Candidate Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PART', 'Individual')) \

In [12]:
#Change Purpose Code value names
from pyspark.sql.functions import regexp_replace
df4 = df3.withColumn('PurposeCode', regexp_replace('PurposeCode', 'ADVAN', 'Advance Repayment')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMAIL', 'Campaign Mail')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMISC', 'Miscellaneous')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CNTRB', 'Political Contributions')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'COMPL', 'Compliance Cost')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSL', 'Campaign Consultants')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSV', 'Constituent Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'FUNDR', 'Fundraising')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'INTER', 'Interest Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'LITER', 'Campaign Literature')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'NQUAL', 'Non Qualified Expenditures')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OFFCE', 'Office Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OTHER', 'Other')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PETIT', 'Petition Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POLLS', 'Polling Costs')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POSTA', 'Postal Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PRINT', 'Printing Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PROFL', 'Professional Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RADIO', 'Radio Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RENTO', 'Office Rent')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'TVADS', 'Television Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'UNKN', 'Unknown')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'VOTER', 'Voter Registration')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'WAGES', 'Campaign Workers Salaries')) \

In [13]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df5 = df4.filter((df4.OFFICECD=="1") & (df4.CANCLASS=="P"))
df5.show()

+--------+--------+-----------+--------+-----------------+------------------+----------------+----------------+-----+-------+-------+--------------------+----------------+
|Election|OFFICECD|CandidateID|CANCLASS|CandidateLastName|CandidateFirstName|ContributionType|            City|State|ZipCode| Amount|         PurposeCode|         Purpose|
+--------+--------+-----------+--------+-----------------+------------------+----------------+----------------+-----+-------+-------+--------------------+----------------+
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11201| 518.72|     Office Expenses| Office Expenses|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11201|1041.93|     Office Expenses| Office Expenses|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11201| 1500.0|         Office Rent|     Office Rent|
|    2017|       1|       2055|       P|     De La Fuente|             Roque|     Corporation|        New York|   NY|  10025| 6000.0|Professional Serv...|    Prof. Srvcs.|
|    2017|       1|       2055|       P|     De La Fuente|             Roque|     Corporation|        New York|   NY|  10025| 6000.0|Professional Serv...|    Prof. Srvcs.|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        New York|   NY|  10128| 262.56|               Other|Other: explntion|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11217|  800.0|         Fundraising|     Fundraising|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|Long Island City|   NY|  11101| 1000.0|         Fundraising|     Fundraising|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        New York|   NY|  10016| 938.07|               Other|Other: explntion|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        New York|   NY|  10040|  21.33|               Other|Other: explntion|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        New York|   NY|  10040| 2000.0|         Fundraising|     Fundraising|
|    2017|       1|       2054|       P|            Gangi|            Robert|     Corporation|        New York|   NY|  10024| 780.35| Campaign Literature|     Campgn Lit.|
|    2017|       1|       2054|       P|            Gangi|            Robert|     Corporation|        New York|   NY|  10024| 887.33|               Other|Other: explntion|
|    2017|       1|       2054|       P|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|  26.13|               Other|Other: explntion|
|    2017|       1|       2054|       P|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|  915.0| Campaign Literature|     Campgn Lit.|
|    2017|       1|       2054|       P|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|  437.0| Campaign Literature|     Campgn Lit.|
|    2017|       1|       2054|       P|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|  330.0| Campaign Literature|     Campgn Lit.|
|    2017|       1|       2054|       P|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|1330.45| Campaign Literature|     Campgn Lit.|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        New York|   NY|  10010|  63.35|               Other|Other: explntion|
|    2017|       1|        326|       P|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11205| 807.85|               Other|Other: explntion|
+--------+--------+-----------+--------+-----------------+------------------+----------------+----------------+-----+-------+-------+--------------------+----------------+
only showing top 20 rows

In [14]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df5.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [15]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
Expenditures_2017_df = df5.drop(*list2)
Expenditures_2017_df.show()

+--------+-----------+-----------------+------------------+----------------+----------------+-----+-------+-------+--------------------+----------------+
|Election|CandidateID|CandidateLastName|CandidateFirstName|ContributionType|            City|State|ZipCode| Amount|         PurposeCode|         Purpose|
+--------+-----------+-----------------+------------------+----------------+----------------+-----+-------+-------+--------------------+----------------+
|    2017|        326|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11201| 518.72|     Office Expenses| Office Expenses|
|    2017|        326|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11201|1041.93|     Office Expenses| Office Expenses|
|    2017|        326|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11201| 1500.0|         Office Rent|     Office Rent|
|    2017|       2055|     De La Fuente|             Roque|     Corporation|        New York|   NY|  10025| 6000.0|Professional Serv...|    Prof. Srvcs.|
|    2017|       2055|     De La Fuente|             Roque|     Corporation|        New York|   NY|  10025| 6000.0|Professional Serv...|    Prof. Srvcs.|
|    2017|        326|        de Blasio|              Bill|     Corporation|        New York|   NY|  10128| 262.56|               Other|Other: explntion|
|    2017|        326|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11217|  800.0|         Fundraising|     Fundraising|
|    2017|        326|        de Blasio|              Bill|     Corporation|Long Island City|   NY|  11101| 1000.0|         Fundraising|     Fundraising|
|    2017|        326|        de Blasio|              Bill|     Corporation|        New York|   NY|  10016| 938.07|               Other|Other: explntion|
|    2017|        326|        de Blasio|              Bill|     Corporation|        New York|   NY|  10040|  21.33|               Other|Other: explntion|
|    2017|        326|        de Blasio|              Bill|     Corporation|        New York|   NY|  10040| 2000.0|         Fundraising|     Fundraising|
|    2017|       2054|            Gangi|            Robert|     Corporation|        New York|   NY|  10024| 780.35| Campaign Literature|     Campgn Lit.|
|    2017|       2054|            Gangi|            Robert|     Corporation|        New York|   NY|  10024| 887.33|               Other|Other: explntion|
|    2017|       2054|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|  26.13|               Other|Other: explntion|
|    2017|       2054|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|  915.0| Campaign Literature|     Campgn Lit.|
|    2017|       2054|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|  437.0| Campaign Literature|     Campgn Lit.|
|    2017|       2054|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|  330.0| Campaign Literature|     Campgn Lit.|
|    2017|       2054|            Gangi|            Robert|     Corporation|        New York|   NY|  10024|1330.45| Campaign Literature|     Campgn Lit.|
|    2017|        326|        de Blasio|              Bill|     Corporation|        New York|   NY|  10010|  63.35|               Other|Other: explntion|
|    2017|        326|        de Blasio|              Bill|     Corporation|        Brooklyn|   NY|  11205| 807.85|               Other|Other: explntion|
+--------+-----------+-----------------+------------------+----------------+----------------+-----+-------+-------+--------------------+----------------+
only showing top 20 rows

In [16]:
#Export to new CSV
#Expenditures_2017_df.toPandas().to_csv("Clean_Expenditures_2017.csv", header=True)

In [17]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "*****",
          "driver":"org.postgresql.Driver"}

In [18]:
#Write DataFrame to active_user table in RDS
Expenditures_2017_df.write.jdbc(url=jdbc_url, table='expenditures_2017', mode=mode, properties=config)
clean_indiv_2017_df.write.jdbc(url=jdbc_url, table='individual_2017', mode=mode, properties=config)

Py4JJavaError: ignored