<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/2001_Contributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ***2001 Indivdual Contributions***

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:11 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:13 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
import findspark
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-17 20:13:04--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  5.96MB/s    in 0.2s

2021-09-17 20:13:05 (5.96 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [4]:
# Start Spark session
#from pyspark.sql import SparkSession
#from pyspark.sql.functions import col
#spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Individual+Contributions+2001.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Individual+Contributions+2001.csv"), sep=",", header=True)
df.show()

+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|           DATE|REFUNDDATE|NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|CITY|STATE|  ZIP|       OCCUPATION|             EMPNAME|EMPSTRNO|        EMPSTRNAME| EMPCITY|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2001|       5|   579|       P|     Hughes|  Michael|     B|        H|    10|     ABC|  null|      null|P0009-05|  8/8/2001 0:00|      null|null|   IND| null|   null|     null|        M|  NY|   NY|10034|             null|                null|    null|              null|    null|    null|  10|       10|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   559|       P|     Wooten|   Donald|     T|        H|    10|       D|  null|      null|P0001-01| 8/31/2001 0:00|      null|null|  OTHR| null|   null|     null|     null|null| null| null|SOCIAL CLUB OWNER|       THE ELITE ARK|      48|       WORTMAN AVE|BROOKLYN|      NY|   1|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    RENTO|    null|     null|     N|   null|      null|
|    2001|       5|    C6|       P|    Fabozzi|   Albert|  null|        H|     6|     ABC|  null|      null|P0003-08|  8/1/2000 0:00|      null|null|  CORP| null|   null|     null|     null|null| null| null|             null|MYOPTIC S DIVISIO...|      82|CHRISTOPHER STREET|NEW YORK|      NY| 100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0007-09|  7/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  25|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0007-10|  7/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null| 100|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0001-08| 3/20/2001 0:00|      null|null|  UNKN| null|   null|     null|        X|null| null| null|             null|                null|    null|              null|    null|    null| 260|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0001-05| 2/20/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null| 300|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|    MJ|       P|   Martinez|     Juan|     D|        H|     9|     ABC|  null|      null|P0001-10|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   448|       P|    Ciafone|     John|     J|        H|    10|     ABC|  null|      null|P0003-04|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0002-06| 4/24/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|1040|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0003-01| 4/24/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|       NOT AVAILABLE|    null|              null|    null|    null| 250|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   553|       P|Atwood King|Elizabeth|  null|        H|     9|     ABC|  null|      null|P0002-01| 7/13/2001 0:00|      null|null|   IND| null|   null|     null|        K|null| null| null|             null|                null|    null|              null|    null|    null|  45|       45|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0005-07|10/12/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|DISTRICT 15 INTER...|    1455|       MAIN AVENUE| CLIFTON|      NJ| 200|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0005-08|10/20/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|EUREKA LODGE NO 4...|   91-31|QUEENS BLVD RM 406|ELMHURST|      NY| 100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0006-01|10/13/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|DIST 15 INTERN L ...|    1455|       MAIN AVENUE| CLIFTON|      NJ| 150|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   232|       P|     Weprin|    David|     I|        H|     8|     ABC|  null|      null|P0001-06|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   553|       P|Atwood King|Elizabeth|  null|        H|     8|     ABC|  null|      null|P0007-10|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  50|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|    F5|       P|    Montano|  Armando|  null|        H|    15|     ABC|  null|      null|P0001-01| 10/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  25|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   232|       P|     Weprin|    David|     I|        H|    12|     ABC|  null|      null|P0001-04| 8/23/2001 0:00|      null|null| PCOMP| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2001|       5|   334|       P|  Gallagher|   Dennis|     P|        H|    11|     ABC|  null|      null|P0006-01| 9/12/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|  COVILLA ETHELRIDGE|     180|      CABRINI BLVD|NEW YORK|      NY| 200|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import concat_ws
df2 = df.withColumn("CandidateName", concat_ws(",","CANDFIRST",'CANDLAST')) 
df2.show()

+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+--------------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|           DATE|REFUNDDATE|NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|CITY|STATE|  ZIP|       OCCUPATION|             EMPNAME|EMPSTRNO|        EMPSTRNAME| EMPCITY|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|       CandidateName|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+--------------------+
|    2001|       5|   579|       P|     Hughes|  Michael|     B|        H|    10|     ABC|  null|      null|P0009-05|  8/8/2001 0:00|      null|null|   IND| null|   null|     null|        M|  NY|   NY|10034|             null|                null|    null|              null|    null|    null|  10|       10|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|      Michael,Hughes|
|    2001|       5|   559|       P|     Wooten|   Donald|     T|        H|    10|       D|  null|      null|P0001-01| 8/31/2001 0:00|      null|null|  OTHR| null|   null|     null|     null|null| null| null|SOCIAL CLUB OWNER|       THE ELITE ARK|      48|       WORTMAN AVE|BROOKLYN|      NY|   1|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    RENTO|    null|     null|     N|   null|      null|       Donald,Wooten|
|    2001|       5|    C6|       P|    Fabozzi|   Albert|  null|        H|     6|     ABC|  null|      null|P0003-08|  8/1/2000 0:00|      null|null|  CORP| null|   null|     null|     null|null| null| null|             null|MYOPTIC S DIVISIO...|      82|CHRISTOPHER STREET|NEW YORK|      NY| 100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|      Albert,Fabozzi|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0007-09|  7/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  25|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        Willie,Colon|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0007-10|  7/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null| 100|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        Willie,Colon|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0001-08| 3/20/2001 0:00|      null|null|  UNKN| null|   null|     null|        X|null| null| null|             null|                null|    null|              null|    null|    null| 260|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        Willie,Colon|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0001-05| 2/20/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null| 300|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        Willie,Colon|
|    2001|       5|    MJ|       P|   Martinez|     Juan|     D|        H|     9|     ABC|  null|      null|P0001-10|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|       Juan,Martinez|
|    2001|       5|   448|       P|    Ciafone|     John|     J|        H|    10|     ABC|  null|      null|P0003-04|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        John,Ciafone|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0002-06| 4/24/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|1040|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        Willie,Colon|
|    2001|       2|   366|       P|      Colon|   Willie|  null|        H|     9|     ABC|  null|      null|P0003-01| 4/24/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|       NOT AVAILABLE|    null|              null|    null|    null| 250|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        Willie,Colon|
|    2001|       5|   553|       P|Atwood King|Elizabeth|  null|        H|     9|     ABC|  null|      null|P0002-01| 7/13/2001 0:00|      null|null|   IND| null|   null|     null|        K|null| null| null|             null|                null|    null|              null|    null|    null|  45|       45|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|Elizabeth,Atwood ...|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0005-07|10/12/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|DISTRICT 15 INTER...|    1455|       MAIN AVENUE| CLIFTON|      NJ| 200|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|      Bernice,Siegal|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0005-08|10/20/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|EUREKA LODGE NO 4...|   91-31|QUEENS BLVD RM 406|ELMHURST|      NY| 100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|      Bernice,Siegal|
|    2001|       6|   230|      NP|     Siegal|  Bernice|     D|        H|     4|     ABC|  null|      null|P0006-01|10/13/1999 0:00|      null|null|  EMPO| null|   null|     null|     null|null| null| null|             null|DIST 15 INTERN L ...|    1455|       MAIN AVENUE| CLIFTON|      NJ| 150|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|      Bernice,Siegal|
|    2001|       5|   232|       P|     Weprin|    David|     I|        H|     8|     ABC|  null|      null|P0001-06|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        David,Weprin|
|    2001|       5|   553|       P|Atwood King|Elizabeth|  null|        H|     8|     ABC|  null|      null|P0007-10|           null|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  50|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|Elizabeth,Atwood ...|
|    2001|       5|    F5|       P|    Montano|  Armando|  null|        H|    15|     ABC|  null|      null|P0001-01| 10/5/2001 0:00|      null|null|  UNKN| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|  25|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|     Armando,Montano|
|    2001|       5|   232|       P|     Weprin|    David|     I|        H|    12|     ABC|  null|      null|P0001-04| 8/23/2001 0:00|      null|null| PCOMP| null|   null|     null|     null|null| null| null|             null|                null|    null|              null|    null|    null|   0|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        David,Weprin|
|    2001|       5|   334|       P|  Gallagher|   Dennis|     P|        H|    11|     ABC|  null|      null|P0006-01| 9/12/2001 0:00|      null|null|   IND| null|   null|     null|     null|null| null| null|             null|  COVILLA ETHELRIDGE|     180|      CABRINI BLVD|NEW YORK|      NY| 200|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|    Dennis,Gallagher|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+---------------+----------+----+------+-----+-------+---------+---------+----+-----+-----+-----------------+--------------------+--------+------------------+--------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+--------------------+
only showing top 20 rows

In [8]:
# Remove multiple columns
list = ['COMMITTEE', 'CANDMI', 'CANDLAST', 'CANDFIRST','FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTATE', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','INTERMNO', 'REFUNDDATE', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df3 = df2.drop(*list)
df3.show()

+--------+--------+------+--------+---------------+----+------+---------+----+-----+-----+----+---------+--------+----------+--------------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|           DATE|NAME|C_CODE|BOROUGHCD|CITY|STATE|  ZIP|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|       CandidateName|
+--------+--------+------+--------+---------------+----+------+---------+----+-----+-----+----+---------+--------+----------+--------------------+
|    2001|       5|   579|       P|  8/8/2001 0:00|null|   IND|        M|  NY|   NY|10034|  10|       10|       0|         2|      Michael,Hughes|
|    2001|       5|   559|       P| 8/31/2001 0:00|null|  OTHR|     null|null| null| null|   1|        0|       0|         0|       Donald,Wooten|
|    2001|       5|    C6|       P|  8/1/2000 0:00|null|  CORP|     null|null| null| null| 100|        0|       0|         2|      Albert,Fabozzi|
|    2001|       2|   366|       P|  7/5/2001 0:00|null|  UNKN|     null|null| null| null|  25|        0|       0|         0|        Willie,Colon|
|    2001|       2|   366|       P|  7/5/2001 0:00|null|  UNKN|     null|null| null| null| 100|        0|       0|         0|        Willie,Colon|
|    2001|       2|   366|       P| 3/20/2001 0:00|null|  UNKN|        X|null| null| null| 260|        0|       0|         0|        Willie,Colon|
|    2001|       2|   366|       P| 2/20/2001 0:00|null|  UNKN|     null|null| null| null| 300|        0|       0|         0|        Willie,Colon|
|    2001|       5|    MJ|       P|           null|null|  UNKN|     null|null| null| null|   0|        0|       0|         0|       Juan,Martinez|
|    2001|       5|   448|       P|           null|null|  UNKN|     null|null| null| null|   0|        0|       0|         0|        John,Ciafone|
|    2001|       2|   366|       P| 4/24/2001 0:00|null|   IND|     null|null| null| null|1040|        0|       0|         0|        Willie,Colon|
|    2001|       2|   366|       P| 4/24/2001 0:00|null|   IND|     null|null| null| null| 250|        0|       0|         0|        Willie,Colon|
|    2001|       5|   553|       P| 7/13/2001 0:00|null|   IND|        K|null| null| null|  45|       45|       0|         2|Elizabeth,Atwood ...|
|    2001|       6|   230|      NP|10/12/1999 0:00|null|  EMPO|     null|null| null| null| 200|        0|       0|         2|      Bernice,Siegal|
|    2001|       6|   230|      NP|10/20/1999 0:00|null|  EMPO|     null|null| null| null| 100|        0|       0|         2|      Bernice,Siegal|
|    2001|       6|   230|      NP|10/13/1999 0:00|null|  EMPO|     null|null| null| null| 150|        0|       0|         2|      Bernice,Siegal|
|    2001|       5|   232|       P|           null|null|  UNKN|     null|null| null| null|   0|        0|       0|         0|        David,Weprin|
|    2001|       5|   553|       P|           null|null|  UNKN|     null|null| null| null|  50|        0|       0|         2|Elizabeth,Atwood ...|
|    2001|       5|    F5|       P| 10/5/2001 0:00|null|  UNKN|     null|null| null| null|  25|        0|       0|         0|     Armando,Montano|
|    2001|       5|   232|       P| 8/23/2001 0:00|null| PCOMP|     null|null| null| null|   0|        0|       0|         0|        David,Weprin|
|    2001|       5|   334|       P| 9/12/2001 0:00|null|   IND|     null|null| null| null| 200|        0|       0|         2|    Dennis,Gallagher|
+--------+--------+------+--------+---------------+----+------+---------+----+-----+-----+----+---------+--------+----------+--------------------+
only showing top 20 rows

In [9]:
#Rearrange columns
df4=df3.select('ELECTION','OFFICECD','CANDID','CANCLASS','CandidateName', 'DATE', 'NAME','C_CODE','BOROUGHCD','CITY','STATE', 'ZIP', 'AMNT', 'MATCHAMNT', 'PREVAMNT', 'PAY_METHOD')

In [10]:
# check data types
df4.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('CANDID', 'string'),
 ('CANCLASS', 'string'),
 ('CandidateName', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [11]:
#Change column names
df5 = df4 \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("CANDID", "CandidateID") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributorType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod")

df5.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributorType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [12]:
df5.show()

+--------+--------+-----------+--------+--------------------+---------------+----+---------------+-----------+----+-----+-------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|           Date|Name|ContributorType|BoroughName|City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+---------------+----+---------------+-----------+----+-----+-------+------+--------+-------+---------+
|    2001|       5|        579|       P|      Michael,Hughes|  8/8/2001 0:00|null|            IND|          M|  NY|   NY|  10034|    10|      10|      0|        2|
|    2001|       5|        559|       P|       Donald,Wooten| 8/31/2001 0:00|null|           OTHR|       null|null| null|   null|     1|       0|      0|        0|
|    2001|       5|         C6|       P|      Albert,Fabozzi|  8/1/2000 0:00|null|           CORP|       null|null| null|   null|   100|       0|      0|        2|
|    2001|       2|        366|       P|        Willie,Colon|  7/5/2001 0:00|null|           UNKN|       null|null| null|   null|    25|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon|  7/5/2001 0:00|null|           UNKN|       null|null| null|   null|   100|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 3/20/2001 0:00|null|           UNKN|          X|null| null|   null|   260|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 2/20/2001 0:00|null|           UNKN|       null|null| null|   null|   300|       0|      0|        0|
|    2001|       5|         MJ|       P|       Juan,Martinez|           null|null|           UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        448|       P|        John,Ciafone|           null|null|           UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 4/24/2001 0:00|null|            IND|       null|null| null|   null|  1040|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 4/24/2001 0:00|null|            IND|       null|null| null|   null|   250|       0|      0|        0|
|    2001|       5|        553|       P|Elizabeth,Atwood ...| 7/13/2001 0:00|null|            IND|          K|null| null|   null|    45|      45|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/12/1999 0:00|null|           EMPO|       null|null| null|   null|   200|       0|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/20/1999 0:00|null|           EMPO|       null|null| null|   null|   100|       0|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/13/1999 0:00|null|           EMPO|       null|null| null|   null|   150|       0|      0|        2|
|    2001|       5|        232|       P|        David,Weprin|           null|null|           UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        553|       P|Elizabeth,Atwood ...|           null|null|           UNKN|       null|null| null|   null|    50|       0|      0|        2|
|    2001|       5|         F5|       P|     Armando,Montano| 10/5/2001 0:00|null|           UNKN|       null|null| null|   null|    25|       0|      0|        0|
|    2001|       5|        232|       P|        David,Weprin| 8/23/2001 0:00|null|          PCOMP|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        334|       P|    Dennis,Gallagher| 9/12/2001 0:00|null|            IND|       null|null| null|   null|   200|       0|      0|        2|
+--------+--------+-----------+--------+--------------------+---------------+----+---------------+-----------+----+-----+-------+------+--------+-------+---------+
only showing top 20 rows

In [13]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [14]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
#func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
#df6 = df5.withColumn("Election", df5["Election"].cast("Integer")) \
 # .withColumn("OFFICECD", df5["OFFICECD"].cast("Integer")) \
  #.withColumn("ZipCode", df5["ZipCode"].cast("Integer")) \
  #.withColumn("Amount", df5["Amount"].cast("Float")) \
  #.withColumn("MatchAmt", df5["MatchAmt"].cast("Float")) \
  #.withColumn("PrevAmt", df5["PrevAmt"].cast("Float")) \
  #.withColumn('Date', func(col('Date')))

#df6.printSchema()

#Keep CandidateID as string
#.withColumn("CandidateID", df4["CandidateID"].cast("Integer")) \

In [15]:
df5.show()

+--------+--------+-----------+--------+--------------------+---------------+----+---------------+-----------+----+-----+-------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|           Date|Name|ContributorType|BoroughName|City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+---------------+----+---------------+-----------+----+-----+-------+------+--------+-------+---------+
|    2001|       5|        579|       P|      Michael,Hughes|  8/8/2001 0:00|null|            IND|          M|  NY|   NY|  10034|    10|      10|      0|        2|
|    2001|       5|        559|       P|       Donald,Wooten| 8/31/2001 0:00|null|           OTHR|       null|null| null|   null|     1|       0|      0|        0|
|    2001|       5|         C6|       P|      Albert,Fabozzi|  8/1/2000 0:00|null|           CORP|       null|null| null|   null|   100|       0|      0|        2|
|    2001|       2|        366|       P|        Willie,Colon|  7/5/2001 0:00|null|           UNKN|       null|null| null|   null|    25|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon|  7/5/2001 0:00|null|           UNKN|       null|null| null|   null|   100|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 3/20/2001 0:00|null|           UNKN|          X|null| null|   null|   260|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 2/20/2001 0:00|null|           UNKN|       null|null| null|   null|   300|       0|      0|        0|
|    2001|       5|         MJ|       P|       Juan,Martinez|           null|null|           UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        448|       P|        John,Ciafone|           null|null|           UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 4/24/2001 0:00|null|            IND|       null|null| null|   null|  1040|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 4/24/2001 0:00|null|            IND|       null|null| null|   null|   250|       0|      0|        0|
|    2001|       5|        553|       P|Elizabeth,Atwood ...| 7/13/2001 0:00|null|            IND|          K|null| null|   null|    45|      45|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/12/1999 0:00|null|           EMPO|       null|null| null|   null|   200|       0|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/20/1999 0:00|null|           EMPO|       null|null| null|   null|   100|       0|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/13/1999 0:00|null|           EMPO|       null|null| null|   null|   150|       0|      0|        2|
|    2001|       5|        232|       P|        David,Weprin|           null|null|           UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        553|       P|Elizabeth,Atwood ...|           null|null|           UNKN|       null|null| null|   null|    50|       0|      0|        2|
|    2001|       5|         F5|       P|     Armando,Montano| 10/5/2001 0:00|null|           UNKN|       null|null| null|   null|    25|       0|      0|        0|
|    2001|       5|        232|       P|        David,Weprin| 8/23/2001 0:00|null|          PCOMP|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        334|       P|    Dennis,Gallagher| 9/12/2001 0:00|null|            IND|       null|null| null|   null|   200|       0|      0|        2|
+--------+--------+-----------+--------+--------------------+---------------+----+---------------+-----------+----+-----+-------+------+--------+-------+---------+
only showing top 20 rows

In [16]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df7 = df5.withColumn('ContributorType', regexp_replace('ContributorType', 'CAN', 'Candidate')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'CORP', 'Corporation')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'IND', 'Individual')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'ORG', 'Orgainization')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'SPO', 'Spouse')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'OTHR', 'Other')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PART', 'Individual')) \

In [17]:
df7.show()

+--------+--------+-----------+--------+--------------------+---------------+----+--------------------+-----------+----+-----+-------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|           Date|Name|     ContributorType|BoroughName|City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+---------------+----+--------------------+-----------+----+-----+-------+------+--------+-------+---------+
|    2001|       5|        579|       P|      Michael,Hughes|  8/8/2001 0:00|null|          Individual|          M|  NY|   NY|  10034|    10|      10|      0|        2|
|    2001|       5|        559|       P|       Donald,Wooten| 8/31/2001 0:00|null|               Other|       null|null| null|   null|     1|       0|      0|        0|
|    2001|       5|         C6|       P|      Albert,Fabozzi|  8/1/2000 0:00|null|         Corporation|       null|null| null|   null|   100|       0|      0|        2|
|    2001|       2|        366|       P|        Willie,Colon|  7/5/2001 0:00|null|                UNKN|       null|null| null|   null|    25|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon|  7/5/2001 0:00|null|                UNKN|       null|null| null|   null|   100|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 3/20/2001 0:00|null|                UNKN|          X|null| null|   null|   260|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 2/20/2001 0:00|null|                UNKN|       null|null| null|   null|   300|       0|      0|        0|
|    2001|       5|         MJ|       P|       Juan,Martinez|           null|null|                UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        448|       P|        John,Ciafone|           null|null|                UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 4/24/2001 0:00|null|          Individual|       null|null| null|   null|  1040|       0|      0|        0|
|    2001|       2|        366|       P|        Willie,Colon| 4/24/2001 0:00|null|          Individual|       null|null| null|   null|   250|       0|      0|        0|
|    2001|       5|        553|       P|Elizabeth,Atwood ...| 7/13/2001 0:00|null|          Individual|          K|null| null|   null|    45|      45|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/12/1999 0:00|null|         Labor Union|       null|null| null|   null|   200|       0|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/20/1999 0:00|null|         Labor Union|       null|null| null|   null|   100|       0|      0|        2|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/13/1999 0:00|null|         Labor Union|       null|null| null|   null|   150|       0|      0|        2|
|    2001|       5|        232|       P|        David,Weprin|           null|null|                UNKN|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        553|       P|Elizabeth,Atwood ...|           null|null|                UNKN|       null|null| null|   null|    50|       0|      0|        2|
|    2001|       5|         F5|       P|     Armando,Montano| 10/5/2001 0:00|null|                UNKN|       null|null| null|   null|    25|       0|      0|        0|
|    2001|       5|        232|       P|        David,Weprin| 8/23/2001 0:00|null|Political Action ...|       null|null| null|   null|     0|       0|      0|        0|
|    2001|       5|        334|       P|    Dennis,Gallagher| 9/12/2001 0:00|null|          Individual|       null|null| null|   null|   200|       0|      0|        2|
+--------+--------+-----------+--------+--------------------+---------------+----+--------------------+-----------+----+-----+-------+------+--------+-------+---------+
only showing top 20 rows

In [18]:
#Change Payment Method Name
df8=df7.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [19]:
df8.show()

+--------+--------+-----------+--------+--------------------+---------------+----+--------------------+-----------+----+-----+-------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|           Date|Name|     ContributorType|BoroughName|City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+---------------+----+--------------------+-----------+----+-----+-------+------+--------+-------+---------+
|    2001|       5|        579|       P|      Michael,Hughes|  8/8/2001 0:00|null|          Individual|          M|  NY|   NY|  10034|    10|      10|      0|    Check|
|    2001|       5|        559|       P|       Donald,Wooten| 8/31/2001 0:00|null|               Other|       null|null| null|   null|     1|       0|      0|  Unknown|
|    2001|       5|         C6|       P|      Albert,Fabozzi|  8/1/2000 0:00|null|         Corporation|       null|null| null|   null|   100|       0|      0|    Check|
|    2001|       2|        366|       P|        Willie,Colon|  7/5/2001 0:00|null|                UNKN|       null|null| null|   null|    25|       0|      0|  Unknown|
|    2001|       2|        366|       P|        Willie,Colon|  7/5/2001 0:00|null|                UNKN|       null|null| null|   null|   100|       0|      0|  Unknown|
|    2001|       2|        366|       P|        Willie,Colon| 3/20/2001 0:00|null|                UNKN|          X|null| null|   null|   260|       0|      0|  Unknown|
|    2001|       2|        366|       P|        Willie,Colon| 2/20/2001 0:00|null|                UNKN|       null|null| null|   null|   300|       0|      0|  Unknown|
|    2001|       5|         MJ|       P|       Juan,Martinez|           null|null|                UNKN|       null|null| null|   null|     0|       0|      0|  Unknown|
|    2001|       5|        448|       P|        John,Ciafone|           null|null|                UNKN|       null|null| null|   null|     0|       0|      0|  Unknown|
|    2001|       2|        366|       P|        Willie,Colon| 4/24/2001 0:00|null|          Individual|       null|null| null|   null|  1040|       0|      0|  Unknown|
|    2001|       2|        366|       P|        Willie,Colon| 4/24/2001 0:00|null|          Individual|       null|null| null|   null|   250|       0|      0|  Unknown|
|    2001|       5|        553|       P|Elizabeth,Atwood ...| 7/13/2001 0:00|null|          Individual|          K|null| null|   null|    45|      45|      0|    Check|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/12/1999 0:00|null|         Labor Union|       null|null| null|   null|   200|       0|      0|    Check|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/20/1999 0:00|null|         Labor Union|       null|null| null|   null|   100|       0|      0|    Check|
|    2001|       6|        230|      NP|      Bernice,Siegal|10/13/1999 0:00|null|         Labor Union|       null|null| null|   null|   150|       0|      0|    Check|
|    2001|       5|        232|       P|        David,Weprin|           null|null|                UNKN|       null|null| null|   null|     0|       0|      0|  Unknown|
|    2001|       5|        553|       P|Elizabeth,Atwood ...|           null|null|                UNKN|       null|null| null|   null|    50|       0|      0|    Check|
|    2001|       5|         F5|       P|     Armando,Montano| 10/5/2001 0:00|null|                UNKN|       null|null| null|   null|    25|       0|      0|  Unknown|
|    2001|       5|        232|       P|        David,Weprin| 8/23/2001 0:00|null|Political Action ...|       null|null| null|   null|     0|       0|      0|  Unknown|
|    2001|       5|        334|       P|    Dennis,Gallagher| 9/12/2001 0:00|null|          Individual|       null|null| null|   null|   200|       0|      0|    Check|
+--------+--------+-----------+--------+--------------------+---------------+----+--------------------+-----------+----+-----+-------+------+--------+-------+---------+
only showing top 20 rows

In [20]:
#Change Borough name
df9 = df8.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [21]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df10 = df9.filter((df8.OFFICECD=="1") & (df8.CANCLASS=="P"))

In [22]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df10.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [23]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df11 = df10.drop(*list2)

In [24]:
#Filter Dataframe removing the null CandidateID values
df12 = df11.filter(df10.CandidateID.isNotNull())

In [25]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_indiv_2001_df = df11.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_indiv_2001_df.show()

+--------+-----------+---------------+---------------+--------------------+--------------------+-----------+----------+-----+-------+------+--------+-------+---------+-----------+
|Election|CandidateID|  CandidateName|           Date|                Name|     ContributorType|BoroughName|      City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+---------------+---------------+--------------------+--------------------+-----------+----------+-----+-------+------+--------+-------+---------+-----------+
|    2001|         AY|Fernando,Ferrer|10/22/2001 0:00|                null| Candidate Committee|       null|      null| null|   null|   500|       0|      0|    Check|      500.0|
|    2001|         AY|Fernando,Ferrer|10/22/2001 0:00|                null| Candidate Committee|       null|      null| null|   null|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Fernando,Ferrer| 10/9/2001 0:00|                null| Candidate Committee|       null|      null| null|   null|  1000|       0|      0|    Check|     1000.0|
|    2001|         A9|    Alan,Hevesi|  3/3/2000 0:00|             ?, SAUL|          Individual|      Other|LONG BEACH|   NY|  11561|    25|       0|      0|    Other|       25.0|
|    2001|         A7|     Mark,Green| 11/1/2001 0:00|1-10 INDUSTRY ASS...|               Other|   Brooklyn|  BROOKLYN|   NY|  11222|  4500|       0|      0|    Check|     4500.0|
|    2001|         B1|  Peter,Vallone|11/30/2000 0:00|     100  CHURCH LLC|               Other|  Manhattan|  NEW YORK|   NY|  10007|  2000|       0|      0|    Check|     2000.0|
|    2001|         AY|Fernando,Ferrer| 8/17/2001 0:00| 103  REALTY COMPANY|          Individual|      Other|  LYNBROOK|   NY|  11563|   250|       0|      0|    Check|      250.0|
|    2001|         B1|  Peter,Vallone|11/18/1999 0:00|1046 MADISON AVEN...|               Other|  Manhattan|  NEW YORK|   NY|  10022|   250|       0|      0|    Check|      250.0|
|    2001|         AY|Fernando,Ferrer|  5/4/2001 0:00|11-13 HUBERT ST R...|               Other|  Manhattan|  NEW YORK|   NY|  10013|  1000|       0|      0|    Check|     1000.0|
|    2001|         A7|     Mark,Green| 8/27/2001 0:00|11-13 HUBERT STRE...|               Other|  Manhattan|  NEW YORK|   NY|  10013|   250|       0|      0|    Check|      250.0|
|    2001|         A7|     Mark,Green| 4/27/2001 0:00|    1113 COLGATE LLC|               Other|  Manhattan|  NEW YORK|   NY|  10001|   250|       0|      0|    Check|      250.0|
|    2001|         AY|Fernando,Ferrer|12/10/1999 0:00|1162-4 SHERIDAN R...|          Individual|      Bronx|     BRONX|   NY|  10461|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Fernando,Ferrer|12/10/1999 0:00|1162-4 SHERIDAN R...|               Other|      Bronx|     BRONX|   NY|  10461| -1000|       0|      0|  Unknown|    -1000.0|
|    2001|         A9|    Alan,Hevesi|12/21/2000 0:00| 117 POST AVENUE LLC|               Other|      Other|  LYNBROOK|   NY|  11563|   500|       0|      0|    Check|      500.0|
|    2001|         AY|Fernando,Ferrer|12/20/2000 0:00|1180 LEBANON REAL...|               Other|      Other|   YONKERS|   NY|  10709|   200|       0|      0|    Check|      200.0|
|    2001|         A7|     Mark,Green| 11/2/2001 0:00|1199 POLITCAL ACT...|               Other|  Manhattan|  NEW YORK|   NY|  10036|  4500|       0|      0|    Check|     4500.0|
|    2001|         AY|Fernando,Ferrer|  7/5/2000 0:00|1199/SEIU NYS POL...|Political Action ...|  Manhattan|  NEW YORK|   NY|  10036|  4500|       0|      0|    Check|     4500.0|
|    2001|         AY|Fernando,Ferrer| 10/5/2001 0:00|1199/SEIU NYS POL...|Political Action ...|  Manhattan|  NEW YORK|   NY|  10036|  2250|       0|   4500|    Check|     6750.0|
|    2001|         AY|Fernando,Ferrer| 1/26/1998 0:00|1203-5 FINDLAY RE...|         Corporation|      Bronx|     BRONX|   NY|  10461|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Fernando,Ferrer| 1/26/1998 0:00|1203-5 FINDLAY RE...|               Other|      Bronx|     BRONX|   NY|  10461| -1000|       0|      0|  Unknown|    -1000.0|
+--------+-----------+---------------+---------------+--------------------+--------------------+-----------+----------+-----+-------+------+--------+-------+---------+-----------+
only showing top 20 rows

In [26]:
#Export to Clean CSV
#clean_indiv_2001_df.toPandas().to_csv("Clean_Indivdual_2005.csv", header=True)

## **2001 Committee Contributions**

In [27]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Committee+Contributions+2001+(X).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Committee+Contributions+2001+(X).csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+----------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+--------+-----+-----+----------+--------------------+--------+--------------+------------+--------+-----+---------+--------+----------+--------+------------------+--------+--------+--------+---------------+-----+------+--------------------+----------+-------------------+----------+--------+--------------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|       RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|      DATE|REFUNDDATE|                NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|    CITY|STATE|  ZIP|OCCUPATION|             EMPNAME|EMPSTRNO|    EMPSTRNAME|     EMPCITY|EMPSTATE| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|        INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|        INTCITY|INTST|INTZIP|          INTEMPNAME|INTEMPSTNO|         INTEMPSTNM|INTEMPCITY|INTEMPST|     INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+----------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+--------+-----+-----+----------+--------------------+--------+--------------+------------+--------+-----+---------+--------+----------+--------+------------------+--------+--------+--------+---------------+-----+------+--------------------+----------+-------------------+----------+--------+--------------+---------+--------+---------+------+-------+----------+
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|    13|     ABC|  null|      null|R0012272| 10/9/2001|      null|                null| PCOMC| null|   null|     null|     null|    null| null| null|      null|FRIENDS OF LUIS M...|    1700|   D PURDY ST.|       BRONX|      NY| 1000|        0|       0|         2|     723|     RIVERA, PETER|    null|    null|    null|          BRONX|   NY| 10462|NEW YORK STATE AS...|      1506| CASTLE HILL AVENUE|     BRONX|      NY|   ASSEMBLYMAN|     null|    null|     null|     N|      N|       IND|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|    13|     ABC|  null|      null|R0012640|10/22/2001|      null|                null| PCOMC| null|   null|     null|     null|    null| null| null|      null|FRIENDS OF LISA A...|    null|P. O. BOX 2444|MOUNT VERNON|      NY|  500|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|    13|     ABC|  null|      null|R0012650|10/22/2001|      null|                null| PCOMC| null|   null|     null|     null|    null| null| null|      null|RUTH THOMPSON FOR...|     767|E. GUNHILL RD.|       BRONX|      NY| 1000|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     A7|       P|     Green, Mark|        H|    14|     ABC|  null|      null|R0033847| 11/1/2001|      null|1-10 INDUSTRY ASS...|  OTHR| null|   null|     null|        K|BROOKLYN|   NY|11222|      null|                null|    null|          null|        null|    null| 4500|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     B1|       P|Vallone, Peter F|        H|     6|     ABC|  null|      null|R0013104|11/30/2000|      null|     100  CHURCH LLC|  OTHR| null|   null|     null|        M|NEW YORK|   NY|10007|      null|                null|    null|          null|        null|    null| 2000|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|    10|     ABC|  null|      null|R0010963| 8/17/2001|      null| 103  REALTY COMPANY|  PART| null|   null|     null|        Z|LYNBROOK|   NY|11563|      null|                null|    null|          null|        null|    null|  250|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     B1|       P|Vallone, Peter F|        H|     4|     ABC|  null|      null|R0004252|11/18/1999|      null|1046 MADISON AVEN...|  OTHR| null|   null|     null|        M|NEW YORK|   NY|10022|      null|                null|    null|          null|        null|    null|  250|        0|       0|         2|      72|    SPINOLA, STEVE|    null|    null|    null|    GARDEN CITY|   NY| 11530|           REBNY INC|       570|   LEXINGTON AVENUE|  NEW YORK|      NY|     PRESIDENT|     null|    null|     null|     N|      N|       IND|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|     8|     ABC|  null|      null|R0009862|  5/4/2001|      null|11-13 HUBERT ST R...|  OTHR| null|   null|     null|        M|NEW YORK|   NY|10013|      null|                null|    null|          null|        null|    null| 1000|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     A7|       P|     Green, Mark|        H|    10|     ABC|  null|      null|R0028375| 8/27/2001|      null|11-13 HUBERT STRE...|  OTHR| null|   null|     null|        M|NEW YORK|   NY|10013|      null|                null|    null|          null|        null|    null|  250|        0|       0|         2|      48|COLLARONE, MICHAEL|    null|    null|    null|       BROOKLYN|   NY| 11220|          FLORA TECH|        51|       BEACH STREET|  BROOKLYN|      NY|       FLORIST|     null|    null|     null|     N|      N|       IND|
|    2001|       1|     A7|       P|     Green, Mark|        H|     8|     ABC|  null|      null|R0018575| 4/27/2001|      null|    1113 COLGATE LLC|  OTHR| null|   null|     null|        M|NEW YORK|   NY|10001|      null|                null|    null|          null|        null|    null|  250|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|     4|     ABC|  null|      null|R0005610|12/10/1999|      null|1162-4 SHERIDAN R...|  PART| null|   null|     null|        X|   BRONX|   NY|10461|      null|                null|    null|          null|        null|    null| 1000|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|     8|       M|  null|      null|R0009451|12/10/1999| 3/16/2001|1162-4 SHERIDAN R...|  OTHR| null|   null|     null|        X|   BRONX|   NY|10461|      null|                null|    null|          null|        null|    null|-1000|        0|       0|         0|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|        2|     N|      N|      null|
|    2001|       1|     A9|       P|  Hevesi, Alan G|        H|     6|     ABC|  null|      null|R0023256|12/21/2000|      null| 117 POST AVENUE LLC|  OTHR| null|   null|     null|        Z|LYNBROOK|   NY|11563|      null|                null|    null|          null|        null|    null|  500|        0|       0|         2|      72|     PELMAN, SIMON|    null|    null|    null|       FLUSHING|   NY| 11367|UNION PLAZA NURSI...|       320|  WEST MERRICK ROAD|  FREEPORT|      NY|    HEALTHCARE|     null|    null|     null|     N|      N|       IND|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|     6|     ABC|  null|      null|R0008623|12/20/2000|      null|1180 LEBANON REAL...|  OTHR| null|   null|     null|        Z| YONKERS|   NY|10709|      null|                null|    null|          null|        null|    null|  200|        0|       0|         2|     638|   HOULIHAN, JAMES|    null|    null|    null|HASTINGS ON HUD|   NY| 10706|HOULIHAN PARNES R...|       455|CENTRAL PARK AVENUE| SCARSDALE|      NY|SENIOR PARTNER|     null|    null|     null|     N|      N|       IND|
|    2001|       1|     A7|       P|     Green, Mark|        H|    14|     ABC|  null|      null|R0035709| 11/2/2001|      null|1199 POLITCAL ACT...|  OTHR| null|   null|     null|        M|NEW YORK|   NY|10036|      null|                null|    null|          null|        null|      NY| 4500|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|    13|     ABC|  null|      null|R0012036| 10/5/2001|      null|1199/SEIU NYS POL...| PCOMP| null|   null|     null|        M|NEW YORK|   NY|10036|      null|                null|    null|          null|        null|    null| 2250|        0|    4500|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|     5|     ABC|  null|      null|R0007666|  7/5/2000|      null|1199/SEIU NYS POL...| PCOMP| null|   null|     null|        M|NEW YORK|   NY|10036|      null|                null|    null|          null|        null|    null| 4500|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|     1|     ABC|  null|      null|R0000101| 1/26/1998|      null|1203-5 FINDLAY RE...|  CORP| null|   null|     null|        X|   BRONX|   NY|10461|      null|                null|    null|          null|        null|    null| 1000|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
|    2001|       1|     AY|       P|Ferrer, Fernando|        H|     8|       M|  null|      null|R0009453| 1/26/1998| 3/16/2001|1203-5 FINDLAY RE...|  OTHR| null|   null|     null|        X|   BRONX|   NY|10461|      null|                null|    null|          null|        null|    null|-1000|        0|       0|         0|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|        2|     N|      N|      null|
|    2001|       1|     B1|       P|Vallone, Peter F|        I|     4|     ABC|  null|      null|P0001-02|  1/3/2000|      null|1209 REALTY ASSOC...|  CORP| null|   null|     null|        K|   BKLYN|   NY|11221|      null|                null|    null|          null|        null|    null| 5000|        0|       0|         2|    null|              null|    null|    null|    null|           null| null|  null|                null|      null|               null|      null|    null|          null|     null|    null|     null|     N|      N|      null|
+--------+--------+-------+--------+----------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+--------+-----+-----+----------+--------------------+--------+--------------+------------+--------+-----+---------+--------+----------+--------+------------------+--------+--------+--------+---------------+-----+------+--------------------+----------+-------------------+----------+--------+--------------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [28]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','REFUNDDATE','INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+----------------+----------+--------------------+------+---------+--------+-----+-----+--------+-----+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|       RECIPNAME|      DATE|                NAME|C_CODE|BOROUGHCD|    CITY|STATE|  ZIP|EMPSTATE| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+----------------+----------+--------------------+------+---------+--------+-----+-----+--------+-----+---------+--------+----------+
|    2001|       1|     AY|       P|Ferrer, Fernando| 10/9/2001|                null| PCOMC|     null|    null| null| null|      NY| 1000|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando|10/22/2001|                null| PCOMC|     null|    null| null| null|      NY|  500|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando|10/22/2001|                null| PCOMC|     null|    null| null| null|      NY| 1000|        0|       0|         2|
|    2001|       1|     A7|       P|     Green, Mark| 11/1/2001|1-10 INDUSTRY ASS...|  OTHR|        K|BROOKLYN|   NY|11222|    null| 4500|        0|       0|         2|
|    2001|       1|     B1|       P|Vallone, Peter F|11/30/2000|     100  CHURCH LLC|  OTHR|        M|NEW YORK|   NY|10007|    null| 2000|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando| 8/17/2001| 103  REALTY COMPANY|  PART|        Z|LYNBROOK|   NY|11563|    null|  250|        0|       0|         2|
|    2001|       1|     B1|       P|Vallone, Peter F|11/18/1999|1046 MADISON AVEN...|  OTHR|        M|NEW YORK|   NY|10022|    null|  250|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando|  5/4/2001|11-13 HUBERT ST R...|  OTHR|        M|NEW YORK|   NY|10013|    null| 1000|        0|       0|         2|
|    2001|       1|     A7|       P|     Green, Mark| 8/27/2001|11-13 HUBERT STRE...|  OTHR|        M|NEW YORK|   NY|10013|    null|  250|        0|       0|         2|
|    2001|       1|     A7|       P|     Green, Mark| 4/27/2001|    1113 COLGATE LLC|  OTHR|        M|NEW YORK|   NY|10001|    null|  250|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|  PART|        X|   BRONX|   NY|10461|    null| 1000|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|  OTHR|        X|   BRONX|   NY|10461|    null|-1000|        0|       0|         0|
|    2001|       1|     A9|       P|  Hevesi, Alan G|12/21/2000| 117 POST AVENUE LLC|  OTHR|        Z|LYNBROOK|   NY|11563|    null|  500|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando|12/20/2000|1180 LEBANON REAL...|  OTHR|        Z| YONKERS|   NY|10709|    null|  200|        0|       0|         2|
|    2001|       1|     A7|       P|     Green, Mark| 11/2/2001|1199 POLITCAL ACT...|  OTHR|        M|NEW YORK|   NY|10036|      NY| 4500|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando| 10/5/2001|1199/SEIU NYS POL...| PCOMP|        M|NEW YORK|   NY|10036|    null| 2250|        0|    4500|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando|  7/5/2000|1199/SEIU NYS POL...| PCOMP|        M|NEW YORK|   NY|10036|    null| 4500|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|  CORP|        X|   BRONX|   NY|10461|    null| 1000|        0|       0|         2|
|    2001|       1|     AY|       P|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|  OTHR|        X|   BRONX|   NY|10461|    null|-1000|        0|       0|         0|
|    2001|       1|     B1|       P|Vallone, Peter F|  1/3/2000|1209 REALTY ASSOC...|  CORP|        K|   BKLYN|   NY|11221|    null| 5000|        0|       0|         2|
+--------+--------+-------+--------+----------------+----------+--------------------+------+---------+--------+-----+-----+--------+-----+---------+--------+----------+
only showing top 20 rows

In [29]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [30]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributorType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod") 

df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributorType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [31]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [32]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())

In [33]:
#df2 = df1.withColumn("Election",df1["Election"].cast("Integer")) \
  #.withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  #.withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  #.withColumn("Amount", df1["Amount"].cast("Float")) \
  #.withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  #.withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  #.withColumn('Date', func(col('Date')))
#df2.printSchema()

#Keep Candidate ID as string
#.withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \

In [34]:
df1.show()

+--------+--------+-----------+--------+----------------+----------+--------------------+---------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|   CandidateName|      Date|                Name|ContributorType|BoroughName|    City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+----------------+----------+--------------------+---------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
|    2001|       1|         AY|       P|Ferrer, Fernando| 10/9/2001|                null|          PCOMC|       null|    null| null|   null|               NY|  1000|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando|10/22/2001|                null|          PCOMC|       null|    null| null|   null|               NY|   500|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando|10/22/2001|                null|          PCOMC|       null|    null| null|   null|               NY|  1000|       0|      0|        2|
|    2001|       1|         A7|       P|     Green, Mark| 11/1/2001|1-10 INDUSTRY ASS...|           OTHR|          K|BROOKLYN|   NY|  11222|             null|  4500|       0|      0|        2|
|    2001|       1|         B1|       P|Vallone, Peter F|11/30/2000|     100  CHURCH LLC|           OTHR|          M|NEW YORK|   NY|  10007|             null|  2000|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando| 8/17/2001| 103  REALTY COMPANY|           PART|          Z|LYNBROOK|   NY|  11563|             null|   250|       0|      0|        2|
|    2001|       1|         B1|       P|Vallone, Peter F|11/18/1999|1046 MADISON AVEN...|           OTHR|          M|NEW YORK|   NY|  10022|             null|   250|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando|  5/4/2001|11-13 HUBERT ST R...|           OTHR|          M|NEW YORK|   NY|  10013|             null|  1000|       0|      0|        2|
|    2001|       1|         A7|       P|     Green, Mark| 8/27/2001|11-13 HUBERT STRE...|           OTHR|          M|NEW YORK|   NY|  10013|             null|   250|       0|      0|        2|
|    2001|       1|         A7|       P|     Green, Mark| 4/27/2001|    1113 COLGATE LLC|           OTHR|          M|NEW YORK|   NY|  10001|             null|   250|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|           PART|          X|   BRONX|   NY|  10461|             null|  1000|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|           OTHR|          X|   BRONX|   NY|  10461|             null| -1000|       0|      0|        0|
|    2001|       1|         A9|       P|  Hevesi, Alan G|12/21/2000| 117 POST AVENUE LLC|           OTHR|          Z|LYNBROOK|   NY|  11563|             null|   500|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando|12/20/2000|1180 LEBANON REAL...|           OTHR|          Z| YONKERS|   NY|  10709|             null|   200|       0|      0|        2|
|    2001|       1|         A7|       P|     Green, Mark| 11/2/2001|1199 POLITCAL ACT...|           OTHR|          M|NEW YORK|   NY|  10036|               NY|  4500|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando| 10/5/2001|1199/SEIU NYS POL...|          PCOMP|          M|NEW YORK|   NY|  10036|             null|  2250|       0|   4500|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando|  7/5/2000|1199/SEIU NYS POL...|          PCOMP|          M|NEW YORK|   NY|  10036|             null|  4500|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|           CORP|          X|   BRONX|   NY|  10461|             null|  1000|       0|      0|        2|
|    2001|       1|         AY|       P|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|           OTHR|          X|   BRONX|   NY|  10461|             null| -1000|       0|      0|        0|
|    2001|       1|         B1|       P|Vallone, Peter F|  1/3/2000|1209 REALTY ASSOC...|           CORP|          K|   BKLYN|   NY|  11221|             null|  5000|       0|      0|        2|
+--------+--------+-----------+--------+----------------+----------+--------------------+---------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
only showing top 20 rows

In [35]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df1.withColumn('ContributorType', regexp_replace('ContributorType', 'CAN', 'Candidate')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'CORP', 'Corporation')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'IND', 'Individual')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'ORG', 'Orgainization')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'SPO', 'Spouse')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'OTHR', 'Other')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PART', 'Individual')) \

In [36]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [37]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [38]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

+--------+--------+-----------+--------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|   CandidateName|      Date|                Name|     ContributorType|BoroughName|    City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
|    2001|       1|         AY|       P|Ferrer, Fernando| 10/9/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|  1000|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando|10/22/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|   500|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando|10/22/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|  1000|       0|      0|    Check|
|    2001|       1|         A7|       P|     Green, Mark| 11/1/2001|1-10 INDUSTRY ASS...|               Other|   Brooklyn|BROOKLYN|   NY|  11222|             null|  4500|       0|      0|    Check|
|    2001|       1|         B1|       P|Vallone, Peter F|11/30/2000|     100  CHURCH LLC|               Other|  Manhattan|NEW YORK|   NY|  10007|             null|  2000|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando| 8/17/2001| 103  REALTY COMPANY|          Individual|      Other|LYNBROOK|   NY|  11563|             null|   250|       0|      0|    Check|
|    2001|       1|         B1|       P|Vallone, Peter F|11/18/1999|1046 MADISON AVEN...|               Other|  Manhattan|NEW YORK|   NY|  10022|             null|   250|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando|  5/4/2001|11-13 HUBERT ST R...|               Other|  Manhattan|NEW YORK|   NY|  10013|             null|  1000|       0|      0|    Check|
|    2001|       1|         A7|       P|     Green, Mark| 8/27/2001|11-13 HUBERT STRE...|               Other|  Manhattan|NEW YORK|   NY|  10013|             null|   250|       0|      0|    Check|
|    2001|       1|         A7|       P|     Green, Mark| 4/27/2001|    1113 COLGATE LLC|               Other|  Manhattan|NEW YORK|   NY|  10001|             null|   250|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|          Individual|      Bronx|   BRONX|   NY|  10461|             null|  1000|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|               Other|      Bronx|   BRONX|   NY|  10461|             null| -1000|       0|      0|  Unknown|
|    2001|       1|         A9|       P|  Hevesi, Alan G|12/21/2000| 117 POST AVENUE LLC|               Other|      Other|LYNBROOK|   NY|  11563|             null|   500|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando|12/20/2000|1180 LEBANON REAL...|               Other|      Other| YONKERS|   NY|  10709|             null|   200|       0|      0|    Check|
|    2001|       1|         A7|       P|     Green, Mark| 11/2/2001|1199 POLITCAL ACT...|               Other|  Manhattan|NEW YORK|   NY|  10036|               NY|  4500|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando| 10/5/2001|1199/SEIU NYS POL...|Political Action ...|  Manhattan|NEW YORK|   NY|  10036|             null|  2250|       0|   4500|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando|  7/5/2000|1199/SEIU NYS POL...|Political Action ...|  Manhattan|NEW YORK|   NY|  10036|             null|  4500|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|         Corporation|      Bronx|   BRONX|   NY|  10461|             null|  1000|       0|      0|    Check|
|    2001|       1|         AY|       P|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|               Other|      Bronx|   BRONX|   NY|  10461|             null| -1000|       0|      0|  Unknown|
|    2001|       1|         B1|       P|Vallone, Peter F|  1/3/2000|1209 REALTY ASSOC...|         Corporation|   Brooklyn|   BKLYN|   NY|  11221|             null|  5000|       0|      0|    Check|
+--------+--------+-----------+--------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
only showing top 20 rows

In [39]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [40]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

+--------+-----------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
|Election|CandidateID|   CandidateName|      Date|                Name|     ContributorType|BoroughName|    City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+-----------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
|    2001|         AY|Ferrer, Fernando| 10/9/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|  1000|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando|10/22/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|   500|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando|10/22/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|  1000|       0|      0|    Check|
|    2001|         A7|     Green, Mark| 11/1/2001|1-10 INDUSTRY ASS...|               Other|   Brooklyn|BROOKLYN|   NY|  11222|             null|  4500|       0|      0|    Check|
|    2001|         B1|Vallone, Peter F|11/30/2000|     100  CHURCH LLC|               Other|  Manhattan|NEW YORK|   NY|  10007|             null|  2000|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando| 8/17/2001| 103  REALTY COMPANY|          Individual|      Other|LYNBROOK|   NY|  11563|             null|   250|       0|      0|    Check|
|    2001|         B1|Vallone, Peter F|11/18/1999|1046 MADISON AVEN...|               Other|  Manhattan|NEW YORK|   NY|  10022|             null|   250|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando|  5/4/2001|11-13 HUBERT ST R...|               Other|  Manhattan|NEW YORK|   NY|  10013|             null|  1000|       0|      0|    Check|
|    2001|         A7|     Green, Mark| 8/27/2001|11-13 HUBERT STRE...|               Other|  Manhattan|NEW YORK|   NY|  10013|             null|   250|       0|      0|    Check|
|    2001|         A7|     Green, Mark| 4/27/2001|    1113 COLGATE LLC|               Other|  Manhattan|NEW YORK|   NY|  10001|             null|   250|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|          Individual|      Bronx|   BRONX|   NY|  10461|             null|  1000|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|               Other|      Bronx|   BRONX|   NY|  10461|             null| -1000|       0|      0|  Unknown|
|    2001|         A9|  Hevesi, Alan G|12/21/2000| 117 POST AVENUE LLC|               Other|      Other|LYNBROOK|   NY|  11563|             null|   500|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando|12/20/2000|1180 LEBANON REAL...|               Other|      Other| YONKERS|   NY|  10709|             null|   200|       0|      0|    Check|
|    2001|         A7|     Green, Mark| 11/2/2001|1199 POLITCAL ACT...|               Other|  Manhattan|NEW YORK|   NY|  10036|               NY|  4500|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando| 10/5/2001|1199/SEIU NYS POL...|Political Action ...|  Manhattan|NEW YORK|   NY|  10036|             null|  2250|       0|   4500|    Check|
|    2001|         AY|Ferrer, Fernando|  7/5/2000|1199/SEIU NYS POL...|Political Action ...|  Manhattan|NEW YORK|   NY|  10036|             null|  4500|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|         Corporation|      Bronx|   BRONX|   NY|  10461|             null|  1000|       0|      0|    Check|
|    2001|         AY|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|               Other|      Bronx|   BRONX|   NY|  10461|             null| -1000|       0|      0|  Unknown|
|    2001|         B1|Vallone, Peter F|  1/3/2000|1209 REALTY ASSOC...|         Corporation|   Brooklyn|   BKLYN|   NY|  11221|             null|  5000|       0|      0|    Check|
+--------+-----------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+
only showing top 20 rows

In [41]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [42]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_comm_2001_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_comm_2001_df.show()

+--------+-----------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+-----------+
|Election|CandidateID|   CandidateName|      Date|                Name|     ContributorType|BoroughName|    City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+-----------+
|    2001|         AY|Ferrer, Fernando| 10/9/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Ferrer, Fernando|10/22/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|   500|       0|      0|    Check|      500.0|
|    2001|         AY|Ferrer, Fernando|10/22/2001|                null| Candidate Committee|       null|    null| null|   null|               NY|  1000|       0|      0|    Check|     1000.0|
|    2001|         A7|     Green, Mark| 11/1/2001|1-10 INDUSTRY ASS...|               Other|   Brooklyn|BROOKLYN|   NY|  11222|             null|  4500|       0|      0|    Check|     4500.0|
|    2001|         B1|Vallone, Peter F|11/30/2000|     100  CHURCH LLC|               Other|  Manhattan|NEW YORK|   NY|  10007|             null|  2000|       0|      0|    Check|     2000.0|
|    2001|         AY|Ferrer, Fernando| 8/17/2001| 103  REALTY COMPANY|          Individual|      Other|LYNBROOK|   NY|  11563|             null|   250|       0|      0|    Check|      250.0|
|    2001|         B1|Vallone, Peter F|11/18/1999|1046 MADISON AVEN...|               Other|  Manhattan|NEW YORK|   NY|  10022|             null|   250|       0|      0|    Check|      250.0|
|    2001|         AY|Ferrer, Fernando|  5/4/2001|11-13 HUBERT ST R...|               Other|  Manhattan|NEW YORK|   NY|  10013|             null|  1000|       0|      0|    Check|     1000.0|
|    2001|         A7|     Green, Mark| 8/27/2001|11-13 HUBERT STRE...|               Other|  Manhattan|NEW YORK|   NY|  10013|             null|   250|       0|      0|    Check|      250.0|
|    2001|         A7|     Green, Mark| 4/27/2001|    1113 COLGATE LLC|               Other|  Manhattan|NEW YORK|   NY|  10001|             null|   250|       0|      0|    Check|      250.0|
|    2001|         AY|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|          Individual|      Bronx|   BRONX|   NY|  10461|             null|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Ferrer, Fernando|12/10/1999|1162-4 SHERIDAN R...|               Other|      Bronx|   BRONX|   NY|  10461|             null| -1000|       0|      0|  Unknown|    -1000.0|
|    2001|         A9|  Hevesi, Alan G|12/21/2000| 117 POST AVENUE LLC|               Other|      Other|LYNBROOK|   NY|  11563|             null|   500|       0|      0|    Check|      500.0|
|    2001|         AY|Ferrer, Fernando|12/20/2000|1180 LEBANON REAL...|               Other|      Other| YONKERS|   NY|  10709|             null|   200|       0|      0|    Check|      200.0|
|    2001|         A7|     Green, Mark| 11/2/2001|1199 POLITCAL ACT...|               Other|  Manhattan|NEW YORK|   NY|  10036|               NY|  4500|       0|      0|    Check|     4500.0|
|    2001|         AY|Ferrer, Fernando| 10/5/2001|1199/SEIU NYS POL...|Political Action ...|  Manhattan|NEW YORK|   NY|  10036|             null|  2250|       0|   4500|    Check|     6750.0|
|    2001|         AY|Ferrer, Fernando|  7/5/2000|1199/SEIU NYS POL...|Political Action ...|  Manhattan|NEW YORK|   NY|  10036|             null|  4500|       0|      0|    Check|     4500.0|
|    2001|         AY|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|         Corporation|      Bronx|   BRONX|   NY|  10461|             null|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Ferrer, Fernando| 1/26/1998|1203-5 FINDLAY RE...|               Other|      Bronx|   BRONX|   NY|  10461|             null| -1000|       0|      0|  Unknown|    -1000.0|
|    2001|         B1|Vallone, Peter F|  1/3/2000|1209 REALTY ASSOC...|         Corporation|   Brooklyn|   BKLYN|   NY|  11221|             null|  5000|       0|      0|    Check|     5000.0|
+--------+-----------+----------------+----------+--------------------+--------------------+-----------+--------+-----+-------+-----------------+------+--------+-------+---------+-----------+
only showing top 20 rows

In [43]:
# import modules
from pyspark.sql import SparkSession
import functools
  
# explicit function
def unionAll(dfs):
    return functools.reduce(lambda clean_indiv_2001_df, clean_comm_2001_df: clean_indiv_2001_df.union(clean_comm_2001_df.select(clean_indiv_2001_df.columns)), dfs)

unioned_df = unionAll([clean_indiv_2001_df, clean_comm_2001_df])
unioned_df.show()

+--------+-----------+---------------+---------------+--------------------+--------------------+-----------+----------+-----+-------+------+--------+-------+---------+-----------+
|Election|CandidateID|  CandidateName|           Date|                Name|     ContributorType|BoroughName|      City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+---------------+---------------+--------------------+--------------------+-----------+----------+-----+-------+------+--------+-------+---------+-----------+
|    2001|         AY|Fernando,Ferrer|10/22/2001 0:00|                null| Candidate Committee|       null|      null| null|   null|   500|       0|      0|    Check|      500.0|
|    2001|         AY|Fernando,Ferrer|10/22/2001 0:00|                null| Candidate Committee|       null|      null| null|   null|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Fernando,Ferrer| 10/9/2001 0:00|                null| Candidate Committee|       null|      null| null|   null|  1000|       0|      0|    Check|     1000.0|
|    2001|         A9|    Alan,Hevesi|  3/3/2000 0:00|             ?, SAUL|          Individual|      Other|LONG BEACH|   NY|  11561|    25|       0|      0|    Other|       25.0|
|    2001|         A7|     Mark,Green| 11/1/2001 0:00|1-10 INDUSTRY ASS...|               Other|   Brooklyn|  BROOKLYN|   NY|  11222|  4500|       0|      0|    Check|     4500.0|
|    2001|         B1|  Peter,Vallone|11/30/2000 0:00|     100  CHURCH LLC|               Other|  Manhattan|  NEW YORK|   NY|  10007|  2000|       0|      0|    Check|     2000.0|
|    2001|         AY|Fernando,Ferrer| 8/17/2001 0:00| 103  REALTY COMPANY|          Individual|      Other|  LYNBROOK|   NY|  11563|   250|       0|      0|    Check|      250.0|
|    2001|         B1|  Peter,Vallone|11/18/1999 0:00|1046 MADISON AVEN...|               Other|  Manhattan|  NEW YORK|   NY|  10022|   250|       0|      0|    Check|      250.0|
|    2001|         AY|Fernando,Ferrer|  5/4/2001 0:00|11-13 HUBERT ST R...|               Other|  Manhattan|  NEW YORK|   NY|  10013|  1000|       0|      0|    Check|     1000.0|
|    2001|         A7|     Mark,Green| 8/27/2001 0:00|11-13 HUBERT STRE...|               Other|  Manhattan|  NEW YORK|   NY|  10013|   250|       0|      0|    Check|      250.0|
|    2001|         A7|     Mark,Green| 4/27/2001 0:00|    1113 COLGATE LLC|               Other|  Manhattan|  NEW YORK|   NY|  10001|   250|       0|      0|    Check|      250.0|
|    2001|         AY|Fernando,Ferrer|12/10/1999 0:00|1162-4 SHERIDAN R...|          Individual|      Bronx|     BRONX|   NY|  10461|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Fernando,Ferrer|12/10/1999 0:00|1162-4 SHERIDAN R...|               Other|      Bronx|     BRONX|   NY|  10461| -1000|       0|      0|  Unknown|    -1000.0|
|    2001|         A9|    Alan,Hevesi|12/21/2000 0:00| 117 POST AVENUE LLC|               Other|      Other|  LYNBROOK|   NY|  11563|   500|       0|      0|    Check|      500.0|
|    2001|         AY|Fernando,Ferrer|12/20/2000 0:00|1180 LEBANON REAL...|               Other|      Other|   YONKERS|   NY|  10709|   200|       0|      0|    Check|      200.0|
|    2001|         A7|     Mark,Green| 11/2/2001 0:00|1199 POLITCAL ACT...|               Other|  Manhattan|  NEW YORK|   NY|  10036|  4500|       0|      0|    Check|     4500.0|
|    2001|         AY|Fernando,Ferrer|  7/5/2000 0:00|1199/SEIU NYS POL...|Political Action ...|  Manhattan|  NEW YORK|   NY|  10036|  4500|       0|      0|    Check|     4500.0|
|    2001|         AY|Fernando,Ferrer| 10/5/2001 0:00|1199/SEIU NYS POL...|Political Action ...|  Manhattan|  NEW YORK|   NY|  10036|  2250|       0|   4500|    Check|     6750.0|
|    2001|         AY|Fernando,Ferrer| 1/26/1998 0:00|1203-5 FINDLAY RE...|         Corporation|      Bronx|     BRONX|   NY|  10461|  1000|       0|      0|    Check|     1000.0|
|    2001|         AY|Fernando,Ferrer| 1/26/1998 0:00|1203-5 FINDLAY RE...|               Other|      Bronx|     BRONX|   NY|  10461| -1000|       0|      0|  Unknown|    -1000.0|
+--------+-----------+---------------+---------------+--------------------+--------------------+-----------+----------+-----+-------+------+--------+-------+---------+-----------+
only showing top 20 rows

In [44]:
#Export to new CSV
unioned_df.toPandas().to_csv("Contributions_2001.csv", header=True)

In [45]:
#Export to new CSV
#clean_comm_2005_df.toPandas().to_csv("Clean_Committee_2005.csv", header=True)

In [46]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "******",
          "driver":"org.postgresql.Driver"}

In [47]:
# Write DataFrame to active_user table in RDS
#clean_indiv_2001_df.write.jdbc(url=jdbc_url, table='individual_2001', mode=mode, properties=config)

In [48]:
# Write DataFrame to active_user table in RDS
#clean_comm_2001_df.write.jdbc(url=jdbc_url, table='committee_2001', mode=mode, properties=config)