<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/2009_Contributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2009 Indivdual Contributions**

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
import findspark
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-17 19:10:01--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.6’

postgresql-42.2.16. 100%[===================>] 979.38K  2.10MB/s    in 0.5s

2021-09-17 19:10:02 (2.10 MB/s) - ‘postgresql-42.2.16.jar.6’ saved [1002883/1002883]

In [4]:
# Start Spark session
#from pyspark.sql import SparkSession
#from pyspark.sql.functions import col
#spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Individual+Contributions+2009.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Individual+Contributions+2009.csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+-------------------+------+-----+-------+---------+---------+------------+-----+-----+------------------+--------------------+--------+-------------------+------------+--------+---------+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|           RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|      DATE|REFUNDDATE|               NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|        CITY|STATE|  ZIP|        OCCUPATION|             EMPNAME|EMPSTRNO|         EMPSTRNAME|     EMPCITY|EMPSTATE|     AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+-------------------+------+-----+-------+---------+---------+------------+-----+-----+------------------+--------------------+--------+-------------------+------------+--------+---------+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     6|     ABC|  null|      null|R0000019|  9/5/2008|      null| Catsimatidis, John|   CAN| null|   null|     null|        M|    New York|   NY|10065|               CEO|     Red Apple Group|     823|    Eleventh Avenue|    New York|      NY|   100000|        0|       0|         3|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     6|     ABC|  null|      null|R0000020|12/12/2008|      null| Catsimatidis, John|   CAN| null|   null|     null|        M|    New York|   NY|10065|               CEO|     Red Apple Group|     823|    Eleventh Avenue|    New York|      NY|    35000|        0|  100000|         3|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     9|     ABC|  null|      null|R0000224| 7/10/2009|      null| Catsimatidis, John|   CAN| null|   null|     null|        M|    New York|   NY|10065|               CEO|     Red Apple Group|     823|    Eleventh Avenue|    New York|      NY|143891.61|        0|  135000|         3|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     6|       D|  null|      null|R0000105|  9/4/2008|      null| Catsimatidis, John|   CAN| null|   null|     null|        M|    New York|   NY|10065|               CEO|     Red Apple Group|     823|    Eleventh Avenue|    New York|      NY|   837.59|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    OTHER|    null|     null|     N|   null|      null|
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     6|       D|  null|      null|R0000114|  1/9/2009|      null| Catsimatidis, John|   CAN| null|   null|     null|        M|    New York|   NY|10065|               CEO|     Red Apple Group|     823|    Eleventh Avenue|    New York|      NY|     6000|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    OFFCE|    null|     null|     N|   null|      null|
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     7|       D|  null|      null|R0000151| 3/11/2009|      null| Catsimatidis, John|   CAN| null|   null|     null|        M|    New York|   NY|10065|               CEO|     Red Apple Group|     823|    Eleventh Avenue|    New York|      NY|     2000|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    RENTO|    null|     null|     N|   null|      null|
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     8|       D|  null|      null|R0000181| 5/11/2009|      null| Catsimatidis, John|   CAN| null|   null|     null|        M|    New York|   NY|10065|               CEO|     Red Apple Group|     823|    Eleventh Avenue|    New York|      NY|     2000|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    RENTO|    null|     null|     N|   null|      null|
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     9|       D|  null|      null|R0000206| 7/10/2009|      null| Catsimatidis, John|   CAN| null|   null|     null|        M|    New York|   NY|10065|               CEO|     Red Apple Group|     823|    Eleventh Avenue|    New York|      NY|     2000|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    RENTO|    null|     null|     N|   null|      null|
|    2009|       1|   1264|      NP|Catsimatidis, John A|        H|     6|       D|  null|      null|R0000104|  9/4/2008|      null|Catsimatidis, Margo|   FAM| null|   null|     null|        M|    New York|   NY|10065|         Executive|Gristedes Superma...|     823|        11th Avenue|    New York|      NY|     4950|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    OTHER|    null|     null|     N|   null|      null|
|    2009|       1|   1266|       P|Joiner-Eiland, Ty...|        H|     7|     ABC|  null|      null|R0000019|10/16/2008|      null|  Eiland, Tyrrell L|   CAN| null|   null|     null|        Z|Port Chester|   NY|10573|Executive Director|Tyrrell Eiland Fo...|     235|South Regent Street|Port Chester|      NY|        9|        0|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1286|       P|Coenen, Jr., Kevin P|        H|     8|     ABC|  null|      null|R0000098| 4/27/2009|      null|    Coenen, Kevin P|   CAN| null|   null|     null|        Z|   Nesconset|   NY|11767|       Firefighter|     FDNY City of NY|       9|   MetroTech Center|    Brooklyn|      NY|      200|        0|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1286|       P|Coenen, Jr., Kevin P|        H|     9|       D|  null|      null|R0000135|  6/4/2009|      null|    Coenen, Kevin P|   CAN| null|   null|     null|        Z|   Nesconset|   NY|11767|       Firefighter|     FDNY City of NY|       9|   MetroTech Center|    Brooklyn|      NY|     46.1|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|    OTHER|    null|     null|     N|   null|      null|
|    2009|       1|   1286|       P|Coenen, Jr., Kevin P|        H|     8|       M|  null|      null|R0000099| 4/27/2009|  5/1/2009|    Coenen, Kevin P|   CAN| null|   null|     null|        Z|   Nesconset|   NY|11767|              null|                null|    null|               null|        null|    null|     -200|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|        2|     N|      N|      null|
|    2009|       1|   1286|       P|Coenen, Jr., Kevin P|        H|    12|       N|  null|      null|R0000017|      null|      null|    Coenen, Kevin P|   CAN| null|   null|     null|     null|   Nesconset|   NY|11767|              null|                null|    null|               null|        null|    null|    575.7|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1317|       P|        Talen, Billy|        H|     7|     ABC|  null|      null|R0000019| 2/20/2009|      null|     Talen, William|   CAN| null|   null|     null|        K|    Brooklyn|   NY|11218|              null|                null|      65|    East 3rd Street|    Brooklyn|      NY|      500|      175|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1317|       P|        Talen, Billy|        H|     7|     ABC|  null|      null|R0000027| 2/25/2009|      null|    Mattera, Gloria|   IND| null|   null|     null|        K|    Brooklyn|   NY|11215|  Program Director|Bellevue Hospital...|     462|       First Avenue|    New York|      NY|      175|      175|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1317|       P|        Talen, Billy|        H|     7|     ABC|  null|      null|R0000029| 2/25/2009|      null|       Read, Mark W|   IND| null|   null|     null|        K|    Brooklyn|   NY|11238| Adjunct Professor| New York University|     715|           Broadway|    New York|      NY|      175|      175|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1317|       P|        Talen, Billy|        H|     7|     ABC|  null|      null|R0000031|  3/2/2009|      null| Emperor, Michael D|   IND| null|   null|     null|        K|    Brooklyn|   NY|11209|    Office Manager|Bob Altavilla Int...|     411|       Fifth Avenue|    New York|      NY|      175|      175|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1317|       P|        Talen, Billy|        H|     7|     ABC|  null|      null|R0000033|  3/2/2009|      null| DeFilippo, Michael|   IND| null|   null|     null|        Z|      Newark|   NJ| 7101|          Engineer|             CUNY-TV|     365|       Fifth Avenue|    New York|      NY|       20|        0|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|   1317|       P|        Talen, Billy|        H|     7|     ABC|  null|      null|R0000035|  3/2/2009|      null|      Baker, Brandy|   IND| null|   null|     null|        Z|   Baltimore|   MD|21218|              none|             Student|     605|   East 37th Street|   Baltimore|      MD|      100|        0|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+-------------------+------+-----+-------+---------+---------+------------+-----+-----+------------------+--------------------+--------+-------------------+------------+--------+---------+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [7]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','INTERMNO', 'REFUNDDATE', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+--------------------+----------+-------------------+------+---------+------------+-----+-----+--------+---------+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|           RECIPNAME|      DATE|               NAME|C_CODE|BOROUGHCD|        CITY|STATE|  ZIP|EMPSTATE|     AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+--------------------+----------+-------------------+------+---------+------------+-----+-----+--------+---------+---------+--------+----------+
|    2009|       1|   1264|      NP|Catsimatidis, John A|  9/5/2008| Catsimatidis, John|   CAN|        M|    New York|   NY|10065|      NY|   100000|        0|       0|         3|
|    2009|       1|   1264|      NP|Catsimatidis, John A|12/12/2008| Catsimatidis, John|   CAN|        M|    New York|   NY|10065|      NY|    35000|        0|  100000|         3|
|    2009|       1|   1264|      NP|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|   CAN|        M|    New York|   NY|10065|      NY|143891.61|        0|  135000|         3|
|    2009|       1|   1264|      NP|Catsimatidis, John A|  9/4/2008| Catsimatidis, John|   CAN|        M|    New York|   NY|10065|      NY|   837.59|        0|       0|         0|
|    2009|       1|   1264|      NP|Catsimatidis, John A|  1/9/2009| Catsimatidis, John|   CAN|        M|    New York|   NY|10065|      NY|     6000|        0|       0|         0|
|    2009|       1|   1264|      NP|Catsimatidis, John A| 3/11/2009| Catsimatidis, John|   CAN|        M|    New York|   NY|10065|      NY|     2000|        0|       0|         0|
|    2009|       1|   1264|      NP|Catsimatidis, John A| 5/11/2009| Catsimatidis, John|   CAN|        M|    New York|   NY|10065|      NY|     2000|        0|       0|         0|
|    2009|       1|   1264|      NP|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|   CAN|        M|    New York|   NY|10065|      NY|     2000|        0|       0|         0|
|    2009|       1|   1264|      NP|Catsimatidis, John A|  9/4/2008|Catsimatidis, Margo|   FAM|        M|    New York|   NY|10065|      NY|     4950|        0|       0|         0|
|    2009|       1|   1266|       P|Joiner-Eiland, Ty...|10/16/2008|  Eiland, Tyrrell L|   CAN|        Z|Port Chester|   NY|10573|      NY|        9|        0|       0|         1|
|    2009|       1|   1286|       P|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|   CAN|        Z|   Nesconset|   NY|11767|      NY|      200|        0|       0|         1|
|    2009|       1|   1286|       P|Coenen, Jr., Kevin P|  6/4/2009|    Coenen, Kevin P|   CAN|        Z|   Nesconset|   NY|11767|      NY|     46.1|        0|       0|         0|
|    2009|       1|   1286|       P|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|   CAN|        Z|   Nesconset|   NY|11767|    null|     -200|        0|       0|         0|
|    2009|       1|   1286|       P|Coenen, Jr., Kevin P|      null|    Coenen, Kevin P|   CAN|     null|   Nesconset|   NY|11767|    null|    575.7|        0|       0|         0|
|    2009|       1|   1317|       P|        Talen, Billy| 2/20/2009|     Talen, William|   CAN|        K|    Brooklyn|   NY|11218|      NY|      500|      175|       0|         2|
|    2009|       1|   1317|       P|        Talen, Billy| 2/25/2009|    Mattera, Gloria|   IND|        K|    Brooklyn|   NY|11215|      NY|      175|      175|       0|         2|
|    2009|       1|   1317|       P|        Talen, Billy| 2/25/2009|       Read, Mark W|   IND|        K|    Brooklyn|   NY|11238|      NY|      175|      175|       0|         2|
|    2009|       1|   1317|       P|        Talen, Billy|  3/2/2009| Emperor, Michael D|   IND|        K|    Brooklyn|   NY|11209|      NY|      175|      175|       0|         4|
|    2009|       1|   1317|       P|        Talen, Billy|  3/2/2009| DeFilippo, Michael|   IND|        Z|      Newark|   NJ| 7101|      NY|       20|        0|       0|         4|
|    2009|       1|   1317|       P|        Talen, Billy|  3/2/2009|      Baker, Brandy|   IND|        Z|   Baltimore|   MD|21218|      MD|      100|        0|       0|         4|
+--------+--------+-------+--------+--------------------+----------+-------------------+------+---------+------------+-----+-----+--------+---------+---------+--------+----------+
only showing top 20 rows

In [8]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [9]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributorType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod")


df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributorType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [38]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [39]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())

In [44]:
#df2 = df1.withColumn("Election", df1["Election"].cast("Integer")) \
  #.withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  #.withColumn("Amount", df1["Amount"].cast("Float")) \
  #.withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  #.withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  #.withColumn('Date', func(col('Date')))

#df2.printSchema()


#Keep Candidate ID as string
  #.withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributorType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- MatchAmt: float (nullable = true)
 |-- PrevAmt: float (nullable = true)
 |-- PayMethod: string (nullable = true)

In [45]:
df1.show()

+--------+--------+-----------+--------+--------------------+----------+-------------------+---------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|      Date|               Name|ContributorType|BoroughName|        City|State|ZipCode|ContributionState|   Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+----------+-------------------+---------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
|    2009|       1|       1264|      NP|Catsimatidis, John A|  9/5/2008| Catsimatidis, John|            CAN|          M|    New York|   NY|  10065|               NY|   100000|       0|      0|        3|
|    2009|       1|       1264|      NP|Catsimatidis, John A|12/12/2008| Catsimatidis, John|            CAN|          M|    New York|   NY|  10065|               NY|    35000|       0| 100000|        3|
|    2009|       1|       1264|      NP|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|            CAN|          M|    New York|   NY|  10065|               NY|143891.61|       0| 135000|        3|
|    2009|       1|       1264|      NP|Catsimatidis, John A|  9/4/2008| Catsimatidis, John|            CAN|          M|    New York|   NY|  10065|               NY|   837.59|       0|      0|        0|
|    2009|       1|       1264|      NP|Catsimatidis, John A|  1/9/2009| Catsimatidis, John|            CAN|          M|    New York|   NY|  10065|               NY|     6000|       0|      0|        0|
|    2009|       1|       1264|      NP|Catsimatidis, John A| 3/11/2009| Catsimatidis, John|            CAN|          M|    New York|   NY|  10065|               NY|     2000|       0|      0|        0|
|    2009|       1|       1264|      NP|Catsimatidis, John A| 5/11/2009| Catsimatidis, John|            CAN|          M|    New York|   NY|  10065|               NY|     2000|       0|      0|        0|
|    2009|       1|       1264|      NP|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|            CAN|          M|    New York|   NY|  10065|               NY|     2000|       0|      0|        0|
|    2009|       1|       1264|      NP|Catsimatidis, John A|  9/4/2008|Catsimatidis, Margo|            FAM|          M|    New York|   NY|  10065|               NY|     4950|       0|      0|        0|
|    2009|       1|       1266|       P|Joiner-Eiland, Ty...|10/16/2008|  Eiland, Tyrrell L|            CAN|          Z|Port Chester|   NY|  10573|               NY|        9|       0|      0|        1|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|            CAN|          Z|   Nesconset|   NY|  11767|               NY|      200|       0|      0|        1|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P|  6/4/2009|    Coenen, Kevin P|            CAN|          Z|   Nesconset|   NY|  11767|               NY|     46.1|       0|      0|        0|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|            CAN|          Z|   Nesconset|   NY|  11767|             null|     -200|       0|      0|        0|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P|      null|    Coenen, Kevin P|            CAN|       null|   Nesconset|   NY|  11767|             null|    575.7|       0|      0|        0|
|    2009|       1|       1317|       P|        Talen, Billy| 2/20/2009|     Talen, William|            CAN|          K|    Brooklyn|   NY|  11218|               NY|      500|     175|      0|        2|
|    2009|       1|       1317|       P|        Talen, Billy| 2/25/2009|    Mattera, Gloria|            IND|          K|    Brooklyn|   NY|  11215|               NY|      175|     175|      0|        2|
|    2009|       1|       1317|       P|        Talen, Billy| 2/25/2009|       Read, Mark W|            IND|          K|    Brooklyn|   NY|  11238|               NY|      175|     175|      0|        2|
|    2009|       1|       1317|       P|        Talen, Billy|  3/2/2009| Emperor, Michael D|            IND|          K|    Brooklyn|   NY|  11209|               NY|      175|     175|      0|        4|
|    2009|       1|       1317|       P|        Talen, Billy|  3/2/2009| DeFilippo, Michael|            IND|          Z|      Newark|   NJ|   7101|               NY|       20|       0|      0|        4|
|    2009|       1|       1317|       P|        Talen, Billy|  3/2/2009|      Baker, Brandy|            IND|          Z|   Baltimore|   MD|  21218|               MD|      100|       0|      0|        4|
+--------+--------+-----------+--------+--------------------+----------+-------------------+---------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
only showing top 20 rows

In [46]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df1.withColumn('ContributorType', regexp_replace('ContributorType', 'CAN', 'Candidate')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'CORP', 'Corporation')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'IND', 'Individual')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'ORG', 'Orgainization')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'SPO', 'Spouse')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'OTHR', 'Other')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PART', 'Individual')) \

In [47]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [48]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [49]:
df5.show()

+--------+--------+-----------+--------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|      Date|               Name| ContributorType|BoroughName|        City|State|ZipCode|ContributionState|   Amount|MatchAmt|PrevAmt|  PayMethod|
+--------+--------+-----------+--------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+
|    2009|       1|       1264|      NP|Catsimatidis, John A|  9/5/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|   100000|       0|      0|      Other|
|    2009|       1|       1264|      NP|Catsimatidis, John A|12/12/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|    35000|       0| 100000|      Other|
|    2009|       1|       1264|      NP|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|143891.61|       0| 135000|      Other|
|    2009|       1|       1264|      NP|Catsimatidis, John A|  9/4/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|   837.59|       0|      0|    Unknown|
|    2009|       1|       1264|      NP|Catsimatidis, John A|  1/9/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     6000|       0|      0|    Unknown|
|    2009|       1|       1264|      NP|Catsimatidis, John A| 3/11/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|
|    2009|       1|       1264|      NP|Catsimatidis, John A| 5/11/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|
|    2009|       1|       1264|      NP|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|
|    2009|       1|       1264|      NP|Catsimatidis, John A|  9/4/2008|Catsimatidis, Margo|Candidate Family|  Manhattan|    New York|   NY|  10065|               NY|     4950|       0|      0|    Unknown|
|    2009|       1|       1266|       P|Joiner-Eiland, Ty...|10/16/2008|  Eiland, Tyrrell L|       Candidate|      Other|Port Chester|   NY|  10573|               NY|        9|       0|      0|       Cash|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|               NY|      200|       0|      0|       Cash|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P|  6/4/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|               NY|     46.1|       0|      0|    Unknown|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|             null|     -200|       0|      0|    Unknown|
|    2009|       1|       1286|       P|Coenen, Jr., Kevin P|      null|    Coenen, Kevin P|       Candidate|       null|   Nesconset|   NY|  11767|             null|    575.7|       0|      0|    Unknown|
|    2009|       1|       1317|       P|        Talen, Billy| 2/20/2009|     Talen, William|       Candidate|   Brooklyn|    Brooklyn|   NY|  11218|               NY|      500|     175|      0|      Check|
|    2009|       1|       1317|       P|        Talen, Billy| 2/25/2009|    Mattera, Gloria|      Individual|   Brooklyn|    Brooklyn|   NY|  11215|               NY|      175|     175|      0|      Check|
|    2009|       1|       1317|       P|        Talen, Billy| 2/25/2009|       Read, Mark W|      Individual|   Brooklyn|    Brooklyn|   NY|  11238|               NY|      175|     175|      0|      Check|
|    2009|       1|       1317|       P|        Talen, Billy|  3/2/2009| Emperor, Michael D|      Individual|   Brooklyn|    Brooklyn|   NY|  11209|               NY|      175|     175|      0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|  3/2/2009| DeFilippo, Michael|      Individual|      Other|      Newark|   NJ|   7101|               NY|       20|       0|      0|Credit Card|
|    2009|       1|       1317|       P|        Talen, Billy|  3/2/2009|      Baker, Brandy|      Individual|      Other|   Baltimore|   MD|  21218|               MD|      100|       0|      0|Credit Card|
+--------+--------+-----------+--------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+
only showing top 20 rows

In [ ]:
#Call only Mayor (1) and particaptes (P) within Dataframe
#df6 = df5.filter(df5.OFFICECD=="1").show()

In [50]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df5.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [51]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df6 = df5.drop(*list2)
df6.show()

+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+
|Election|CandidateID|       CandidateName|      Date|               Name| ContributorType|BoroughName|        City|State|ZipCode|ContributionState|   Amount|MatchAmt|PrevAmt|  PayMethod|
+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+
|    2009|       1264|Catsimatidis, John A|  9/5/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|   100000|       0|      0|      Other|
|    2009|       1264|Catsimatidis, John A|12/12/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|    35000|       0| 100000|      Other|
|    2009|       1264|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|143891.61|       0| 135000|      Other|
|    2009|       1264|Catsimatidis, John A|  9/4/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|   837.59|       0|      0|    Unknown|
|    2009|       1264|Catsimatidis, John A|  1/9/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     6000|       0|      0|    Unknown|
|    2009|       1264|Catsimatidis, John A| 3/11/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|
|    2009|       1264|Catsimatidis, John A| 5/11/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|
|    2009|       1264|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|
|    2009|       1264|Catsimatidis, John A|  9/4/2008|Catsimatidis, Margo|Candidate Family|  Manhattan|    New York|   NY|  10065|               NY|     4950|       0|      0|    Unknown|
|    2009|       1266|Joiner-Eiland, Ty...|10/16/2008|  Eiland, Tyrrell L|       Candidate|      Other|Port Chester|   NY|  10573|               NY|        9|       0|      0|       Cash|
|    2009|       1286|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|               NY|      200|       0|      0|       Cash|
|    2009|       1286|Coenen, Jr., Kevin P|  6/4/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|               NY|     46.1|       0|      0|    Unknown|
|    2009|       1286|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|             null|     -200|       0|      0|    Unknown|
|    2009|       1286|Coenen, Jr., Kevin P|      null|    Coenen, Kevin P|       Candidate|       null|   Nesconset|   NY|  11767|             null|    575.7|       0|      0|    Unknown|
|    2009|       1317|        Talen, Billy| 2/20/2009|     Talen, William|       Candidate|   Brooklyn|    Brooklyn|   NY|  11218|               NY|      500|     175|      0|      Check|
|    2009|       1317|        Talen, Billy| 2/25/2009|    Mattera, Gloria|      Individual|   Brooklyn|    Brooklyn|   NY|  11215|               NY|      175|     175|      0|      Check|
|    2009|       1317|        Talen, Billy| 2/25/2009|       Read, Mark W|      Individual|   Brooklyn|    Brooklyn|   NY|  11238|               NY|      175|     175|      0|      Check|
|    2009|       1317|        Talen, Billy|  3/2/2009| Emperor, Michael D|      Individual|   Brooklyn|    Brooklyn|   NY|  11209|               NY|      175|     175|      0|Credit Card|
|    2009|       1317|        Talen, Billy|  3/2/2009| DeFilippo, Michael|      Individual|      Other|      Newark|   NJ|   7101|               NY|       20|       0|      0|Credit Card|
|    2009|       1317|        Talen, Billy|  3/2/2009|      Baker, Brandy|      Individual|      Other|   Baltimore|   MD|  21218|               MD|      100|       0|      0|Credit Card|
+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+
only showing top 20 rows

In [52]:
#Filter Dataframe removing the null CandidateID values
df7 = df6.filter(df6.CandidateID.isNotNull())

In [54]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_indiv_2009_df = df7.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_indiv_2009_df.show()

+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+-----------+
|Election|CandidateID|       CandidateName|      Date|               Name| ContributorType|BoroughName|        City|State|ZipCode|ContributionState|   Amount|MatchAmt|PrevAmt|  PayMethod|TotalAmount|
+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+-----------+
|    2009|       1264|Catsimatidis, John A|  9/5/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|   100000|       0|      0|      Other|   100000.0|
|    2009|       1264|Catsimatidis, John A|12/12/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|    35000|       0| 100000|      Other|   135000.0|
|    2009|       1264|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|143891.61|       0| 135000|      Other|  278891.61|
|    2009|       1264|Catsimatidis, John A|  9/4/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|   837.59|       0|      0|    Unknown|     837.59|
|    2009|       1264|Catsimatidis, John A|  1/9/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     6000|       0|      0|    Unknown|     6000.0|
|    2009|       1264|Catsimatidis, John A| 3/11/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|     2000.0|
|    2009|       1264|Catsimatidis, John A| 5/11/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|     2000.0|
|    2009|       1264|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|     2000.0|
|    2009|       1264|Catsimatidis, John A|  9/4/2008|Catsimatidis, Margo|Candidate Family|  Manhattan|    New York|   NY|  10065|               NY|     4950|       0|      0|    Unknown|     4950.0|
|    2009|       1266|Joiner-Eiland, Ty...|10/16/2008|  Eiland, Tyrrell L|       Candidate|      Other|Port Chester|   NY|  10573|               NY|        9|       0|      0|       Cash|        9.0|
|    2009|       1286|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|               NY|      200|       0|      0|       Cash|      200.0|
|    2009|       1286|Coenen, Jr., Kevin P|  6/4/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|               NY|     46.1|       0|      0|    Unknown|       46.1|
|    2009|       1286|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|             null|     -200|       0|      0|    Unknown|     -200.0|
|    2009|       1286|Coenen, Jr., Kevin P|      null|    Coenen, Kevin P|       Candidate|       null|   Nesconset|   NY|  11767|             null|    575.7|       0|      0|    Unknown|      575.7|
|    2009|       1317|        Talen, Billy| 2/20/2009|     Talen, William|       Candidate|   Brooklyn|    Brooklyn|   NY|  11218|               NY|      500|     175|      0|      Check|      675.0|
|    2009|       1317|        Talen, Billy| 2/25/2009|    Mattera, Gloria|      Individual|   Brooklyn|    Brooklyn|   NY|  11215|               NY|      175|     175|      0|      Check|      350.0|
|    2009|       1317|        Talen, Billy| 2/25/2009|       Read, Mark W|      Individual|   Brooklyn|    Brooklyn|   NY|  11238|               NY|      175|     175|      0|      Check|      350.0|
|    2009|       1317|        Talen, Billy|  3/2/2009| Emperor, Michael D|      Individual|   Brooklyn|    Brooklyn|   NY|  11209|               NY|      175|     175|      0|Credit Card|      350.0|
|    2009|       1317|        Talen, Billy|  3/2/2009| DeFilippo, Michael|      Individual|      Other|      Newark|   NJ|   7101|               NY|       20|       0|      0|Credit Card|       20.0|
|    2009|       1317|        Talen, Billy|  3/2/2009|      Baker, Brandy|      Individual|      Other|   Baltimore|   MD|  21218|               MD|      100|       0|      0|Credit Card|      100.0|
+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+-----------+
only showing top 20 rows

In [ ]:
#Export to Clean CSV
#clean_indiv_2009_df.toPandas().to_csv("Clean_Indivdual_2009.csv", header=True)

## **2009 Committee Contributions**

In [55]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Committee+Contributions+2009+(X).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Committee+Contributions+2009+(X).csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+----------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|           RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|      DATE|REFUNDDATE|                NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|      CITY|STATE|  ZIP|OCCUPATION|EMPNAME|EMPSTRNO|EMPSTRNAME|EMPCITY|EMPSTATE| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+----------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     4|     ABC|  null|      null|R0012964| 12/1/2007|      null|1 Christopher Rea...|   LLC| null|   null|     null|        M|  New York|   NY|10014|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     1|     ABC|  null|      null|R0001965|  6/3/2006|      null|1199 SEIU NYS Pol...| PCOMP| null|   null|     null|        M|  New York|   NY|10036|      null|   null|    null|      null|   null|    null| 4950|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     4|     ABC|  null|      null|R0001623|10/29/2007|      null|126th Place Realt...|   LLC| null|   null|     null|        Q|  Flushing|   NY|11368|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0003504|11/18/2006|      null|126th Place Realt...|   LLC| null|   null|     null|        Q|    Queens|   NY|11368|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     2|     ABC|  null|      null|R0000537| 10/5/2006|      null|151-45 Sixth Rd W...|   LLC| null|   null|     null|        M|  New York|   NY|10022|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     2|     ABC|  null|      null|R0000871|11/20/2006|      null|151-45 Sixth Rd W...|   LLC| null|   null|     null|        M|  New York|   NY|10022|      null|   null|    null|      null|   null|    null|  500|        0|     500|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0003386|11/11/2006|      null|21st Century Part...|  PART| null|   null|     null|        Z|    Dallas|   TX|75201|      null|   null|    null|      null|   null|    null| 3000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     4|     ABC|  null|      null|R0012362| 10/6/2007|      null|         225 Oak LLC|   LLC| null|   null|     null|        M|  New York|   NY|10028|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     1|     ABC|  null|      null|R0002123|  6/9/2006|      null|260-261 Madison A...|   LLC| null|   null|     null|     null|  New York|   NY| null|      null|   null|    null|      null|   null|    null| 5000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|       M|  null|      null|R0002671|  6/9/2006| 7/12/2006|260-261 Madison A...|   LLC| null|   null|     null|     null|  New York|   NY| null|      null|   null|    null|      null|   null|    null|  -50|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|        2|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     4|     ABC|  null|      null|R0001381| 9/18/2007|      null|346 West 46th Rea...|   LLC| null|   null|     null|        M|  New York|   NY|10036|      null|   null|    null|      null|   null|    null| 2000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     3|     ABC|  null|      null|R0001271| 6/25/2007|      null|34th Avenue Realt...|   LLC| null|   null|     null|        Q|  Flushing|   NY|11368|      null|   null|    null|      null|   null|    null|  250|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     4|     ABC|  null|      null|R0001621|10/29/2007|      null|34th Avenue Realt...|   LLC| null|   null|     null|        Q|  Flushing|   NY|11368|      null|   null|    null|      null|   null|    null|  500|        0|     250|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     4|     ABC|  null|      null|R0012364| 10/6/2007|      null|39-08 103rd Stree...|   LLC| null|   null|     null|        M|  New York|   NY|10030|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0002928| 10/7/2006|      null|      53 West 46 LLC|   LLC| null|   null|     null|        Z|Louisville|   KY|40220|      null|   null|    null|      null|   null|    null| 2000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0003547|11/23/2006|      null|      53 West 46 LLC|   LLC| null|   null|     null|        Z|Louisville|   KY|40220|      null|   null|    null|      null|   null|    null| 4000|        0|    2000|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|       M|  null|      null|R0003548|11/23/2006|12/20/2006|      53 West 46 LLC|   LLC| null|   null|     null|        Z|Louisville|   KY|40220|      null|   null|    null|      null|   null|    null|-1050|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|        2|     N|      N|      null|
|    2009|       1|     51|       P|        Avella, Tony|        K|     2|     ABC|  null|      null|R0000685|10/16/2006|      null|      53 West 46 LLC|   LLC| null|   null|     null|        Z|Louisville|   KY|40220|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     1|     ABC|  null|      null|R0002167| 6/17/2006|      null|  ABO Build-PAC Inc.| PCOMP| null|   null|     null|        M|  New York|   NY|10038|      null|   null|    null|      null|   null|    null| 2500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|        K|     2|     ABC|  null|      null|R0003368| 11/4/2006|      null|ACEC New York Cit...| PCOMP| null|   null|     null|        M|  New York|   NY|10165|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+-------+--------+--------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+----------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [56]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','REFUNDDATE','INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+--------------------+----------+--------------------+------+---------+----------+-----+-----+--------+-----+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|           RECIPNAME|      DATE|                NAME|C_CODE|BOROUGHCD|      CITY|STATE|  ZIP|EMPSTATE| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+--------------------+----------+--------------------+------+---------+----------+-----+-----+--------+-----+---------+--------+----------+
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 12/1/2007|1 Christopher Rea...|   LLC|        M|  New York|   NY|10014|    null| 1000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|  6/3/2006|1199 SEIU NYS Pol...| PCOMP|        M|  New York|   NY|10036|    null| 4950|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony|10/29/2007|126th Place Realt...|   LLC|        Q|  Flushing|   NY|11368|    null|  500|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|11/18/2006|126th Place Realt...|   LLC|        Q|    Queens|   NY|11368|    null| 1000|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony| 10/5/2006|151-45 Sixth Rd W...|   LLC|        M|  New York|   NY|10022|    null|  500|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony|11/20/2006|151-45 Sixth Rd W...|   LLC|        M|  New York|   NY|10022|    null|  500|        0|     500|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|11/11/2006|21st Century Part...|  PART|        Z|    Dallas|   TX|75201|    null| 3000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 10/6/2007|         225 Oak LLC|   LLC|        M|  New York|   NY|10028|    null| 1000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|  6/9/2006|260-261 Madison A...|   LLC|     null|  New York|   NY| null|    null| 5000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|  6/9/2006|260-261 Madison A...|   LLC|     null|  New York|   NY| null|    null|  -50|        0|       0|         0|
|    2009|       1|     51|       P|        Avella, Tony| 9/18/2007|346 West 46th Rea...|   LLC|        M|  New York|   NY|10036|    null| 2000|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony| 6/25/2007|34th Avenue Realt...|   LLC|        Q|  Flushing|   NY|11368|    null|  250|        0|       0|         2|
|    2009|       1|     51|       P|        Avella, Tony|10/29/2007|34th Avenue Realt...|   LLC|        Q|  Flushing|   NY|11368|    null|  500|        0|     250|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 10/6/2007|39-08 103rd Stree...|   LLC|        M|  New York|   NY|10030|    null| 1000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 10/7/2006|      53 West 46 LLC|   LLC|        Z|Louisville|   KY|40220|    null| 2000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|11/23/2006|      53 West 46 LLC|   LLC|        Z|Louisville|   KY|40220|    null| 4000|        0|    2000|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...|11/23/2006|      53 West 46 LLC|   LLC|        Z|Louisville|   KY|40220|    null|-1050|        0|       0|         0|
|    2009|       1|     51|       P|        Avella, Tony|10/16/2006|      53 West 46 LLC|   LLC|        Z|Louisville|   KY|40220|    null| 1000|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 6/17/2006|  ABO Build-PAC Inc.| PCOMP|        M|  New York|   NY|10038|    null| 2500|        0|       0|         2|
|    2009|       1|    260|       P|Thompson, Jr., Wi...| 11/4/2006|ACEC New York Cit...| PCOMP|        M|  New York|   NY|10165|    null| 1000|        0|       0|         2|
+--------+--------+-------+--------+--------------------+----------+--------------------+------+---------+----------+-----+-----+--------+-----+---------+--------+----------+
only showing top 20 rows

In [57]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [58]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributorType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod") 

df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributorType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [59]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [60]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
df2 = df1.withColumn("Election",df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn('Date', func(col('Date')))
df2.printSchema()

#  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributorType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- MatchAmt: float (nullable = true)
 |-- PrevAmt: float (nullable = true)
 |-- PayMethod: string (nullable = true)

In [61]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributorType', regexp_replace('ContributorType', 'CAN', 'Candidate')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'CORP', 'Corporation')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'IND', 'Individual')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'ORG', 'Orgainization')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'SPO', 'Spouse')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'OTHR', 'Other')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PART', 'Individual')) \

In [62]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [63]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [65]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df5.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [67]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df5.drop(*list2)
df7.show()

+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
|Election|CandidateID|       CandidateName|      Date|                Name|     ContributorType|BoroughName|      City|State|ZipCode|ContributionState| Amount|MatchAmt|PrevAmt|PayMethod|
+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
|    2009|        260|Thompson, Jr., Wi...|2007-12-01|1 Christopher Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10014|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-06-03|1199 SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null| 4950.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|2007-10-29|126th Place Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-11-18|126th Place Realt...|Limited Liability...|     Queens|    Queens|   NY|  11368|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|2006-10-05|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|2006-11-20|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|  500.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-11-11|21st Century Part...|          Individual|      Other|    Dallas|   TX|  75201|             null| 3000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2007-10-06|         225 Oak LLC|Limited Liability...|  Manhattan|  New York|   NY|  10028|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-06-09|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null| 5000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-06-09|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null|  -50.0|     0.0|    0.0|  Unknown|
|    2009|         51|        Avella, Tony|2007-09-18|346 West 46th Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10036|             null| 2000.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|2007-06-25|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  250.0|     0.0|    0.0|    Check|
|    2009|         51|        Avella, Tony|2007-10-29|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|  250.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2007-10-06|39-08 103rd Stree...|Limited Liability...|  Manhattan|  New York|   NY|  10030|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-10-07|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 2000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-11-23|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 4000.0|     0.0| 2000.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-11-23|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null|-1050.0|     0.0|    0.0|  Unknown|
|    2009|         51|        Avella, Tony|2006-10-16|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 1000.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-06-17|  ABO Build-PAC Inc.|Political Action ...|  Manhattan|  New York|   NY|  10038|             null| 2500.0|     0.0|    0.0|    Check|
|    2009|        260|Thompson, Jr., Wi...|2006-11-04|ACEC New York Cit...|Political Action ...|  Manhattan|  New York|   NY|  10165|             null| 1000.0|     0.0|    0.0|    Check|
+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+
only showing top 20 rows

In [68]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [69]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_comm_2009_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_comm_2009_df.show()

+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+-----------+
|Election|CandidateID|       CandidateName|      Date|                Name|     ContributorType|BoroughName|      City|State|ZipCode|ContributionState| Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+-----------+
|    2009|        260|Thompson, Jr., Wi...|2007-12-01|1 Christopher Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10014|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|2006-06-03|1199 SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null| 4950.0|     0.0|    0.0|    Check|     4950.0|
|    2009|         51|        Avella, Tony|2007-10-29|126th Place Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|    0.0|    Check|      500.0|
|    2009|        260|Thompson, Jr., Wi...|2006-11-18|126th Place Realt...|Limited Liability...|     Queens|    Queens|   NY|  11368|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|         51|        Avella, Tony|2006-10-05|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|    0.0|    Check|      500.0|
|    2009|         51|        Avella, Tony|2006-11-20|151-45 Sixth Rd W...|Limited Liability...|  Manhattan|  New York|   NY|  10022|             null|  500.0|     0.0|  500.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|2006-11-11|21st Century Part...|          Individual|      Other|    Dallas|   TX|  75201|             null| 3000.0|     0.0|    0.0|    Check|     3000.0|
|    2009|        260|Thompson, Jr., Wi...|2007-10-06|         225 Oak LLC|Limited Liability...|  Manhattan|  New York|   NY|  10028|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|2006-06-09|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null| 5000.0|     0.0|    0.0|    Check|     5000.0|
|    2009|        260|Thompson, Jr., Wi...|2006-06-09|260-261 Madison A...|Limited Liability...|       null|  New York|   NY|   null|             null|  -50.0|     0.0|    0.0|  Unknown|      -50.0|
|    2009|         51|        Avella, Tony|2007-09-18|346 West 46th Rea...|Limited Liability...|  Manhattan|  New York|   NY|  10036|             null| 2000.0|     0.0|    0.0|    Check|     2000.0|
|    2009|         51|        Avella, Tony|2007-06-25|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  250.0|     0.0|    0.0|    Check|      250.0|
|    2009|         51|        Avella, Tony|2007-10-29|34th Avenue Realt...|Limited Liability...|     Queens|  Flushing|   NY|  11368|             null|  500.0|     0.0|  250.0|    Check|      750.0|
|    2009|        260|Thompson, Jr., Wi...|2007-10-06|39-08 103rd Stree...|Limited Liability...|  Manhattan|  New York|   NY|  10030|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|2006-10-07|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 2000.0|     0.0|    0.0|    Check|     2000.0|
|    2009|        260|Thompson, Jr., Wi...|2006-11-23|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 4000.0|     0.0| 2000.0|    Check|     6000.0|
|    2009|        260|Thompson, Jr., Wi...|2006-11-23|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null|-1050.0|     0.0|    0.0|  Unknown|    -1050.0|
|    2009|         51|        Avella, Tony|2006-10-16|      53 West 46 LLC|Limited Liability...|      Other|Louisville|   KY|  40220|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
|    2009|        260|Thompson, Jr., Wi...|2006-06-17|  ABO Build-PAC Inc.|Political Action ...|  Manhattan|  New York|   NY|  10038|             null| 2500.0|     0.0|    0.0|    Check|     2500.0|
|    2009|        260|Thompson, Jr., Wi...|2006-11-04|ACEC New York Cit...|Political Action ...|  Manhattan|  New York|   NY|  10165|             null| 1000.0|     0.0|    0.0|    Check|     1000.0|
+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+-------+--------+-------+---------+-----------+
only showing top 20 rows

In [70]:
# import modules
from pyspark.sql import SparkSession
import functools
  
# explicit function
def unionAll(dfs):
    return functools.reduce(lambda clean_indiv_2009_df, clean_comm_2009_df: clean_indiv_2009_df.union(clean_comm_2009_df.select(clean_indiv_2009_df.columns)), dfs)

unioned_df = unionAll([clean_indiv_2009_df, clean_comm_2009_df])
unioned_df.show()

+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+-----------+
|Election|CandidateID|       CandidateName|      Date|               Name| ContributorType|BoroughName|        City|State|ZipCode|ContributionState|   Amount|MatchAmt|PrevAmt|  PayMethod|TotalAmount|
+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+-----------+
|    2009|       1264|Catsimatidis, John A|  9/5/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|   100000|       0|      0|      Other|   100000.0|
|    2009|       1264|Catsimatidis, John A|12/12/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|    35000|       0| 100000|      Other|   135000.0|
|    2009|       1264|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|143891.61|       0| 135000|      Other|  278891.61|
|    2009|       1264|Catsimatidis, John A|  9/4/2008| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|   837.59|       0|      0|    Unknown|     837.59|
|    2009|       1264|Catsimatidis, John A|  1/9/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     6000|       0|      0|    Unknown|     6000.0|
|    2009|       1264|Catsimatidis, John A| 3/11/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|     2000.0|
|    2009|       1264|Catsimatidis, John A| 5/11/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|     2000.0|
|    2009|       1264|Catsimatidis, John A| 7/10/2009| Catsimatidis, John|       Candidate|  Manhattan|    New York|   NY|  10065|               NY|     2000|       0|      0|    Unknown|     2000.0|
|    2009|       1264|Catsimatidis, John A|  9/4/2008|Catsimatidis, Margo|Candidate Family|  Manhattan|    New York|   NY|  10065|               NY|     4950|       0|      0|    Unknown|     4950.0|
|    2009|       1266|Joiner-Eiland, Ty...|10/16/2008|  Eiland, Tyrrell L|       Candidate|      Other|Port Chester|   NY|  10573|               NY|        9|       0|      0|       Cash|        9.0|
|    2009|       1286|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|               NY|      200|       0|      0|       Cash|      200.0|
|    2009|       1286|Coenen, Jr., Kevin P|  6/4/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|               NY|     46.1|       0|      0|    Unknown|       46.1|
|    2009|       1286|Coenen, Jr., Kevin P| 4/27/2009|    Coenen, Kevin P|       Candidate|      Other|   Nesconset|   NY|  11767|             null|     -200|       0|      0|    Unknown|     -200.0|
|    2009|       1286|Coenen, Jr., Kevin P|      null|    Coenen, Kevin P|       Candidate|       null|   Nesconset|   NY|  11767|             null|    575.7|       0|      0|    Unknown|      575.7|
|    2009|       1317|        Talen, Billy| 2/20/2009|     Talen, William|       Candidate|   Brooklyn|    Brooklyn|   NY|  11218|               NY|      500|     175|      0|      Check|      675.0|
|    2009|       1317|        Talen, Billy| 2/25/2009|    Mattera, Gloria|      Individual|   Brooklyn|    Brooklyn|   NY|  11215|               NY|      175|     175|      0|      Check|      350.0|
|    2009|       1317|        Talen, Billy| 2/25/2009|       Read, Mark W|      Individual|   Brooklyn|    Brooklyn|   NY|  11238|               NY|      175|     175|      0|      Check|      350.0|
|    2009|       1317|        Talen, Billy|  3/2/2009| Emperor, Michael D|      Individual|   Brooklyn|    Brooklyn|   NY|  11209|               NY|      175|     175|      0|Credit Card|      350.0|
|    2009|       1317|        Talen, Billy|  3/2/2009| DeFilippo, Michael|      Individual|      Other|      Newark|   NJ|   7101|               NY|       20|       0|      0|Credit Card|       20.0|
|    2009|       1317|        Talen, Billy|  3/2/2009|      Baker, Brandy|      Individual|      Other|   Baltimore|   MD|  21218|               MD|      100|       0|      0|Credit Card|      100.0|
+--------+-----------+--------------------+----------+-------------------+----------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+-----------+-----------+
only showing top 20 rows

In [71]:
unioned_df.toPandas().to_csv("Contributions_2009.csv", header=True)

In [ ]:
#Export to new CSV
#clean_comm_2009_df.toPandas().to_csv("Clean_Committee_2009.csv", header=True)

In [ ]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "*******",
          "driver":"org.postgresql.Driver"}

In [ ]:
# Write DataFrame to active_user table in RDS
#clean_indiv_2009_df.write.jdbc(url=jdbc_url, table='individual_2009', mode=mode, properties=config)

In [ ]:
# Write DataFrame to active_user table in RDS
#clean_comm_2009_df.write.jdbc(url=jdbc_url, table='committee_2009', mode=mode, properties=config)