<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/2013_Contributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2013 Indivdual Contributions**

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
import findspark
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-14 23:03:58--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-09-14 23:03:59 (9.92 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [4]:
# Start Spark session
#from pyspark.sql import SparkSession
#from pyspark.sql.functions import col
#spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Individual+Contributions+2013+(UF).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Individual+Contributions+2013+(UF).csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+------------------+---------+------+--------+------+----------+--------+---------+----------+-------------------+------+-----+-------+---------+---------+-----------------+-----+-----+--------------+--------------------+--------+------------------+---------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|         RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|     DATE|REFUNDDATE|               NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|             CITY|STATE|  ZIP|    OCCUPATION|             EMPNAME|EMPSTRNO|        EMPSTRNAME|        EMPCITY|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+------------------+---------+------+--------+------+----------+--------+---------+----------+-------------------+------+-----+-------+---------+---------+-----------------+-----+-----+--------------+--------------------+--------+------------------+---------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000018|3/11/2012|      null|   Haywood, David B|   IND| null|   null|     null|        X|            Bronx|   NY|10458|     President|          SnarkMedia|     151|      First Avenue|       New York|      NY|  20|       20|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000021| 3/6/2012|      null|      Herlihy, Neil|   IND| null|   null|     null|        Z|       Hunnington|   NY|11746|       Retired|                null|    null|              null|           null|    null|  25|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000023| 3/5/2012|      null|       Iocca, Karen|   IND| null|   null|     null|        Z|           Hobken|   NJ| 7030|    Unemployed|                null|    null|              null|           null|    null|  25|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000025| 3/6/2012|      null|   Lewenberg, Ilana|   IND| null|   null|     null|        M|         New York|   NY|10065|Vice President|      Lewenberg, LLC|     184|  East 70th Street|       New York|      NY|  25|       25|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000027| 3/5/2012|      null|     Tolani, Sanjay|   IND| null|   null|     null|        M|         New York|   NY|10023|Head of NA Ops|      3i Infotech WE|      55|      Broad Street|       New York|      NY| 200|      175|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000031| 6/7/2012|      null|    Viguola, Louise|   IND| null|   null|     null|        Q|         Woodside|   NY|11377|       Manager|               Segal|     333|  West 34th Street|       New York|      NY|  60|       60|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000033| 6/7/2012|      null|       Stone, Jared|   IND| null|   null|     null|        M|         New York|   NY|10028|       Student|                null|    null|              null|           null|    null|  40|       40|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000036| 6/7/2012|      null|   Kronenberg, Mark|   IND| null|   null|     null|        Q|  Oakland Gardens|   NY|11364|      Director|     Math 1-2-3 Inc.|   48-30|      201st Street|Oakland Gardens|      NY|  25|       25|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000038| 6/7/2012|      null|       Heslin, Owen|   IND| null|   null|     null|        X|            Bronx|   NY|10451|        Lawyer|       Self-Employed|    null|              null|          Bronx|      NY|  25|       25|      20|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000040| 6/7/2012|      null|      Perry, Gerard|   IND| null|   null|     null|        S|    Staten Island|   NY|10304|    Unemployed|                null|    null|              null|           null|    null|  25|       25|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000042| 6/7/2012|      null|     Chandra, Ashok|   IND| null|   null|     null|        Q| Long Island City|   NY|11109|      Attorney|       Bloomberg LLP|     731|  Lexington Avenue|       New York|      NY|  25|       25|      60|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000046| 6/7/2012|      null|          Ashe, Dan|   IND| null|   null|     null|        Q| Long Island City|   NY|11109|        Lawyer|Patterson Belknap...|    1153|Avenue of Americas|       New York|      NY| 100|      100|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000048|6/17/2012|      null|      Yurcan, Bryan|   IND| null|   null|     null|        Z|Hasbrouck Heights|   NJ| 7604|          null|                 VBM|     240|  West 35th Street|       New York|      NY|  20|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000050| 6/7/2012|      null|  Bigelow, Margaret|   IND| null|   null|     null|        Q|          Astoria|   NY|11103|  Adminstrator|New Leaf Venture ...|       7|      Times Square|       New York|      NY|  25|       25|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000052| 6/7/2012|      null|       Lewis, Harry|   IND| null|   null|     null|        X|     Pelham Manor|   NY|10803|        Lawyer|       Self Employed|    null|              null|       New York|      NY| 100|      100|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000053|3/13/2012|      null|       Heslin, Owen|   IND| null|   null|     null|        X|            Bronx|   NY|10451|        Lawyer|       Self-Employed|    null|              null|          Bronx|      NY|  20|       20|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000055|3/15/2012|      null|      Rincker, Cari|   IND| null|   null|     null|        M|         New York|   NY|10024|        Lawyer|   Rincker Law, PLLC|     535|      Fifth Avenue|       New York|      NY|  30|       30|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000057|3/19/2012|      null|  LaVerghetta, Dino|   IND| null|   null|     null|        M|         New York|   NY|10065|        Lawyer|Debevoise & Plimp...|     919|      Third Avenue|       New York|      NY|  50|       50|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000059|4/11/2012|      null|     Chandra, Ashok|   IND| null|   null|     null|        Q| Long Island City|   NY|11109|      Attorney|       Bloomberg LLP|     731|  Lexington Avenue|       New York|      NY|  60|       60|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2013|       5|   1008|       P|Peterson, Daniel P|        I|     5|     ABC|  null|      null|R0000061|3/20/2012|      null|Greenberg, Samuel J|   IND| null|   null|     null|        Q|      Little Neck|   NY|11363|       Retired|  United States Navy|    null|              null|    Little Neck|      NY|  25|       25|       0|         4|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+-------+--------+------------------+---------+------+--------+------+----------+--------+---------+----------+-------------------+------+-----+-------+---------+---------+-----------------+-----+-----+--------------+--------------------+--------+------------------+---------------+--------+----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [7]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','INTERMNO', 'REFUNDDATE', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+------------------+---------+-------------------+------+---------+-----------------+-----+-----+--------+----+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|         RECIPNAME|     DATE|               NAME|C_CODE|BOROUGHCD|             CITY|STATE|  ZIP|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+------------------+---------+-------------------+------+---------+-----------------+-----+-----+--------+----+---------+--------+----------+
|    2013|       5|   1008|       P|Peterson, Daniel P|3/11/2012|   Haywood, David B|   IND|        X|            Bronx|   NY|10458|      NY|  20|       20|       0|         4|
|    2013|       5|   1008|       P|Peterson, Daniel P| 3/6/2012|      Herlihy, Neil|   IND|        Z|       Hunnington|   NY|11746|    null|  25|        0|       0|         2|
|    2013|       5|   1008|       P|Peterson, Daniel P| 3/5/2012|       Iocca, Karen|   IND|        Z|           Hobken|   NJ| 7030|    null|  25|        0|       0|         2|
|    2013|       5|   1008|       P|Peterson, Daniel P| 3/6/2012|   Lewenberg, Ilana|   IND|        M|         New York|   NY|10065|      NY|  25|       25|       0|         2|
|    2013|       5|   1008|       P|Peterson, Daniel P| 3/5/2012|     Tolani, Sanjay|   IND|        M|         New York|   NY|10023|      NY| 200|      175|       0|         2|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|    Viguola, Louise|   IND|        Q|         Woodside|   NY|11377|      NY|  60|       60|       0|         1|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|       Stone, Jared|   IND|        M|         New York|   NY|10028|    null|  40|       40|       0|         1|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|   Kronenberg, Mark|   IND|        Q|  Oakland Gardens|   NY|11364|      NY|  25|       25|       0|         1|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|       Heslin, Owen|   IND|        X|            Bronx|   NY|10451|      NY|  25|       25|      20|         1|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|      Perry, Gerard|   IND|        S|    Staten Island|   NY|10304|    null|  25|       25|       0|         1|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|     Chandra, Ashok|   IND|        Q| Long Island City|   NY|11109|      NY|  25|       25|      60|         1|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|          Ashe, Dan|   IND|        Q| Long Island City|   NY|11109|      NY| 100|      100|       0|         2|
|    2013|       5|   1008|       P|Peterson, Daniel P|6/17/2012|      Yurcan, Bryan|   IND|        Z|Hasbrouck Heights|   NJ| 7604|      NY|  20|        0|       0|         2|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|  Bigelow, Margaret|   IND|        Q|          Astoria|   NY|11103|      NY|  25|       25|       0|         2|
|    2013|       5|   1008|       P|Peterson, Daniel P| 6/7/2012|       Lewis, Harry|   IND|        X|     Pelham Manor|   NY|10803|      NY| 100|      100|       0|         2|
|    2013|       5|   1008|       P|Peterson, Daniel P|3/13/2012|       Heslin, Owen|   IND|        X|            Bronx|   NY|10451|      NY|  20|       20|       0|         4|
|    2013|       5|   1008|       P|Peterson, Daniel P|3/15/2012|      Rincker, Cari|   IND|        M|         New York|   NY|10024|      NY|  30|       30|       0|         4|
|    2013|       5|   1008|       P|Peterson, Daniel P|3/19/2012|  LaVerghetta, Dino|   IND|        M|         New York|   NY|10065|      NY|  50|       50|       0|         4|
|    2013|       5|   1008|       P|Peterson, Daniel P|4/11/2012|     Chandra, Ashok|   IND|        Q| Long Island City|   NY|11109|      NY|  60|       60|       0|         4|
|    2013|       5|   1008|       P|Peterson, Daniel P|3/20/2012|Greenberg, Samuel J|   IND|        Q|      Little Neck|   NY|11363|      NY|  25|       25|       0|         4|
+--------+--------+-------+--------+------------------+---------+-------------------+------+---------+-----------------+-----+-----+--------+----+---------+--------+----------+
only showing top 20 rows

In [8]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [9]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributerType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod")


df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [10]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [11]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
df2 = df1.withColumn("Election", df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn('Date', func(col('Date')))
df2.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- MatchAmt: float (nullable = true)
 |-- PrevAmt: float (nullable = true)
 |-- PayMethod: string (nullable = true)

In [12]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributerType', regexp_replace('ContributerType', 'CAN', 'Candidate')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'CORP', 'Corporation')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'IND', 'Individual')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'ORG', 'Orgainization')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'SPO', 'Spouse')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'OTHR', 'Other')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PART', 'Individual')) \

In [13]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [14]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [15]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

+--------+--------+-----------+--------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|      Date|               Name|ContributerType|  BoroughName|          City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|  PayMethod|
+--------+--------+-----------+--------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+
|    2013|       1|       1286|       P|Coenen, Jr., Kevin P|2013-01-25|    Coenen, Kevin P|      Candidate|        Other|     Nesconset|   NY|  11767|               NY|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1|       1286|       P|Coenen, Jr., Kevin P|2013-04-17|     Walter, Dorsey|     Individual|    Manhattan|      New York|   NY|  10150|             null| 175.0|   175.0|    0.0|Credit Card|
|    2013|       1|       1286|       P|Coenen, Jr., Kevin P|2013-01-25|    Coenen, Kevin P|      Candidate|        Other|     Nesconset|   NY|  11767|             null| -10.0|     0.0|    0.0|    Unknown|
|    2013|       1|       1551|       P|     Marks, Philip A|2012-02-13|      Marks, Philip|      Candidate|     Brooklyn|      Brooklyn|   NY|  11236|               NY| 400.0|   175.0|    0.0|      Check|
|    2013|       1|       1551|       P|     Marks, Philip A|2013-02-28|      Marks, Philip|      Candidate|     Brooklyn|      Brooklyn|   NY|  11236|               NY| 100.0|     0.0|  400.0|       Cash|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-05-24|         Roc, Stacy|     Individual|        Other|     Uniondale|   NY|  11553|             null|  10.0|     0.0|    0.0|       Cash|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-05-18|         He, Yufeng|     Individual|     Brooklyn|      Brooklyn|   NY|  11220|             null|  10.0|    10.0|    0.0|       Cash|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-05-18|    Yaqoobi, Naseir|     Individual|        Other| Lake Hiawatha|   NJ|   7034|               NJ|  10.0|     0.0|    0.0|       Cash|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-07-12|        Fung, Kevin|     Individual|        Bronx|         Bronx|   NY|  10461|             null|  10.0|    10.0|    0.0|       Cash|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-08-01|Monroe, Christopher|     Individual|        Other|   Mt. Lebanon|   PA|  15228|               NJ|  10.0|     0.0|   10.0|Credit Card|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-07-31|     Beegan, Daniel|     Individual|        Other|   Beech Grove|   IN|  46107|               IN|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-07-29|         Will, Eric|     Individual|        Other|     Knoxville|   TN|  37920|             null|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-07-29|         Will, Eric|     Individual|        Other|     Knoxville|   TN|  37920|             null|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-07-29|Monroe, Christopher|     Individual|        Other|   Mt. Lebanon|   PA|  15228|               NJ|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-07-19|      Judd, Timothy|     Individual|        Other|       Houston|   TX|  77018|             null|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1|       1639|       P|Berkowitz, Ceceil...|2013-07-19|    Laohoo, William|     Individual|        Other|East Brunswick|   NJ|   8816|             null|  20.0|     0.0|    0.0|Credit Card|
|    2013|       1|       1666|       P|    Salgado, Erick J|2012-12-13|    Acevedo, Alexie|     Individual|        Other|     Brentwood|   NY|  11717|               NY| 100.0|     0.0|    0.0|       Cash|
|    2013|       1|       1666|       P|    Salgado, Erick J|2012-12-26|   Salgado, Erick J|      Candidate|Staten Island| Staten Island|   NY|  10302|               NJ|4000.0|   175.0|    0.0|      Check|
|    2013|       1|       1666|       P|    Salgado, Erick J|2012-12-14|     Vargas, Lucino|     Individual|     Brooklyn|      Brooklyn|   NY|  11220|               NJ| 500.0|   175.0|    0.0|      Check|
|    2013|       1|       1666|       P|    Salgado, Erick J|2012-12-13|    Torres, Marcial|     Individual|        Other|       Matawan|   NJ|   7747|               NJ| 500.0|     0.0|    0.0|      Check|
+--------+--------+-----------+--------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+
only showing top 20 rows

In [16]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [17]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+
|Election|CandidateID|       CandidateName|      Date|               Name|ContributerType|  BoroughName|          City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|  PayMethod|
+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+
|    2013|       1286|Coenen, Jr., Kevin P|2013-01-25|    Coenen, Kevin P|      Candidate|        Other|     Nesconset|   NY|  11767|               NY|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1286|Coenen, Jr., Kevin P|2013-04-17|     Walter, Dorsey|     Individual|    Manhattan|      New York|   NY|  10150|             null| 175.0|   175.0|    0.0|Credit Card|
|    2013|       1286|Coenen, Jr., Kevin P|2013-01-25|    Coenen, Kevin P|      Candidate|        Other|     Nesconset|   NY|  11767|             null| -10.0|     0.0|    0.0|    Unknown|
|    2013|       1551|     Marks, Philip A|2012-02-13|      Marks, Philip|      Candidate|     Brooklyn|      Brooklyn|   NY|  11236|               NY| 400.0|   175.0|    0.0|      Check|
|    2013|       1551|     Marks, Philip A|2013-02-28|      Marks, Philip|      Candidate|     Brooklyn|      Brooklyn|   NY|  11236|               NY| 100.0|     0.0|  400.0|       Cash|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-24|         Roc, Stacy|     Individual|        Other|     Uniondale|   NY|  11553|             null|  10.0|     0.0|    0.0|       Cash|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-18|         He, Yufeng|     Individual|     Brooklyn|      Brooklyn|   NY|  11220|             null|  10.0|    10.0|    0.0|       Cash|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-18|    Yaqoobi, Naseir|     Individual|        Other| Lake Hiawatha|   NJ|   7034|               NJ|  10.0|     0.0|    0.0|       Cash|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-12|        Fung, Kevin|     Individual|        Bronx|         Bronx|   NY|  10461|             null|  10.0|    10.0|    0.0|       Cash|
|    2013|       1639|Berkowitz, Ceceil...|2013-08-01|Monroe, Christopher|     Individual|        Other|   Mt. Lebanon|   PA|  15228|               NJ|  10.0|     0.0|   10.0|Credit Card|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-31|     Beegan, Daniel|     Individual|        Other|   Beech Grove|   IN|  46107|               IN|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|         Will, Eric|     Individual|        Other|     Knoxville|   TN|  37920|             null|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|         Will, Eric|     Individual|        Other|     Knoxville|   TN|  37920|             null|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|Monroe, Christopher|     Individual|        Other|   Mt. Lebanon|   PA|  15228|               NJ|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-19|      Judd, Timothy|     Individual|        Other|       Houston|   TX|  77018|             null|  10.0|     0.0|    0.0|Credit Card|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-19|    Laohoo, William|     Individual|        Other|East Brunswick|   NJ|   8816|             null|  20.0|     0.0|    0.0|Credit Card|
|    2013|       1666|    Salgado, Erick J|2012-12-13|    Acevedo, Alexie|     Individual|        Other|     Brentwood|   NY|  11717|               NY| 100.0|     0.0|    0.0|       Cash|
|    2013|       1666|    Salgado, Erick J|2012-12-26|   Salgado, Erick J|      Candidate|Staten Island| Staten Island|   NY|  10302|               NJ|4000.0|   175.0|    0.0|      Check|
|    2013|       1666|    Salgado, Erick J|2012-12-14|     Vargas, Lucino|     Individual|     Brooklyn|      Brooklyn|   NY|  11220|               NJ| 500.0|   175.0|    0.0|      Check|
|    2013|       1666|    Salgado, Erick J|2012-12-13|    Torres, Marcial|     Individual|        Other|       Matawan|   NJ|   7747|               NJ| 500.0|     0.0|    0.0|      Check|
+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+
only showing top 20 rows

In [18]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [19]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_indiv_2013_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_indiv_2013_df.show()

+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
|Election|CandidateID|       CandidateName|      Date|               Name|ContributerType|  BoroughName|          City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|  PayMethod|TotalAmount|
+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
|    2013|       1286|Coenen, Jr., Kevin P|2013-01-25|    Coenen, Kevin P|      Candidate|        Other|     Nesconset|   NY|  11767|               NY|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1286|Coenen, Jr., Kevin P|2013-04-17|     Walter, Dorsey|     Individual|    Manhattan|      New York|   NY|  10150|             null| 175.0|   175.0|    0.0|Credit Card|      350.0|
|    2013|       1286|Coenen, Jr., Kevin P|2013-01-25|    Coenen, Kevin P|      Candidate|        Other|     Nesconset|   NY|  11767|             null| -10.0|     0.0|    0.0|    Unknown|      -10.0|
|    2013|       1551|     Marks, Philip A|2012-02-13|      Marks, Philip|      Candidate|     Brooklyn|      Brooklyn|   NY|  11236|               NY| 400.0|   175.0|    0.0|      Check|      575.0|
|    2013|       1551|     Marks, Philip A|2013-02-28|      Marks, Philip|      Candidate|     Brooklyn|      Brooklyn|   NY|  11236|               NY| 100.0|     0.0|  400.0|       Cash|      500.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-24|         Roc, Stacy|     Individual|        Other|     Uniondale|   NY|  11553|             null|  10.0|     0.0|    0.0|       Cash|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-18|         He, Yufeng|     Individual|     Brooklyn|      Brooklyn|   NY|  11220|             null|  10.0|    10.0|    0.0|       Cash|       20.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-18|    Yaqoobi, Naseir|     Individual|        Other| Lake Hiawatha|   NJ|   7034|               NJ|  10.0|     0.0|    0.0|       Cash|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-12|        Fung, Kevin|     Individual|        Bronx|         Bronx|   NY|  10461|             null|  10.0|    10.0|    0.0|       Cash|       20.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-08-01|Monroe, Christopher|     Individual|        Other|   Mt. Lebanon|   PA|  15228|               NJ|  10.0|     0.0|   10.0|Credit Card|       20.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-31|     Beegan, Daniel|     Individual|        Other|   Beech Grove|   IN|  46107|               IN|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|         Will, Eric|     Individual|        Other|     Knoxville|   TN|  37920|             null|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|         Will, Eric|     Individual|        Other|     Knoxville|   TN|  37920|             null|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|Monroe, Christopher|     Individual|        Other|   Mt. Lebanon|   PA|  15228|               NJ|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-19|      Judd, Timothy|     Individual|        Other|       Houston|   TX|  77018|             null|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-19|    Laohoo, William|     Individual|        Other|East Brunswick|   NJ|   8816|             null|  20.0|     0.0|    0.0|Credit Card|       20.0|
|    2013|       1666|    Salgado, Erick J|2012-12-13|    Acevedo, Alexie|     Individual|        Other|     Brentwood|   NY|  11717|               NY| 100.0|     0.0|    0.0|       Cash|      100.0|
|    2013|       1666|    Salgado, Erick J|2012-12-26|   Salgado, Erick J|      Candidate|Staten Island| Staten Island|   NY|  10302|               NJ|4000.0|   175.0|    0.0|      Check|     4175.0|
|    2013|       1666|    Salgado, Erick J|2012-12-14|     Vargas, Lucino|     Individual|     Brooklyn|      Brooklyn|   NY|  11220|               NJ| 500.0|   175.0|    0.0|      Check|      675.0|
|    2013|       1666|    Salgado, Erick J|2012-12-13|    Torres, Marcial|     Individual|        Other|       Matawan|   NJ|   7747|               NJ| 500.0|     0.0|    0.0|      Check|      500.0|
+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
only showing top 20 rows

In [20]:
#Export to Clean CSV
#clean_indiv_2013_df.toPandas().to_csv("Clean_Individual_2013.csv", header=True)

## **2013 Committee Contributions**

In [21]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Committee+Contributions+2013+(UF).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Committee+Contributions+2013+(UF).csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+------------------+---------+------+--------+------+----------+--------+---------+----------+--------------------+------+-----+-------+---------+---------+------------+-----+-----+----------+-------+--------+----------+-------+--------+---------+---------+--------+----------+--------+------------+--------+--------+--------+--------+-----+------+--------------------+----------+-----------+----------+--------+-----------------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|         RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|     DATE|REFUNDDATE|                NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|        CITY|STATE|  ZIP|OCCUPATION|EMPNAME|EMPSTRNO|EMPSTRNAME|EMPCITY|EMPSTATE|     AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|  INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO| INTCITY|INTST|INTZIP|          INTEMPNAME|INTEMPSTNO| INTEMPSTNM|INTEMPCITY|INTEMPST|        INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+------------------+---------+------+--------+------+----------+--------+---------+----------+--------------------+------+-----+-------+---------+---------+------------+-----+-----+----------+-------+--------+----------+-------+--------+---------+---------+--------+----------+--------+------------+--------+--------+--------+--------+-----+------+--------------------+----------+-----------+----------+--------+-----------------+---------+--------+---------+------+-------+----------+
|    2013|       1|    204|       P|Quinn, Christine C|        M|     4|     ABC|  null|      null|R0011580|7/11/2011|      null|1199 SEIU PAC - N...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|     1000|        0|       0|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|    204|       P|Quinn, Christine C|        M|     6|     ABC|  null|      null|R0018645|1/10/2013|      null|1199 SEIU PAC - N...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|     3950|        0|    1000|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|    326|       P|   de Blasio, Bill|        N|     1|     ABC|  null|      null|R0005231|4/29/2010|      null|1199/SEIU NYS Pol...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|     4950|        0|       0|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|    326|       P|   de Blasio, Bill|        N|    12|       D|  null|      null|R0028634| 9/8/2013|      null|1199/SEIU NYS Pol...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null| 19084.25|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|    OTHER|    null|     null|     N|   null|      null|
|    2013|       1|    326|       P|   de Blasio, Bill|        N|    16|       D|  null|      null|R0042524| 9/8/2013|      null|1199/SEIU NYS Pol...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|   168.31|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|    WAGES|    null|     null|     N|   null|      null|
|    2013|       1|    326|       P|   de Blasio, Bill|        N|    16|       D|  null|      null|R0042526| 9/8/2013|      null|1199/SEIU NYS Pol...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|       60|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|    PROFL|    null|     null|     N|   null|      null|
|    2013|       1|    326|       P|   de Blasio, Bill|        N|    16|       M|  null|      null|R0028635| 9/8/2013|  9/9/2013|1199/SEIU NYS Pol...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|-19084.25|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|        2|     N|      N|      null|
|    2013|       1|    326|       P|   de Blasio, Bill|        N|    16|       M|  null|      null|R0042525| 9/8/2013|10/28/2013|1199/SEIU NYS Pol...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|  -168.31|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|        2|     N|      N|      null|
|    2013|       1|     FI|       P|       Liu, John C|        N|     3|     ABC|  null|      null|R0008939|7/11/2011|      null|1199SEIU NYS Poli...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|      800|        0|       0|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|     FI|       P|       Liu, John C|        N|     4|     ABC|  null|      null|R0010257|1/11/2012|      null|1199SEIU NYS Poli...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|     2500|        0|     800|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|     FI|       P|       Liu, John C|        N|     5|     ABC|  null|      null|R0012166|4/24/2012|      null|1199SEIU NYS Poli...| PCOMP| null|   null|     null|        M|    New York|   NY|10036|      null|   null|    null|      null|   null|    null|     1650|        0|    3300|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|   1757|      NP|    Person, Carl E|        H|    16|       N|  null|      null|R0000014|     null|      null|            123Print|  CORP| null|   null|     null|     null|   Frederick|   MD|21703|      null|   null|    null|      null|   null|    null|   115.95|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|     BB|       P| Weiner, Anthony D|        J|     1|     ABC|  null|      null|R0001858|7/11/2007|      null|   155 W 21st St LLC|   LLC| null|   null|     null|        Z|Lake Success|   NY|11042|      null|   null|    null|      null|   null|    null|     2000|        0|       0|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|     BB|       P| Weiner, Anthony D|        J|    16|       M|  null|      null|R0007358|7/11/2007| 3/11/2009|   155 W 21st St LLC|   LLC| null|   null|     null|        Z|Lake Success|   NY|11042|      null|   null|    null|      null|   null|    null|    -2000|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|        2|     N|      N|      null|
|    2013|       1|     BB|       P| Weiner, Anthony D|        J|     1|     ABC|  null|      null|R0001860|7/11/2007|      null|    171 Mulberry LLC|   LLC| null|   null|     null|        M|    New York|   NY|10016|      null|   null|    null|      null|   null|    null|      500|        0|       0|         2|       6|Ross, Todd M|    null|    null|    null|New York|   NY| 10004|Ross Insurance Br...|       183|Madison Ave|  New York|      NY|Insurance Brokers|     null|    null|     null|     N|      N|       IND|
|    2013|       1|     BB|       P| Weiner, Anthony D|        J|     1|     ABC|  null|      null|R0002276|7/23/2007|      null|1717 Dallas Partn...|   LLC| null|   null|     null|        Z|      Dallas|   TX|75201|      null|   null|    null|      null|   null|    null|     4950|        0|       0|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|     BB|       P| Weiner, Anthony D|        J|     1|     ABC|  null|      null|R0002281|7/23/2007|      null|1717 Main St Part...|   LLC| null|   null|     null|        Z|      Dallas|   TX|75201|      null|   null|    null|      null|   null|    null|     4950|        0|       0|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|     BB|       P| Weiner, Anthony D|        J|    16|       M|  null|      null|R0008221|7/23/2007|12/22/2010|1717 Main St Part...|   LLC| null|   null|     null|        Z|      Dallas|   TX|75201|      null|   null|    null|      null|   null|    null|    -4950|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|        2|     N|      N|      null|
|    2013|       1|   1669|      NP|    Credico, Randy|        H|     8|     ABC|  null|      null|R0000104|1/14/2013|      null|220 WEST RESTAURA...|  CORP| null|   null|     null|        M|    New York|   NY|10019|      null|   null|    null|      null|   null|    null|      250|        0|       0|         2|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|     null|     N|      N|      null|
|    2013|       1|   1669|      NP|    Credico, Randy|        H|     8|       M|  null|      null|R0000152|1/14/2013| 1/22/2013|220 WEST RESTAURA...|  CORP| null|   null|     null|        M|    New York|   NY|10019|      null|   null|    null|      null|   null|    null|     -250|        0|       0|         0|    null|        null|    null|    null|    null|    null| null|  null|                null|      null|       null|      null|    null|             null|     null|    null|        2|     N|      N|      null|
+--------+--------+-------+--------+------------------+---------+------+--------+------+----------+--------+---------+----------+--------------------+------+-----+-------+---------+---------+------------+-----+-----+----------+-------+--------+----------+-------+--------+---------+---------+--------+----------+--------+------------+--------+--------+--------+--------+-----+------+--------------------+----------+-----------+----------+--------+-----------------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [22]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','REFUNDDATE','INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+------------------+---------+--------------------+------+---------+------------+-----+-----+--------+---------+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|         RECIPNAME|     DATE|                NAME|C_CODE|BOROUGHCD|        CITY|STATE|  ZIP|EMPSTATE|     AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+------------------+---------+--------------------+------+---------+------------+-----+-----+--------+---------+---------+--------+----------+
|    2013|       1|    204|       P|Quinn, Christine C|7/11/2011|1199 SEIU PAC - N...| PCOMP|        M|    New York|   NY|10036|    null|     1000|        0|       0|         2|
|    2013|       1|    204|       P|Quinn, Christine C|1/10/2013|1199 SEIU PAC - N...| PCOMP|        M|    New York|   NY|10036|    null|     3950|        0|    1000|         2|
|    2013|       1|    326|       P|   de Blasio, Bill|4/29/2010|1199/SEIU NYS Pol...| PCOMP|        M|    New York|   NY|10036|    null|     4950|        0|       0|         2|
|    2013|       1|    326|       P|   de Blasio, Bill| 9/8/2013|1199/SEIU NYS Pol...| PCOMP|        M|    New York|   NY|10036|    null| 19084.25|        0|       0|         0|
|    2013|       1|    326|       P|   de Blasio, Bill| 9/8/2013|1199/SEIU NYS Pol...| PCOMP|        M|    New York|   NY|10036|    null|   168.31|        0|       0|         0|
|    2013|       1|    326|       P|   de Blasio, Bill| 9/8/2013|1199/SEIU NYS Pol...| PCOMP|        M|    New York|   NY|10036|    null|       60|        0|       0|         0|
|    2013|       1|    326|       P|   de Blasio, Bill| 9/8/2013|1199/SEIU NYS Pol...| PCOMP|        M|    New York|   NY|10036|    null|-19084.25|        0|       0|         0|
|    2013|       1|    326|       P|   de Blasio, Bill| 9/8/2013|1199/SEIU NYS Pol...| PCOMP|        M|    New York|   NY|10036|    null|  -168.31|        0|       0|         0|
|    2013|       1|     FI|       P|       Liu, John C|7/11/2011|1199SEIU NYS Poli...| PCOMP|        M|    New York|   NY|10036|    null|      800|        0|       0|         2|
|    2013|       1|     FI|       P|       Liu, John C|1/11/2012|1199SEIU NYS Poli...| PCOMP|        M|    New York|   NY|10036|    null|     2500|        0|     800|         2|
|    2013|       1|     FI|       P|       Liu, John C|4/24/2012|1199SEIU NYS Poli...| PCOMP|        M|    New York|   NY|10036|    null|     1650|        0|    3300|         2|
|    2013|       1|   1757|      NP|    Person, Carl E|     null|            123Print|  CORP|     null|   Frederick|   MD|21703|    null|   115.95|        0|       0|         0|
|    2013|       1|     BB|       P| Weiner, Anthony D|7/11/2007|   155 W 21st St LLC|   LLC|        Z|Lake Success|   NY|11042|    null|     2000|        0|       0|         2|
|    2013|       1|     BB|       P| Weiner, Anthony D|7/11/2007|   155 W 21st St LLC|   LLC|        Z|Lake Success|   NY|11042|    null|    -2000|        0|       0|         0|
|    2013|       1|     BB|       P| Weiner, Anthony D|7/11/2007|    171 Mulberry LLC|   LLC|        M|    New York|   NY|10016|    null|      500|        0|       0|         2|
|    2013|       1|     BB|       P| Weiner, Anthony D|7/23/2007|1717 Dallas Partn...|   LLC|        Z|      Dallas|   TX|75201|    null|     4950|        0|       0|         2|
|    2013|       1|     BB|       P| Weiner, Anthony D|7/23/2007|1717 Main St Part...|   LLC|        Z|      Dallas|   TX|75201|    null|     4950|        0|       0|         2|
|    2013|       1|     BB|       P| Weiner, Anthony D|7/23/2007|1717 Main St Part...|   LLC|        Z|      Dallas|   TX|75201|    null|    -4950|        0|       0|         0|
|    2013|       1|   1669|      NP|    Credico, Randy|1/14/2013|220 WEST RESTAURA...|  CORP|        M|    New York|   NY|10019|    null|      250|        0|       0|         2|
|    2013|       1|   1669|      NP|    Credico, Randy|1/14/2013|220 WEST RESTAURA...|  CORP|        M|    New York|   NY|10019|    null|     -250|        0|       0|         0|
+--------+--------+-------+--------+------------------+---------+--------------------+------+---------+------------+-----+-----+--------+---------+---------+--------+----------+
only showing top 20 rows

In [23]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [24]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributerType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod") 

df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [25]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [26]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
df2 = df1.withColumn("Election",df1["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df1["Amount"].cast("Float")) \
  .withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  .withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  .withColumn('Date', func(col('Date')))
df2.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributerType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: float (nullable = true)
 |-- MatchAmt: float (nullable = true)
 |-- PrevAmt: float (nullable = true)
 |-- PayMethod: string (nullable = true)

In [27]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df2.withColumn('ContributerType', regexp_replace('ContributerType', 'CAN', 'Candidate')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'CORP', 'Corporation')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'IND', 'Individual')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'ORG', 'Orgainization')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'SPO', 'Spouse')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'OTHR', 'Other')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributerType', regexp_replace('ContributerType', 'PART', 'Individual')) \

In [28]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [29]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [30]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

+--------+--------+-----------+--------+------------------+----------+--------------------+--------------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|     CandidateName|      Date|                Name|     ContributerType|BoroughName|        City|State|ZipCode|ContributionState|   Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+------------------+----------+--------------------+--------------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
|    2013|       1|        204|       P|Quinn, Christine C|2011-07-11|1199 SEIU PAC - N...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   1000.0|     0.0|    0.0|    Check|
|    2013|       1|        204|       P|Quinn, Christine C|2013-01-10|1199 SEIU PAC - N...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   3950.0|     0.0| 1000.0|    Check|
|    2013|       1|        326|       P|   de Blasio, Bill|2010-04-29|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   4950.0|     0.0|    0.0|    Check|
|    2013|       1|        326|       P|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null| 19084.25|     0.0|    0.0|  Unknown|
|    2013|       1|        326|       P|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   168.31|     0.0|    0.0|  Unknown|
|    2013|       1|        326|       P|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|     60.0|     0.0|    0.0|  Unknown|
|    2013|       1|        326|       P|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|-19084.25|     0.0|    0.0|  Unknown|
|    2013|       1|        326|       P|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|  -168.31|     0.0|    0.0|  Unknown|
|    2013|       1|       null|       P|       Liu, John C|2011-07-11|1199SEIU NYS Poli...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|    800.0|     0.0|    0.0|    Check|
|    2013|       1|       null|       P|       Liu, John C|2012-01-11|1199SEIU NYS Poli...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   2500.0|     0.0|  800.0|    Check|
|    2013|       1|       null|       P|       Liu, John C|2012-04-24|1199SEIU NYS Poli...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   1650.0|     0.0| 3300.0|    Check|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-07-11|   155 W 21st St LLC|Limited Liability...|      Other|Lake Success|   NY|  11042|             null|   2000.0|     0.0|    0.0|    Check|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-07-11|   155 W 21st St LLC|Limited Liability...|      Other|Lake Success|   NY|  11042|             null|  -2000.0|     0.0|    0.0|  Unknown|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-07-11|    171 Mulberry LLC|Limited Liability...|  Manhattan|    New York|   NY|  10016|             null|    500.0|     0.0|    0.0|    Check|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-07-23|1717 Dallas Partn...|Limited Liability...|      Other|      Dallas|   TX|  75201|             null|   4950.0|     0.0|    0.0|    Check|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-07-23|1717 Main St Part...|Limited Liability...|      Other|      Dallas|   TX|  75201|             null|   4950.0|     0.0|    0.0|    Check|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-07-23|1717 Main St Part...|Limited Liability...|      Other|      Dallas|   TX|  75201|             null|  -4950.0|     0.0|    0.0|  Unknown|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-07-11|      30 Carmine LLC|Limited Liability...|  Manhattan|    New York|   NY|  10016|             null|    500.0|     0.0|    0.0|    Check|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-06-21|39-08 103rd Stree...|Limited Liability...|  Manhattan|    New York|   NY|  10030|             null|   2000.0|     0.0|    0.0|    Check|
|    2013|       1|       null|       P| Weiner, Anthony D|2007-12-31|39-08 103rd Stree...|Limited Liability...|  Manhattan|    New York|   NY|  10030|             null|   4900.0|     0.0| 2000.0|    Check|
+--------+--------+-----------+--------+------------------+----------+--------------------+--------------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
only showing top 20 rows

In [31]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [32]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

+--------+-----------+------------------+----------+--------------------+--------------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
|Election|CandidateID|     CandidateName|      Date|                Name|     ContributerType|BoroughName|        City|State|ZipCode|ContributionState|   Amount|MatchAmt|PrevAmt|PayMethod|
+--------+-----------+------------------+----------+--------------------+--------------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
|    2013|        204|Quinn, Christine C|2011-07-11|1199 SEIU PAC - N...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   1000.0|     0.0|    0.0|    Check|
|    2013|        204|Quinn, Christine C|2013-01-10|1199 SEIU PAC - N...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   3950.0|     0.0| 1000.0|    Check|
|    2013|        326|   de Blasio, Bill|2010-04-29|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   4950.0|     0.0|    0.0|    Check|
|    2013|        326|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null| 19084.25|     0.0|    0.0|  Unknown|
|    2013|        326|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   168.31|     0.0|    0.0|  Unknown|
|    2013|        326|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|     60.0|     0.0|    0.0|  Unknown|
|    2013|        326|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|-19084.25|     0.0|    0.0|  Unknown|
|    2013|        326|   de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|  -168.31|     0.0|    0.0|  Unknown|
|    2013|       null|       Liu, John C|2011-07-11|1199SEIU NYS Poli...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|    800.0|     0.0|    0.0|    Check|
|    2013|       null|       Liu, John C|2012-01-11|1199SEIU NYS Poli...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   2500.0|     0.0|  800.0|    Check|
|    2013|       null|       Liu, John C|2012-04-24|1199SEIU NYS Poli...|Political Action ...|  Manhattan|    New York|   NY|  10036|             null|   1650.0|     0.0| 3300.0|    Check|
|    2013|       null| Weiner, Anthony D|2007-07-11|   155 W 21st St LLC|Limited Liability...|      Other|Lake Success|   NY|  11042|             null|   2000.0|     0.0|    0.0|    Check|
|    2013|       null| Weiner, Anthony D|2007-07-11|   155 W 21st St LLC|Limited Liability...|      Other|Lake Success|   NY|  11042|             null|  -2000.0|     0.0|    0.0|  Unknown|
|    2013|       null| Weiner, Anthony D|2007-07-11|    171 Mulberry LLC|Limited Liability...|  Manhattan|    New York|   NY|  10016|             null|    500.0|     0.0|    0.0|    Check|
|    2013|       null| Weiner, Anthony D|2007-07-23|1717 Dallas Partn...|Limited Liability...|      Other|      Dallas|   TX|  75201|             null|   4950.0|     0.0|    0.0|    Check|
|    2013|       null| Weiner, Anthony D|2007-07-23|1717 Main St Part...|Limited Liability...|      Other|      Dallas|   TX|  75201|             null|   4950.0|     0.0|    0.0|    Check|
|    2013|       null| Weiner, Anthony D|2007-07-23|1717 Main St Part...|Limited Liability...|      Other|      Dallas|   TX|  75201|             null|  -4950.0|     0.0|    0.0|  Unknown|
|    2013|       null| Weiner, Anthony D|2007-07-11|      30 Carmine LLC|Limited Liability...|  Manhattan|    New York|   NY|  10016|             null|    500.0|     0.0|    0.0|    Check|
|    2013|       null| Weiner, Anthony D|2007-06-21|39-08 103rd Stree...|Limited Liability...|  Manhattan|    New York|   NY|  10030|             null|   2000.0|     0.0|    0.0|    Check|
|    2013|       null| Weiner, Anthony D|2007-12-31|39-08 103rd Stree...|Limited Liability...|  Manhattan|    New York|   NY|  10030|             null|   4900.0|     0.0| 2000.0|    Check|
+--------+-----------+------------------+----------+--------------------+--------------------+-----------+------------+-----+-------+-----------------+---------+--------+-------+---------+
only showing top 20 rows

In [33]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [34]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_comm_2013_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_comm_2013_df.show()

+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+---------+--------+-------+---------+-----------+
|Election|CandidateID|       CandidateName|      Date|                Name|     ContributerType|BoroughName|      City|State|ZipCode|ContributionState|   Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+---------+--------+-------+---------+-----------+
|    2013|        204|  Quinn, Christine C|2011-07-11|1199 SEIU PAC - N...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null|   1000.0|     0.0|    0.0|    Check|     1000.0|
|    2013|        204|  Quinn, Christine C|2013-01-10|1199 SEIU PAC - N...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null|   3950.0|     0.0| 1000.0|    Check|     4950.0|
|    2013|        326|     de Blasio, Bill|2010-04-29|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null|   4950.0|     0.0|    0.0|    Check|     4950.0|
|    2013|        326|     de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null| 19084.25|     0.0|    0.0|  Unknown|   19084.25|
|    2013|        326|     de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null|   168.31|     0.0|    0.0|  Unknown|     168.31|
|    2013|        326|     de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null|     60.0|     0.0|    0.0|  Unknown|       60.0|
|    2013|        326|     de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null|-19084.25|     0.0|    0.0|  Unknown|  -19084.25|
|    2013|        326|     de Blasio, Bill|2013-09-08|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|  New York|   NY|  10036|             null|  -168.31|     0.0|    0.0|  Unknown|    -168.31|
|    2013|        260|Thompson, Jr., Wi...|2013-01-11|A.L. Larrieux Con...|               Other|     Queens|   Jamaica|   NY|  11435|             null|    250.0|     0.0|    0.0|    Check|      250.0|
|    2013|       1690|     Lhota, Joseph J|2013-10-12|ACEC NEW YORK CIT...|               Other|  Manhattan|  New York|   NY|  10018|             null|   1000.0|     0.0|    0.0|    Check|     1000.0|
|    2013|        326|     de Blasio, Bill|2013-10-01|ACEC New York Cit...|Political Action ...|  Manhattan|  New York|   NY|  10018|             null|   1000.0|     0.0|    0.0|    Check|     1000.0|
|    2013|        326|     de Blasio, Bill|2011-12-08|Advertising Devel...|Political Action ...|  Manhattan|  New York|   NY|  10019|             null|    500.0|     0.0|    0.0|    Check|      500.0|
|    2013|        326|     de Blasio, Bill|2013-11-01|AFSCME International|         Labor Union|      Other|Washington|   DC|  20036|             null|   4950.0|     0.0|    0.0|    Check|     4950.0|
|    2013|       1796|      Hidary, Jack D|2013-10-23|            Agent 99|         Corporation|      Other| Tarrytown|   Ne|  10591|             null|   1000.0|     0.0|    0.0|    Check|     1000.0|
|    2013|       1796|      Hidary, Jack D|2013-10-29|            Agent 99|         Corporation|      Other| Tarrytown|   Ne|  10591|             null|    500.0|     0.0| 1000.0|    Check|     1500.0|
|    2013|        260|Thompson, Jr., Wi...|2011-07-08|Alexander Durst 2...|               Other|  Manhattan|  New York|   NY|  10036|             null|   1685.0|     0.0|    0.0|    Check|     1685.0|
|    2013|        260|Thompson, Jr., Wi...|2012-12-20|Alexander M Dudelson|               Other|   Brooklyn|  Brooklyn|   NY|  11242|             null|    175.0|     0.0|    0.0|    Check|      175.0|
|    2013|       1690|     Lhota, Joseph J|2013-09-16|ALVARES & MARSAL PAC|               Other|      Other|WASHINGTON|   DC|  20004|             null|   1500.0|     0.0|    0.0|    Check|     1500.0|
|    2013|        326|     de Blasio, Bill|2013-10-07|Alvarez & Marsal PAC|Political Action ...|      Other|Washington|   DC|  20004|             null|   1500.0|     0.0|    0.0|    Check|     1500.0|
|    2013|        326|     de Blasio, Bill|2013-10-20|American Federati...|         Labor Union|      Other|Washington|   DC|  20001|             null|   4950.0|     0.0|    0.0|    Check|     4950.0|
+--------+-----------+--------------------+----------+--------------------+--------------------+-----------+----------+-----+-------+-----------------+---------+--------+-------+---------+-----------+
only showing top 20 rows

In [35]:
# import modules
from pyspark.sql import SparkSession
import functools
  
# explicit function
def unionAll(dfs):
    return functools.reduce(lambda clean_indiv_2013_df, clean_comm_2013_df: clean_indiv_2013_df.union(clean_comm_2013_df.select(clean_indiv_2013_df.columns)), dfs)

unioned_df = unionAll([clean_indiv_2013_df, clean_comm_2013_df])
unioned_df.show()

+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
|Election|CandidateID|       CandidateName|      Date|               Name|ContributerType|  BoroughName|          City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|  PayMethod|TotalAmount|
+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
|    2013|       1286|Coenen, Jr., Kevin P|2013-01-25|    Coenen, Kevin P|      Candidate|        Other|     Nesconset|   NY|  11767|               NY|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1286|Coenen, Jr., Kevin P|2013-04-17|     Walter, Dorsey|     Individual|    Manhattan|      New York|   NY|  10150|             null| 175.0|   175.0|    0.0|Credit Card|      350.0|
|    2013|       1286|Coenen, Jr., Kevin P|2013-01-25|    Coenen, Kevin P|      Candidate|        Other|     Nesconset|   NY|  11767|             null| -10.0|     0.0|    0.0|    Unknown|      -10.0|
|    2013|       1551|     Marks, Philip A|2012-02-13|      Marks, Philip|      Candidate|     Brooklyn|      Brooklyn|   NY|  11236|               NY| 400.0|   175.0|    0.0|      Check|      575.0|
|    2013|       1551|     Marks, Philip A|2013-02-28|      Marks, Philip|      Candidate|     Brooklyn|      Brooklyn|   NY|  11236|               NY| 100.0|     0.0|  400.0|       Cash|      500.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-24|         Roc, Stacy|     Individual|        Other|     Uniondale|   NY|  11553|             null|  10.0|     0.0|    0.0|       Cash|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-18|         He, Yufeng|     Individual|     Brooklyn|      Brooklyn|   NY|  11220|             null|  10.0|    10.0|    0.0|       Cash|       20.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-05-18|    Yaqoobi, Naseir|     Individual|        Other| Lake Hiawatha|   NJ|   7034|               NJ|  10.0|     0.0|    0.0|       Cash|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-12|        Fung, Kevin|     Individual|        Bronx|         Bronx|   NY|  10461|             null|  10.0|    10.0|    0.0|       Cash|       20.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-08-01|Monroe, Christopher|     Individual|        Other|   Mt. Lebanon|   PA|  15228|               NJ|  10.0|     0.0|   10.0|Credit Card|       20.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-31|     Beegan, Daniel|     Individual|        Other|   Beech Grove|   IN|  46107|               IN|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|         Will, Eric|     Individual|        Other|     Knoxville|   TN|  37920|             null|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|         Will, Eric|     Individual|        Other|     Knoxville|   TN|  37920|             null|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-29|Monroe, Christopher|     Individual|        Other|   Mt. Lebanon|   PA|  15228|               NJ|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-19|      Judd, Timothy|     Individual|        Other|       Houston|   TX|  77018|             null|  10.0|     0.0|    0.0|Credit Card|       10.0|
|    2013|       1639|Berkowitz, Ceceil...|2013-07-19|    Laohoo, William|     Individual|        Other|East Brunswick|   NJ|   8816|             null|  20.0|     0.0|    0.0|Credit Card|       20.0|
|    2013|       1666|    Salgado, Erick J|2012-12-13|    Acevedo, Alexie|     Individual|        Other|     Brentwood|   NY|  11717|               NY| 100.0|     0.0|    0.0|       Cash|      100.0|
|    2013|       1666|    Salgado, Erick J|2012-12-26|   Salgado, Erick J|      Candidate|Staten Island| Staten Island|   NY|  10302|               NJ|4000.0|   175.0|    0.0|      Check|     4175.0|
|    2013|       1666|    Salgado, Erick J|2012-12-14|     Vargas, Lucino|     Individual|     Brooklyn|      Brooklyn|   NY|  11220|               NJ| 500.0|   175.0|    0.0|      Check|      675.0|
|    2013|       1666|    Salgado, Erick J|2012-12-13|    Torres, Marcial|     Individual|        Other|       Matawan|   NJ|   7747|               NJ| 500.0|     0.0|    0.0|      Check|      500.0|
+--------+-----------+--------------------+----------+-------------------+---------------+-------------+--------------+-----+-------+-----------------+------+--------+-------+-----------+-----------+
only showing top 20 rows

In [36]:
#Export to new CSV
unioned_df.toPandas().to_csv("Unioned_2013.csv", header=True)

PythonException: ignored

In [ ]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "*****",
          "driver":"org.postgresql.Driver"}

In [ ]:
#Export to new CSV
#clean_comm_2013_df.toPandas().to_csv("Clean_Committee_2013.csv", header=True)

In [ ]:
## Write DataFrame to active_user table in RDS
#clean_indiv_2013_df.write.jdbc(url=jdbc_url, table='individual_2013', mode=mode, properties=config)

In [ ]:
# Write DataFrame to active_user table in RDS
#clean_comm_2013_df.write.jdbc(url=jdbc_url, table='committee_2013', mode=mode, properties=config)