<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/Expenditures_2017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:6 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [67.4 kB]
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:13 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,326 kB]
Hit:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,761 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,802 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,428 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,202 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [922 kB]
Fetched 11.8 MB in 6s (1,915 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-19 22:38:01--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  1.22MB/s    in 0.8s

2021-09-19 22:38:03 (1.22 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Expenditures+2017.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Expenditures+2017.csv"), sep=",", header=True)
df.show()

+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+--------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|  INV_DATE|      DATE|                NAME|C_CODE|ORG_IND|STRNO|STRNAME|APARTMENT|          CITY|STATE|  ZIP|PAY_METHOD|  AMNT|PURPOSECD|         PURPOSE|             EXPLAIN|EXEMPTCD|RR_IND|SEG_IND|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+--------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
|    2017|       5|    D4|       P|   McMillan|    Jimmy|  null|        L|    16|       N|  null|      null|R0000161|      null| 2/26/2017|	Global Office Se...|   LLC|      Y| null|   null|     null| Lawrenceville|   GA|30045|      null|  4910|    OTHER|Other: explntion|   Website & Hosting|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|    10|       F|  null|      null|R0000801|  8/3/2017|  8/3/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 58.12|    PETIT| Petition Expns.|Gas gas for petition|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|    13|       F|  null|      null|R0000972| 9/30/2017| 9/30/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 36.51|    OTHER|Other: explntion|      canvassing Gas|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|    14|       F|  null|      null|R0001087| 10/7/2017| 10/7/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 35.99|    PETIT| Petition Expns.|        gas purchase|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|    14|       F|  null|      null|R0001291|10/18/2017|10/18/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown|  41.7|    PETIT| Petition Expns.|        gas purchase|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|     9|       F|  null|      null|R0000461| 6/20/2017| 6/20/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 59.57|    PETIT| Petition Expns.|Gas gas for petition|    null|     N|      N|
|    2017|       5|  2077|       P|      Green|   Rupert|  null|        H|     9|       F|  null|      null|R0000494| 6/29/2017| 6/29/2017| , British Petroleum|  OTHR|      Y| null|   null|     null|  Saint Albans|   NY|11412|   Unknown| 52.18|    PETIT| Petition Expns.|    Gas for petition|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    14|       F|  null|      null|R0001528|10/18/2017|10/18/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown|    25|    OTHER|Other: explntion|            Gas Card|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    14|       F|  null|      null|R0001530|10/18/2017|10/18/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown|    25|    OTHER|Other: explntion|            Gas Card|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    14|       F|  null|      null|R0001532|10/18/2017|10/18/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown|    25|    OTHER|Other: explntion|            Gas Card|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    14|       F|  null|      null|R0001534|10/18/2017|10/18/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown|    25|    OTHER|Other: explntion|            Gas Card|    null|     N|      N|
|    2017|       5|  1849|       P|  Concannon|   Joseph|     R|        K|    15|       F|  null|      null|R0001790| 11/2/2017| 11/2/2017|0007832 Queens Vi...|  CORP|      Y| null|   null|     null|Queens Village|   NY|11427|   Unknown| 32.76|    OTHER|Other: explntion|                 Gas|    null|     N|      N|
|    2017|       5|  1930|       P|     Rivera|  Carlina|     L|        H|    14|       F|  null|      null|R0006756|10/15/2017|10/15/2017|   1&1 Internet Inc.|  CORP|      Y| null|   null|     null|  Chesterbrook|   PA|19087|   Unknown| 40.17|    OFFCE| Office Expenses|         Domain Host|    null|     N|      N|
|    2017|       5|  1930|       P|     Rivera|  Carlina|     L|        H|     6|       F|  null|      null|R0001701|10/15/2016|10/15/2016|   1&1 Internet Inc.|  CORP|      Y| null|   null|     null|  Chesterbrook|   PA|19087|   Unknown| 20.17|    OFFCE| Office Expenses|         Domain Host|    null|     N|      N|
|    2017|       5|  1930|       P|     Rivera|  Carlina|     L|        H|     6|       F|  null|      null|R0001989|11/15/2016|11/18/2016|   1&1 Internet Inc.|  CORP|      Y| null|   null|     null|  Chesterbrook|   PA|19087|   Unknown| 11.17|    OFFCE| Office Expenses|         Domain Host|    null|     N|      N|
|    2017|       5|  1985|       P|    Beltzer|  Michael|  null|        H|     6|       F|  null|      null|R0000425| 12/8/2016|12/13/2016|   1&1 Internet Inc.|  CORP|      Y| null|   null|     null|  Chesterbrook|   PA|19087|   Unknown| 32.05|    PROFL|    Prof. Srvcs.|         Web Hosting|    null|     N|      N|
|    2017|       5|  2009|       P|    Hormeku|   Mawuli|     K|        H|     9|       F|  null|      null|R0000933| 6/19/2017| 6/19/2017|       1-800-Flowers|  CORP|      Y| null|   null|     null|          null| null| null|   Unknown| 87.06|    OTHER|Other: explntion|               Gifts|    null|     N|      N|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul|     J|        H|     8|       F|  null|      null|R0005483| 3/22/2017| 3/23/2017|    1-800Flowers.com|  CORP|      Y| null|   null|     null|   Carle Place|   NY|11514|   Unknown| 63.12|    OFFCE| Office Expenses|             Flowers|    null|     N|      N|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul|     J|        H|     8|       F|  null|      null|R0005991|  4/6/2017| 4/10/2017|10 St. James Parking|  CORP|      Y| null|   null|     null|        Boston|   MA| 2116|   Unknown|    30|    FUNDR|     Fundraising|     Parking BOS 4/6|    null|     N|      N|
|    2017|       1|   326|       P|  de Blasio|     Bill|  null|        P|    11|       F|  null|      null|R0080222| 7/21/2017| 8/14/2017|100 Chickens Prod...|  CORP|      Y| null|   null|     null|      Brooklyn|   NY|11201|   Unknown|518.72|    OFFCE| Office Expenses|           Utilities|    null|     N|      N|
+--------+--------+------+--------+-----------+---------+------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-------+-----+-------+---------+--------------+-----+-----+----------+------+---------+----------------+--------------------+--------+------+-------+
only showing top 20 rows

In [5]:
df.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CANDLAST',
 'CANDFIRST',
 'CANDMI',
 'COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'DATE',
 'NAME',
 'C_CODE',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
 'CITY',
 'STATE',
 'ZIP',
 'PAY_METHOD',
 'AMNT',
 'PURPOSECD',
 'PURPOSE',
 'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND']

In [6]:
# Remove multiple columns
list = ['CANDMI','COMMITTEE',
 'FILING',
 'SCHEDULE',
 'PAGENO',
 'SEQUENCENO',
 'REFNO',
 'INV_DATE',
 'NAME',
 'ORG_IND',
 'STRNO',
 'STRNAME',
 'APARTMENT',
  'EXPLAIN',
 'EXEMPTCD',
 'RR_IND',
 'SEG_IND',
 'PAY_METHOD'] 
df = df.drop(*list)
df.show()

+--------+--------+------+--------+-----------+---------+----------+------+--------------+-----+-----+------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|      DATE|C_CODE|          CITY|STATE|  ZIP|  AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+-----------+---------+----------+------+--------------+-----+-----+------+---------+----------------+
|    2017|       5|    D4|       P|   McMillan|    Jimmy| 2/26/2017|   LLC| Lawrenceville|   GA|30045|  4910|    OTHER|Other: explntion|
|    2017|       5|  2077|       P|      Green|   Rupert|  8/3/2017|  OTHR|  Saint Albans|   NY|11412| 58.12|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|      Green|   Rupert| 9/30/2017|  OTHR|  Saint Albans|   NY|11412| 36.51|    OTHER|Other: explntion|
|    2017|       5|  2077|       P|      Green|   Rupert| 10/7/2017|  OTHR|  Saint Albans|   NY|11412| 35.99|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|      Green|   Rupert|10/18/2017|  OTHR|  Saint Albans|   NY|11412|  41.7|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|      Green|   Rupert| 6/20/2017|  OTHR|  Saint Albans|   NY|11412| 59.57|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|      Green|   Rupert| 6/29/2017|  OTHR|  Saint Albans|   NY|11412| 52.18|    PETIT| Petition Expns.|
|    2017|       5|  1849|       P|  Concannon|   Joseph|10/18/2017|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|  Concannon|   Joseph|10/18/2017|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|  Concannon|   Joseph|10/18/2017|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|  Concannon|   Joseph|10/18/2017|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|  Concannon|   Joseph| 11/2/2017|  CORP|Queens Village|   NY|11427| 32.76|    OTHER|Other: explntion|
|    2017|       5|  1930|       P|     Rivera|  Carlina|10/15/2017|  CORP|  Chesterbrook|   PA|19087| 40.17|    OFFCE| Office Expenses|
|    2017|       5|  1930|       P|     Rivera|  Carlina|10/15/2016|  CORP|  Chesterbrook|   PA|19087| 20.17|    OFFCE| Office Expenses|
|    2017|       5|  1930|       P|     Rivera|  Carlina|11/18/2016|  CORP|  Chesterbrook|   PA|19087| 11.17|    OFFCE| Office Expenses|
|    2017|       5|  1985|       P|    Beltzer|  Michael|12/13/2016|  CORP|  Chesterbrook|   PA|19087| 32.05|    PROFL|    Prof. Srvcs.|
|    2017|       5|  2009|       P|    Hormeku|   Mawuli| 6/19/2017|  CORP|          null| null| null| 87.06|    OTHER|Other: explntion|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul| 3/23/2017|  CORP|   Carle Place|   NY|11514| 63.12|    OFFCE| Office Expenses|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul| 4/10/2017|  CORP|        Boston|   MA| 2116|    30|    FUNDR|     Fundraising|
|    2017|       1|   326|       P|  de Blasio|     Bill| 8/14/2017|  CORP|      Brooklyn|   NY|11201|518.72|    OFFCE| Office Expenses|
+--------+--------+------+--------+-----------+---------+----------+------+--------------+-----+-----+------+---------+----------------+
only showing top 20 rows

In [7]:
#Combine the Candidate first and last name columns
from pyspark.sql.functions import concat_ws
df2 = df.withColumn("CandidateName", concat_ws(",","CANDFIRST",'CANDLAST'))
df2.show()

+--------+--------+------+--------+-----------+---------+----------+------+--------------+-----+-----+------+---------+----------------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CANDLAST|CANDFIRST|      DATE|C_CODE|          CITY|STATE|  ZIP|  AMNT|PURPOSECD|         PURPOSE|   CandidateName|
+--------+--------+------+--------+-----------+---------+----------+------+--------------+-----+-----+------+---------+----------------+----------------+
|    2017|       5|    D4|       P|   McMillan|    Jimmy| 2/26/2017|   LLC| Lawrenceville|   GA|30045|  4910|    OTHER|Other: explntion|  Jimmy,McMillan|
|    2017|       5|  2077|       P|      Green|   Rupert|  8/3/2017|  OTHR|  Saint Albans|   NY|11412| 58.12|    PETIT| Petition Expns.|    Rupert,Green|
|    2017|       5|  2077|       P|      Green|   Rupert| 9/30/2017|  OTHR|  Saint Albans|   NY|11412| 36.51|    OTHER|Other: explntion|    Rupert,Green|
|    2017|       5|  2077|       P|      Green|   Rupert| 10/7/2017|  OTHR|  Saint Albans|   NY|11412| 35.99|    PETIT| Petition Expns.|    Rupert,Green|
|    2017|       5|  2077|       P|      Green|   Rupert|10/18/2017|  OTHR|  Saint Albans|   NY|11412|  41.7|    PETIT| Petition Expns.|    Rupert,Green|
|    2017|       5|  2077|       P|      Green|   Rupert| 6/20/2017|  OTHR|  Saint Albans|   NY|11412| 59.57|    PETIT| Petition Expns.|    Rupert,Green|
|    2017|       5|  2077|       P|      Green|   Rupert| 6/29/2017|  OTHR|  Saint Albans|   NY|11412| 52.18|    PETIT| Petition Expns.|    Rupert,Green|
|    2017|       5|  1849|       P|  Concannon|   Joseph|10/18/2017|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|Joseph,Concannon|
|    2017|       5|  1849|       P|  Concannon|   Joseph|10/18/2017|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|Joseph,Concannon|
|    2017|       5|  1849|       P|  Concannon|   Joseph|10/18/2017|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|Joseph,Concannon|
|    2017|       5|  1849|       P|  Concannon|   Joseph|10/18/2017|  CORP|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|Joseph,Concannon|
|    2017|       5|  1849|       P|  Concannon|   Joseph| 11/2/2017|  CORP|Queens Village|   NY|11427| 32.76|    OTHER|Other: explntion|Joseph,Concannon|
|    2017|       5|  1930|       P|     Rivera|  Carlina|10/15/2017|  CORP|  Chesterbrook|   PA|19087| 40.17|    OFFCE| Office Expenses|  Carlina,Rivera|
|    2017|       5|  1930|       P|     Rivera|  Carlina|10/15/2016|  CORP|  Chesterbrook|   PA|19087| 20.17|    OFFCE| Office Expenses|  Carlina,Rivera|
|    2017|       5|  1930|       P|     Rivera|  Carlina|11/18/2016|  CORP|  Chesterbrook|   PA|19087| 11.17|    OFFCE| Office Expenses|  Carlina,Rivera|
|    2017|       5|  1985|       P|    Beltzer|  Michael|12/13/2016|  CORP|  Chesterbrook|   PA|19087| 32.05|    PROFL|    Prof. Srvcs.| Michael,Beltzer|
|    2017|       5|  2009|       P|    Hormeku|   Mawuli| 6/19/2017|  CORP|          null| null| null| 87.06|    OTHER|Other: explntion|  Mawuli,Hormeku|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul| 3/23/2017|  CORP|   Carle Place|   NY|11514| 63.12|    OFFCE| Office Expenses|Paul,Massey, Jr.|
|    2017|       1|  1958|      NP|Massey, Jr.|     Paul| 4/10/2017|  CORP|        Boston|   MA| 2116|    30|    FUNDR|     Fundraising|Paul,Massey, Jr.|
|    2017|       1|   326|       P|  de Blasio|     Bill| 8/14/2017|  CORP|      Brooklyn|   NY|11201|518.72|    OFFCE| Office Expenses|  Bill,de Blasio|
+--------+--------+------+--------+-----------+---------+----------+------+--------------+-----+-----+------+---------+----------------+----------------+
only showing top 20 rows

In [8]:
#Rearrange column order
df3=df2.select('ELECTION','OFFICECD', 'CANDID', 'CANCLASS', 'CandidateName', 'CANDLAST', 'CANDFIRST','C_CODE', "DATE", 'CITY', 'STATE',  'ZIP', 'AMNT', 'PURPOSECD', 'PURPOSE')

In [9]:
#Drop OFFICECD and CANCLASS
list1 = ['CANDLAST', 'CANDFIRST'] 
df4 = df3.drop(*list1)
df4.show()

+--------+--------+------+--------+----------------+------+----------+--------------+-----+-----+------+---------+----------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|   CandidateName|C_CODE|      DATE|          CITY|STATE|  ZIP|  AMNT|PURPOSECD|         PURPOSE|
+--------+--------+------+--------+----------------+------+----------+--------------+-----+-----+------+---------+----------------+
|    2017|       5|    D4|       P|  Jimmy,McMillan|   LLC| 2/26/2017| Lawrenceville|   GA|30045|  4910|    OTHER|Other: explntion|
|    2017|       5|  2077|       P|    Rupert,Green|  OTHR|  8/3/2017|  Saint Albans|   NY|11412| 58.12|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|    Rupert,Green|  OTHR| 9/30/2017|  Saint Albans|   NY|11412| 36.51|    OTHER|Other: explntion|
|    2017|       5|  2077|       P|    Rupert,Green|  OTHR| 10/7/2017|  Saint Albans|   NY|11412| 35.99|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|    Rupert,Green|  OTHR|10/18/2017|  Saint Albans|   NY|11412|  41.7|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|    Rupert,Green|  OTHR| 6/20/2017|  Saint Albans|   NY|11412| 59.57|    PETIT| Petition Expns.|
|    2017|       5|  2077|       P|    Rupert,Green|  OTHR| 6/29/2017|  Saint Albans|   NY|11412| 52.18|    PETIT| Petition Expns.|
|    2017|       5|  1849|       P|Joseph,Concannon|  CORP|10/18/2017|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|Joseph,Concannon|  CORP|10/18/2017|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|Joseph,Concannon|  CORP|10/18/2017|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|Joseph,Concannon|  CORP|10/18/2017|Queens Village|   NY|11427|    25|    OTHER|Other: explntion|
|    2017|       5|  1849|       P|Joseph,Concannon|  CORP| 11/2/2017|Queens Village|   NY|11427| 32.76|    OTHER|Other: explntion|
|    2017|       5|  1930|       P|  Carlina,Rivera|  CORP|10/15/2017|  Chesterbrook|   PA|19087| 40.17|    OFFCE| Office Expenses|
|    2017|       5|  1930|       P|  Carlina,Rivera|  CORP|10/15/2016|  Chesterbrook|   PA|19087| 20.17|    OFFCE| Office Expenses|
|    2017|       5|  1930|       P|  Carlina,Rivera|  CORP|11/18/2016|  Chesterbrook|   PA|19087| 11.17|    OFFCE| Office Expenses|
|    2017|       5|  1985|       P| Michael,Beltzer|  CORP|12/13/2016|  Chesterbrook|   PA|19087| 32.05|    PROFL|    Prof. Srvcs.|
|    2017|       5|  2009|       P|  Mawuli,Hormeku|  CORP| 6/19/2017|          null| null| null| 87.06|    OTHER|Other: explntion|
|    2017|       1|  1958|      NP|Paul,Massey, Jr.|  CORP| 3/23/2017|   Carle Place|   NY|11514| 63.12|    OFFCE| Office Expenses|
|    2017|       1|  1958|      NP|Paul,Massey, Jr.|  CORP| 4/10/2017|        Boston|   MA| 2116|    30|    FUNDR|     Fundraising|
|    2017|       1|   326|       P|  Bill,de Blasio|  CORP| 8/14/2017|      Brooklyn|   NY|11201|518.72|    OFFCE| Office Expenses|
+--------+--------+------+--------+----------------+------+----------+--------------+-----+-----+------+---------+----------------+
only showing top 20 rows

In [10]:
# check data types
df4.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('CANDID', 'string'),
 ('CANCLASS', 'string'),
 ('CandidateName', 'string'),
 ('C_CODE', 'string'),
 ('DATE', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('AMNT', 'string'),
 ('PURPOSECD', 'string'),
 ('PURPOSE', 'string')]

In [11]:
df4.columns

['ELECTION',
 'OFFICECD',
 'CANDID',
 'CANCLASS',
 'CandidateName',
 'C_CODE',
 'DATE',
 'CITY',
 'STATE',
 'ZIP',
 'AMNT',
 'PURPOSECD',
 'PURPOSE']

In [12]:
#Change column names
df5 = df4 \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("CANDID", "CandidateID") \
.withColumnRenamed("C_CODE", "ContributionType") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("PURPOSECD", "PurposeCode") \
.withColumnRenamed("PURPOSE", "Purpose") 

df5.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- ContributionType: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [13]:
# changing datatypes of columns
df6 = df5 \
  .withColumn("Election",df5["Election"].cast("Integer")) \
  .withColumn("OFFICECD", df5["OFFICECD"].cast("Integer")) \
  .withColumn("CandidateID", df5["CandidateID"].cast("Integer")) \
  .withColumn("ZipCode", df5["ZipCode"].cast("Integer")) \
  .withColumn("Amount", df5["Amount"].cast("Integer")) \
  
df6.printSchema()

root
 |-- Election: integer (nullable = true)
 |-- OFFICECD: integer (nullable = true)
 |-- CandidateID: integer (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- ContributionType: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- Amount: integer (nullable = true)
 |-- PurposeCode: string (nullable = true)
 |-- Purpose: string (nullable = true)

In [14]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df7 = df6.withColumn("ContributionType", regexp_replace("ContributionType", 'CAN', 'Candidate')) \
  .withColumn('ContributionType', regexp_replace("ContributionType", 'CORP', 'Corporation')) \
  .withColumn('ContributionType', regexp_replace("ContributionType", 'EMPO', 'Labor Union')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'FAM', 'Candidate Family')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'IND', 'Individual')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMZ', 'Party Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'ORG', 'Orgainization')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'LLC', 'Limited Liability Company')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMP', 'Political Action Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'SPO', ' Candidates Spouse')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'OTHR', 'Other')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PCOMC', 'Candidate Committee')) \
  .withColumn("ContributionType", regexp_replace("ContributionType", 'PART', 'Individual')) \

In [15]:
#Change Purpose Code value names
from pyspark.sql.functions import regexp_replace
df8 = df7.withColumn('PurposeCode', regexp_replace('PurposeCode', 'ADVAN', 'Advance Repayment')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMAIL', 'Campaign Mail')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CMISC', 'Miscellaneous')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CNTRB', 'Political Contributions')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'COMPL', 'Compliance Cost')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSL', 'Campaign Consultants')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'CONSV', 'Constituent Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'FUNDR', 'Fundraising')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'INTER', 'Interest Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'LITER', 'Campaign Literature')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'NQUAL', 'Non Qualified Expenditures')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OFFCE', 'Office Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'OTHER', 'Other')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PETIT', 'Petition Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POLLS', 'Polling Costs')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'POSTA', 'Postal Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PRINT', 'Printing Expenses')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'PROFL', 'Professional Services')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RADIO', 'Radio Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'RENTO', 'Office Rent')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'TVADS', 'Television Ads')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'UNKN', 'Unknown')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'VOTER', 'Voter Registration')) \
  .withColumn('PurposeCode', regexp_replace('PurposeCode', 'WAGES', 'Campaign Workers Salaries')) \

In [16]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df9 = df8.filter((df6.OFFICECD=="1") & (df8.CANCLASS=="P"))
df9.show()

+--------+--------+-----------+--------+------------------+----------------+----------+----------------+-----+-------+------+--------------------+----------------+
|Election|OFFICECD|CandidateID|CANCLASS|     CandidateName|ContributionType|      Date|            City|State|ZipCode|Amount|         PurposeCode|         Purpose|
+--------+--------+-----------+--------+------------------+----------------+----------+----------------+-----+-------+------+--------------------+----------------+
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation| 8/14/2017|        Brooklyn|   NY|  11201|   518|     Office Expenses| Office Expenses|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation| 9/21/2017|        Brooklyn|   NY|  11201|  1041|     Office Expenses| Office Expenses|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation|12/29/2017|        Brooklyn|   NY|  11201|  1500|         Office Rent|     Office Rent|
|    2017|       1|       2055|       P|Roque,De La Fuente|     Corporation| 7/14/2017|        New York|   NY|  10025|  6000|Professional Serv...|    Prof. Srvcs.|
|    2017|       1|       2055|       P|Roque,De La Fuente|     Corporation|  6/9/2017|        New York|   NY|  10025|  6000|Professional Serv...|    Prof. Srvcs.|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation| 10/3/2016|        New York|   NY|  10128|   262|               Other|Other: explntion|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation|  6/7/2017|        Brooklyn|   NY|  11217|   800|         Fundraising|     Fundraising|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation|12/28/2017|Long Island City|   NY|  11101|  1000|         Fundraising|     Fundraising|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation| 9/27/2017|        New York|   NY|  10016|   938|               Other|Other: explntion|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation| 8/31/2016|        New York|   NY|  10040|    21|               Other|Other: explntion|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation|10/19/2016|        New York|   NY|  10040|  2000|         Fundraising|     Fundraising|
|    2017|       1|       2054|       P|      Robert,Gangi|     Corporation| 7/15/2017|        New York|   NY|  10024|   780| Campaign Literature|     Campgn Lit.|
|    2017|       1|       2054|       P|      Robert,Gangi|     Corporation|  4/5/2017|        New York|   NY|  10024|   887|               Other|Other: explntion|
|    2017|       1|       2054|       P|      Robert,Gangi|     Corporation| 4/19/2017|        New York|   NY|  10024|    26|               Other|Other: explntion|
|    2017|       1|       2054|       P|      Robert,Gangi|     Corporation| 5/12/2017|        New York|   NY|  10024|   915| Campaign Literature|     Campgn Lit.|
|    2017|       1|       2054|       P|      Robert,Gangi|     Corporation|  6/5/2017|        New York|   NY|  10024|   437| Campaign Literature|     Campgn Lit.|
|    2017|       1|       2054|       P|      Robert,Gangi|     Corporation|  6/5/2017|        New York|   NY|  10024|   330| Campaign Literature|     Campgn Lit.|
|    2017|       1|       2054|       P|      Robert,Gangi|     Corporation| 6/12/2017|        New York|   NY|  10024|  1330| Campaign Literature|     Campgn Lit.|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation|10/13/2015|        New York|   NY|  10010|    63|               Other|Other: explntion|
|    2017|       1|        326|       P|    Bill,de Blasio|     Corporation| 9/12/2017|        Brooklyn|   NY|  11205|   807|               Other|Other: explntion|
+--------+--------+-----------+--------+------------------+----------------+----------+----------------+-----+-------+------+--------------------+----------------+
only showing top 20 rows

In [17]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df9.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [18]:
#Replace Replace 0 for null on only Amount column 
df10 = df9.na.fill(value=0,subset=["Amount"])

In [19]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
Expenditures_2017_df = df10.drop(*list2)
Expenditures_2017_df.show()

+--------+-----------+------------------+----------------+----------+----------------+-----+-------+------+--------------------+----------------+
|Election|CandidateID|     CandidateName|ContributionType|      Date|            City|State|ZipCode|Amount|         PurposeCode|         Purpose|
+--------+-----------+------------------+----------------+----------+----------------+-----+-------+------+--------------------+----------------+
|    2017|        326|    Bill,de Blasio|     Corporation| 8/14/2017|        Brooklyn|   NY|  11201|   518|     Office Expenses| Office Expenses|
|    2017|        326|    Bill,de Blasio|     Corporation| 9/21/2017|        Brooklyn|   NY|  11201|  1041|     Office Expenses| Office Expenses|
|    2017|        326|    Bill,de Blasio|     Corporation|12/29/2017|        Brooklyn|   NY|  11201|  1500|         Office Rent|     Office Rent|
|    2017|       2055|Roque,De La Fuente|     Corporation| 7/14/2017|        New York|   NY|  10025|  6000|Professional Serv...|    Prof. Srvcs.|
|    2017|       2055|Roque,De La Fuente|     Corporation|  6/9/2017|        New York|   NY|  10025|  6000|Professional Serv...|    Prof. Srvcs.|
|    2017|        326|    Bill,de Blasio|     Corporation| 10/3/2016|        New York|   NY|  10128|   262|               Other|Other: explntion|
|    2017|        326|    Bill,de Blasio|     Corporation|  6/7/2017|        Brooklyn|   NY|  11217|   800|         Fundraising|     Fundraising|
|    2017|        326|    Bill,de Blasio|     Corporation|12/28/2017|Long Island City|   NY|  11101|  1000|         Fundraising|     Fundraising|
|    2017|        326|    Bill,de Blasio|     Corporation| 9/27/2017|        New York|   NY|  10016|   938|               Other|Other: explntion|
|    2017|        326|    Bill,de Blasio|     Corporation| 8/31/2016|        New York|   NY|  10040|    21|               Other|Other: explntion|
|    2017|        326|    Bill,de Blasio|     Corporation|10/19/2016|        New York|   NY|  10040|  2000|         Fundraising|     Fundraising|
|    2017|       2054|      Robert,Gangi|     Corporation| 7/15/2017|        New York|   NY|  10024|   780| Campaign Literature|     Campgn Lit.|
|    2017|       2054|      Robert,Gangi|     Corporation|  4/5/2017|        New York|   NY|  10024|   887|               Other|Other: explntion|
|    2017|       2054|      Robert,Gangi|     Corporation| 4/19/2017|        New York|   NY|  10024|    26|               Other|Other: explntion|
|    2017|       2054|      Robert,Gangi|     Corporation| 5/12/2017|        New York|   NY|  10024|   915| Campaign Literature|     Campgn Lit.|
|    2017|       2054|      Robert,Gangi|     Corporation|  6/5/2017|        New York|   NY|  10024|   437| Campaign Literature|     Campgn Lit.|
|    2017|       2054|      Robert,Gangi|     Corporation|  6/5/2017|        New York|   NY|  10024|   330| Campaign Literature|     Campgn Lit.|
|    2017|       2054|      Robert,Gangi|     Corporation| 6/12/2017|        New York|   NY|  10024|  1330| Campaign Literature|     Campgn Lit.|
|    2017|        326|    Bill,de Blasio|     Corporation|10/13/2015|        New York|   NY|  10010|    63|               Other|Other: explntion|
|    2017|        326|    Bill,de Blasio|     Corporation| 9/12/2017|        Brooklyn|   NY|  11205|   807|               Other|Other: explntion|
+--------+-----------+------------------+----------------+----------+----------------+-----+-------+------+--------------------+----------------+
only showing top 20 rows

In [20]:
#Export to new CSV
Expenditures_2017_df.toPandas().to_csv("Clean_Expenditures_2017.csv", header=True)

In [21]:
# Store environmental variable
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "FinalProject05",
          "driver":"org.postgresql.Driver"}

In [22]:
# Write DataFrame to active_user table in RDS
Expenditures_2017_df.write.jdbc(url=jdbc_url, table='expenditures_2017', mode=mode, properties=config)

Py4JJavaError: ignored