In [3]:
# Initial imports
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import pandas as pd
import numpy as np

In [4]:
file = '../Resources/Contributions_2013.csv'
IC_2017 = pd.read_csv(file,index_col='CandidateName')
uncleaned = pd.read_csv(file,index_col=False)
IC_2017.head()

/Users/Abir/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Election,CandidateID,Date,Name,ContributerType,BoroughName,City,State,ZipCode,ContributionState,Amount,MatchAmt,PrevAmt,PayMethod,TotalAmount
CandidateName,,,,,,,,,,,,,,,,
"Coenen, Jr., Kevin P",0,2013,1286,1/25/2013,"Coenen, Kevin P",Candidate,Other,Nesconset,NY,11767.0,NY,10.0,0.0,0.0,Credit Card,10.0
"Coenen, Jr., Kevin P",1,2013,1286,4/17/2013,"Walter, Dorsey",Individual,Manhattan,New York,NY,10150.0,NaN,175.0,175.0,0.0,Credit Card,350.0
"Coenen, Jr., Kevin P",2,2013,1286,1/25/2013,"Coenen, Kevin P",Candidate,Other,Nesconset,NY,11767.0,NaN,-10.0,0.0,0.0,Unknown,-10.0
"Marks, Philip A",3,2013,1551,2/13/2012,"Marks, Philip",Candidate,Brooklyn,Brooklyn,NY,11236.0,NY,400.0,175.0,0.0,Check,575.0
"Marks, Philip A",4,2013,1551,2/28/2013,"Marks, Philip",Candidate,Brooklyn,Brooklyn,NY,11236.0,NY,100.0,0.0,400.0,Cash,500.0

In [5]:
IC_2017.columns

Index(['Unnamed: 0', 'Election', 'CandidateID', 'Date', 'Name',
       'ContributerType', 'BoroughName', 'City', 'State', 'ZipCode',
       'ContributionState', 'Amount', 'MatchAmt', 'PrevAmt', 'PayMethod',
       'TotalAmount'],
      dtype='object')

In [6]:
IC_2017['ZipCode'] = IC_2017['ZipCode'].apply(str)

In [7]:
IC_2017_df = IC_2017.drop(columns=['ContributionState','PayMethod','Name','CandidateID','Unnamed: 0','Election','BoroughName'])
IC_2017_df.groupby(['CandidateName']).sum(['TotalAmount']).groupby

<bound method DataFrame.groupby of                                 Amount  MatchAmt     PrevAmt   TotalAmount
CandidateName
Albanese, Sal F               27178.00       0.0     3750.00  3.092800e+04
Berkowitz, Ceceilia J           120.00      20.0       10.00  1.500000e+02
Broady-Fernandez, Hilda K      1535.00     581.0      125.00  2.241000e+03
Coenen, Jr., Kevin P            175.00     175.0        0.00  3.500000e+02
Hidary, Jack D               589596.67   75302.0    11168.00  6.760667e+05
Laurel-Smith, Abiodun          3970.00     175.0     8050.00  1.219500e+04
Lhota, Joseph J             3534348.21  592210.0   854714.80  4.981273e+06
Liu, John C                  239200.00       0.0   165300.00  4.045000e+05
Marks, Philip A                 500.00     175.0      400.00  1.075000e+03
Quinn, Christine C          8206058.97  689206.0  3196277.98  1.209154e+07
Salgado, Erick J             363565.09   41929.0    89360.00  4.948541e+05
Thompson, Jr., William C    4911412.70  417722.0   782317.00  6.111452e+06
Weiner, Anthony D            225088.74       0.0     5100.00  2.301887e+05
de Blasio, Bill            11073226.59  926504.0  2970633.25  1.497036e+07>

In [8]:
outcome = []
for i in uncleaned['CandidateName']:
    if i == 'de Blasio, Bill':
        outcome.append('W')
    else:
        outcome.append('L')

IC_2017_df['Outcome'] = outcome
IC_2017_df.head()

,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount,Outcome
CandidateName,,,,,,,,,,
"Coenen, Jr., Kevin P",1/25/2013,Candidate,Nesconset,NY,11767.0,10.0,0.0,0.0,10.0,L
"Coenen, Jr., Kevin P",4/17/2013,Individual,New York,NY,10150.0,175.0,175.0,0.0,350.0,L
"Coenen, Jr., Kevin P",1/25/2013,Candidate,Nesconset,NY,11767.0,-10.0,0.0,0.0,-10.0,L
"Marks, Philip A",2/13/2012,Candidate,Brooklyn,NY,11236.0,400.0,175.0,0.0,575.0,L
"Marks, Philip A",2/28/2013,Candidate,Brooklyn,NY,11236.0,100.0,0.0,400.0,500.0,L

In [9]:
IC_2017_df = IC_2017_df.dropna()
IC_2017_df.isnull().sum()

Date               0
ContributerType    0
City               0
State              0
ZipCode            0
Amount             0
MatchAmt           0
PrevAmt            0
TotalAmount        0
Outcome            0
dtype: int64

In [10]:
IC_2017_df['ContributerType'].unique()

array(['Candidate', 'Individual', 'Candidate Family', 'Other',
       'Political Action Committee', 'Limited Liability Company',
       'Labor Union', 'Spouse', 'Candidate Committee', 'Corporation',
       'Party Committee'], dtype=object)

In [11]:
X = IC_2017_df.drop('Outcome',axis = 1)
X = pd.get_dummies(X)

In [12]:
y = IC_2017_df['Outcome']

In [21]:
X.shape

(47597, 6838)

In [13]:
# Check the balance of our target values
y.value_counts()

L    30435
W    17162
Name: Outcome, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE

from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier(n_estimators = 100,random_state = 1)
random_forest = random_forest.fit(X_train, y_train)

In [23]:
X_train.head()

,Amount,MatchAmt,PrevAmt,TotalAmount,Date_1/1/2012,Date_1/1/2013,Date_1/10/2007,Date_1/10/2008,Date_1/10/2010,Date_1/10/2011,...,ZipCode_99201.0,ZipCode_99352.0,ZipCode_99354.0,ZipCode_99516.0,ZipCode_99520.0,ZipCode_99577.0,ZipCode_99801.0,ZipCode_99802.0,ZipCode_99999.0,ZipCode_nan
CandidateName,,,,,,,,,,,,,,,,,,,,,
"de Blasio, Bill",6.0,0.0,0.0,6.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Thompson, Jr., William C",4950.0,175.0,0.0,5125.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Quinn, Christine C",500.0,0.0,0.0,500.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Lhota, Joseph J",50.0,50.0,0.0,100.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Lhota, Joseph J",-175.0,0.0,0.0,-175.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
random_forest.feature_importances_

array([5.76548794e-02, 2.61491708e-02, 2.57638436e-02, ...,
       3.36621830e-06, 1.21984495e-05, 4.09514639e-04])

In [30]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.8008064939083069

In [17]:
# Display the confusion matrix
# YOUR CODE HERE
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[6282, 1352],
       [ 944, 3322]])

In [18]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          L       0.87      0.82      0.78      0.85      0.80      0.64      7634
          W       0.71      0.78      0.82      0.74      0.80      0.64      4266

avg / total       0.81      0.81      0.79      0.81      0.80      0.64     11900