In [90]:
# Initial imports
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import pandas as pd
import numpy as np

In [91]:
file = 'Resources/Clean_Indivdual_2017.csv'
IC_2017 = pd.read_csv(file,index_col=False)
IC_2017.head()

,Unnamed: 0,Election,CandidateID,CandidateName,Date,Name,ContributerType,BoroughName,City,State,ZipCode,ContributionState,Amount,MatchAmt,PrevAmt,PayMethod,TotalAmount
0,0,2017,326,"de Blasio, Bill",2017-08-07,"A Hayes, Melinda",Individual,Brooklyn,Brooklyn,NY,11213.0,NY,5.0,5.0,0.0,Credit Card,10.0
1,1,2017,2071,"Malliotakis, Nicole",2017-09-20,"Aalbue, Raymond",Individual,Brooklyn,Brooklyn,NY,11209.0,NaN,100.0,100.0,0.0,Credit Card,200.0
2,2,2017,2051,"Slattery, Collin",2017-06-01,"Aaron, Allen",Individual,Queens,Howard Beach,NY,11414.0,NaN,50.0,50.0,0.0,Credit Card,100.0
3,3,2017,326,"de Blasio, Bill",2017-10-23,"Aarons, Natasha",Individual,Manhattan,New York,NY,10027.0,NY,175.0,175.0,0.0,Credit Card,350.0
4,4,2017,326,"de Blasio, Bill",2016-05-08,"Ababio, Carol",Individual,Other,Riverview,FL,33579.0,NY,175.0,0.0,0.0,Credit Card,175.0

In [92]:
IC_2017.columns

Index(['Unnamed: 0', 'Election', 'CandidateID', 'CandidateName', 'Date',
       'Name', 'ContributerType', 'BoroughName', 'City', 'State', 'ZipCode',
       'ContributionState', 'Amount', 'MatchAmt', 'PrevAmt', 'PayMethod',
       'TotalAmount'],
      dtype='object')

In [93]:
IC_2017_df = IC_2017.drop(columns=['ZipCode','CandidateName','ContributionState','PayMethod','Name','CandidateID','Unnamed: 0','Election','BoroughName'])
IC_2017_df

,Date,ContributerType,City,State,Amount,MatchAmt,PrevAmt,TotalAmount
0,2017-08-07,Individual,Brooklyn,NY,5.0,5.0,0.0,10.0
1,2017-09-20,Individual,Brooklyn,NY,100.0,100.0,0.0,200.0
2,2017-06-01,Individual,Howard Beach,NY,50.0,50.0,0.0,100.0
3,2017-10-23,Individual,New York,NY,175.0,175.0,0.0,350.0
4,2016-05-08,Individual,Riverview,FL,175.0,0.0,0.0,175.0
...,...,...,...,...,...,...,...,...
27442,2017-09-25,Individual,New York,NY,175.0,125.0,50.0,350.0
27443,2017-10-22,Individual,New York,NY,50.0,50.0,0.0,100.0
27444,2017-01-09,Individual,Astoria,NY,50.0,50.0,0.0,100.0
27445,2017-02-10,Individual,Brooklyn,NY,3.0,3.0,0.0,6.0
27446,2017-06-30,Individual,Brooklyn,NY,25.0,25.0,0.0,50.0

In [94]:
outcome = []
for i in IC_2017['CandidateName']:
    if i == 'de Blasio, Bill':
        outcome.append('W')
    else:
        outcome.append('L')

IC_2017_df['Outcome'] = outcome

In [95]:
IC_2017_df = IC_2017_df.dropna()
IC_2017_df.isnull().sum()

Date               0
ContributerType    0
City               0
State              0
Amount             0
MatchAmt           0
PrevAmt            0
TotalAmount        0
Outcome            0
dtype: int64

In [96]:
X = IC_2017_df.drop('Outcome',axis = 1)
X = pd.get_dummies(X)

In [97]:
y = IC_2017_df['Outcome']

In [98]:
# IC_2017_df['CandidateName'].value_counts()

In [99]:
# Check the balance of our target values
y.value_counts()

W    19164
L     8216
Name: Outcome, dtype: int64

In [100]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [101]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE

from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier(n_estimators = 5,random_state = 1)
random_forest = random_forest.fit(X_train, y_train)

In [102]:
X_train

,Amount,MatchAmt,PrevAmt,TotalAmount,Date_2014-04-01,Date_2014-04-07,Date_2014-04-10,Date_2014-04-21,Date_2014-04-24,Date_2014-04-25,...,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_nj,State_ny
3356,-50.0,0.0,0.0,-50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19048,-1.0,0.0,0.0,-1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20306,50.0,50.0,0.0,100.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1108,1000.0,0.0,1000.0,2000.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9746,175.0,0.0,400.0,575.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10984,5.0,5.0,0.0,10.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17343,25.0,25.0,0.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5205,300.0,0.0,0.0,300.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12201,25.0,25.0,0.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235,20.0,0.0,0.0,20.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.8333723731626912

In [104]:
X_test

,Amount,MatchAmt,PrevAmt,TotalAmount,Date_2014-04-01,Date_2014-04-07,Date_2014-04-10,Date_2014-04-21,Date_2014-04-24,Date_2014-04-25,...,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_nj,State_ny
26257,500.0,175.0,0.0,675.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9963,1.5,1.0,0.0,2.5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4837,175.0,175.0,0.0,350.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16431,20.0,0.0,0.0,20.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
694,500.0,0.0,1850.0,2350.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20580,25.0,0.0,0.0,25.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16189,50.0,50.0,50.0,150.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16349,25.0,25.0,0.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11875,20.0,20.0,0.0,40.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1448,25.0,25.0,0.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
len(y_test)

6845

In [106]:
X_test.shape

(6845, 2234)

In [107]:
test = X_test.copy()

In [108]:
test['true_values'] = y_test
test['predictions'] = y_pred
test.head(n =20)

,Amount,MatchAmt,PrevAmt,TotalAmount,Date_2014-04-01,Date_2014-04-07,Date_2014-04-10,Date_2014-04-21,Date_2014-04-24,Date_2014-04-25,...,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_nj,State_ny,true_values,predictions
26257,500.0,175.0,0.0,675.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
9963,1.5,1.0,0.0,2.5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,W
4837,175.0,175.0,0.0,350.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
16431,20.0,0.0,0.0,20.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,W
694,500.0,0.0,1850.0,2350.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,L
23464,27.0,27.0,0.0,54.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,W
15104,5.0,5.0,6.0,16.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,W
8520,5.0,5.0,0.0,10.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,W
1642,25.0,25.0,0.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
932,25.0,25.0,0.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,L
15549,25.0,25.0,0.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
22423,100.0,100.0,0.0,200.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
8808,100.0,100.0,0.0,200.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
13682,27.0,27.0,77.0,131.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,W
9445,25.0,25.0,0.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
8063,175.0,175.0,0.0,350.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
27397,100.0,100.0,0.0,200.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
7003,500.0,125.0,50.0,675.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,L,L
11759,250.0,0.0,0.0,250.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,W
13292,50.0,50.0,0.0,100.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,W,W

In [109]:
# Display the confusion matrix
# YOUR CODE HERE
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1756,  301],
       [ 895, 3893]])

In [110]:
IC_2017_df.head()

,Date,ContributerType,City,State,Amount,MatchAmt,PrevAmt,TotalAmount,Outcome
0,2017-08-07,Individual,Brooklyn,NY,5.0,5.0,0.0,10.0,W
1,2017-09-20,Individual,Brooklyn,NY,100.0,100.0,0.0,200.0,L
2,2017-06-01,Individual,Howard Beach,NY,50.0,50.0,0.0,100.0,L
3,2017-10-23,Individual,New York,NY,175.0,175.0,0.0,350.0,W
4,2016-05-08,Individual,Riverview,FL,175.0,0.0,0.0,175.0,W

In [111]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.neighbors import KNeighborsClassifier
le = LabelEncoder()
# IC_2017_df['CandidateName']= le.fit_transform(IC_2017_df['CandidateName'])
IC_2017_df['Date'] = le.fit_transform(IC_2017_df['Date'])
IC_2017_df['ContributerType'] = le.fit_transform(IC_2017_df['ContributerType'])
IC_2017_df['City'] = le.fit_transform(IC_2017_df['City'])
IC_2017_df['Amount'] = le.fit_transform(IC_2017_df['Amount'])
IC_2017_df['State'] = le.fit_transform(IC_2017_df['State'])
# IC_2017_df['ZipCod e'] = le.fit_transform(IC_2017_df['ZipCode'])
IC_2017_df['MatchAmt'] = le.fit_transform(IC_2017_df['MatchAmt'])
IC_2017_df['PrevAmt'] = le.fit_transform(IC_2017_df['PrevAmt'])
IC_2017_df['TotalAmount'] = le.fit_transform(IC_2017_df['TotalAmount'])
IC_2017_df['Outcome'] = le.fit_transform(IC_2017_df['Outcome'])

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/Abir/.local/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [112]:
# separate train features and label
y = IC_2017_df["Outcome"]
X = IC_2017_df.drop(labels=["Outcome"], axis=1)
# split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)
# train and test knn model
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
knn.predict(X_test)
print("Testing Accuracy is: ", knn.score(X_test, y_test)*100, "%")

Testing Accuracy is:  87.01607012417824 %

In [113]:
scaler = MinMaxScaler(feature_range=(0, 1))

In [114]:
features = list(IC_2017_df.columns)

In [115]:
IC_2017_df[features] = scaler.fit_transform(IC_2017_df[features])

/Users/Abir/.local/lib/python3.7/site-packages/pandas/core/frame.py:3673: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [116]:
IC_2017_df

,Date,ContributerType,City,State,Amount,MatchAmt,PrevAmt,TotalAmount,Outcome
0,0.815235,0.666667,0.106684,0.66,0.325581,0.070423,0.000000,0.135642,1.0
1,0.886548,0.666667,0.106684,0.66,0.554264,0.760563,0.000000,0.515152,0.0
2,0.706645,0.666667,0.360540,0.66,0.496124,0.535211,0.000000,0.372294,0.0
3,0.940032,0.666667,0.555913,0.66,0.616279,1.000000,0.000000,0.633478,1.0
4,0.184765,0.666667,0.710154,0.22,0.616279,0.000000,0.000000,0.481962,1.0
...,...,...,...,...,...,...,...,...,...
27442,0.894652,0.666667,0.555913,0.66,0.616279,0.845070,0.249453,0.633478,0.0
27443,0.938412,0.666667,0.555913,0.66,0.496124,0.535211,0.000000,0.372294,0.0
27444,0.474878,0.666667,0.026350,0.66,0.496124,0.535211,0.000000,0.372294,1.0
27445,0.526742,0.666667,0.106684,0.66,0.294574,0.042254,0.000000,0.118326,1.0
27446,0.753647,0.666667,0.106684,0.66,0.434109,0.323944,0.000000,0.268398,1.0